
<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <div class="category-wrapper w-100 mt-5">
    <div class="card w-100" *ngIf="!isLoading">
  <div class="card-header" >
    <strong>View Marketplace Product</strong>
    <div class="pull-right">   
      <button *ngIf="addEditDelete" type="button" class="btn btn-primary mr-2" (click)="route(object.id,'edit')" title="Edit"> <i class="fa fa-pencil"></i> </button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/market']" title="Back"> <i class="fa fa-arrow-left"></i> </button>
    </div>
  </div>
    <div class="card-block viewmode">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Name</label>
            <p>{{object.name}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Category</label>
            <p>{{object.category_id ? object.category_id.name ? object.category_id.name : object.category_id : '-'}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Price</label>
            <p>{{object.price}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Quantity</label>
            <p>{{object.quantity}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Featured</label>
            <p>{{object.isFeatured ? 'Yes' : 'No'}}</p>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Created At</label>
            <p>{{object.createdAt | date:'dd/mm/yy'}}</p>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <div class="form-group">
            <label for="nf-name">Detail</label>
            <p style="position: relative; 
            left: 20px;" [innerHTML]=object.description></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>