<!-- <app-loader [isLoading]="isLoading"></app-loader> -->
<!-- loading section -->
<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<!-- section ends  -->
<div class="content js-content">
  <div class="card w-100 mt-5">
    <div class="card-header d-flex">
      <span>Bulk Upload Products</span>
      <div class="pull-rights">
        <button
          type="button"
          class="btn btn-primary"
          (click)="back()"
          title="Back"
        >
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
    </div>
    <!-- <div class="row align-items-center">
          <div class="col-sm-7 col-lg-4 col-md-4 col-12">
             <strong>Bulk Upload Items</strong> </div>
          <div class="col-sm-5 col-lg-8 col-md-8 col-12 text-right linehght custombuttons pr-0">
            <button type="button" class="btn btn-secondary btn-rounded"  title="Back"> 
              <i class="fa fa-arrow-left"></i> </button>
        </div>
      </div> -->

    <div class="card-block viewmode mb-3">
      <div class="row">
        <!-- <div class="col-sm-6">
            <input type="file" name="File Upload" id="txtFileUpload" 
          (change)="uploadCSV($event)" 
          accept=".csv"/>
          </div> -->

        <div class="col-sm-6">
          <div class="form-group">
            <label
              class="blocklabel"
              for="nf-image"
              title="You can upload maximum 5 images"
              >Please Upload CSV</label
            >
            <input
              type="file"
              name="file-7[]"
              id="file-7"
              class="inputfile inputfile-6"
              data-multiple-caption="{count} files selected"
              multiple
              imageUpload
              (imageSelected)="uploadImage($event)"
              accept=".csv"
            />
            <label for="file-7">
              <strong>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="17"
                  viewBox="0 0 20 17"
                >
                  <path
                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                  />
                </svg>
                Select</strong
              ></label
            >
            <!-- <div class="thumbnail pointer-custom" *ngIf="object.image">
                  <img src="{{_host}}/images/dispensary/{{object.image}}">
                    <i class="close fa fa-times" (click)="object.image=''"></i>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
