<div class="head">
  <div class="actions">
    <ul>
      <li>
        <i class="fa fa-bell" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-envelope mr-4" aria-hidden="true"></i>
      </li>
      <li>
        <div class="user-photo dropdown mr-4">
          <a
            class="dropdown-toggle"
            id="dropdownMenuButton"
            data-toggle="dropdown"
          >
            <img alt="profile photo" src="assets/img/avatar_user.jpg" />
          </a>
          <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item" href="#">
              <i class="fa fa-user mr-3" aria-hidden="true"></i
              ><span class="drop-text"> Profile</span></a
            >
            <a class="dropdown-item" href="#"
              ><i class="fa fa-cog mr-3" aria-hidden="true"></i
              ><span class="drop-text">Setting</span>
            </a> -->
              <a class="dropdown-item" [routerLink]="['/profile']">
                <i class="fa fa-user mr-3" aria-hidden="true"></i
                ><span class="drop-text"> Profile</span></a
              >
              <a class="dropdown-item" [routerLink]="['/setting']"
                ><i class="fa fa-cog mr-3" aria-hidden="true"></i
                ><span class="drop-text">Setting</span>
              </a>
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                (click)="logout()"
              >
                <i class="fa fa-sign-out mr-3" aria-hidden="true"></i
                ><span class="drop-text">Logout</span></a
              >
          </div>
        </div>
      </li>
      <!-- <li>
          <svg width="18" height="18" viewBox="0 0 512 512">
            <path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z" fill="currentColor"></path>
          </svg>
        </li> -->
    </ul>
  </div>
</div>
