.user-photo img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    border-radius: 28px;
    object-fit: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #50b75e;
}
.dropdown-toggle::after {
    color: #50b75e;
}
.actions li {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.bar {
    position: absolute;
    left: 5rem;
    top: 12px;
    color: #50b75e;
    font-size: 16px;
}

