<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <div class="category-wrapper w-100 mt-5">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-sm-7 col-lg-4 col-md-4 col-12"> <strong>View Product</strong> </div>
        <div class="col-sm-5 col-lg-8 col-md-8 col-12 text-right linehght custombuttons pr-0">
          <button  type="button" class="btn btn-success mr-2" (click)="route(object.id,'edit')">Edit</button>
          <button type="button" class="btn btn-secondary mr-3" [routerLink]="['/product']"  title="Back">
             <i class="fa fa-arrow-left"></i> </button>
          </div>
      </div>
    </div>
    
    <div class="card-block viewmode">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Name</label>
            <p>{{object.name}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">City</label>
            <p>{{object.city}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Type</label>
            <p>{{object.category_id.name}}</p>
          </div>
        </div>
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Category</label>
            <span *ngFor="let obj of object.productCategory">{{obj.name}}</span>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Product Subcategory</label><br>
            <!-- <p>{{object.product_subcategory}}</p> -->
            <span *ngFor="let obj of object.product_subcategoryname"><button style="margin: 2px;" class="btn btn-default">{{obj}}</button>&nbsp;</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Reward Point</label>
            <p>{{object.reward_point ? object.reward_point :'-'}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">THC Range%</label>
            <p>{{object.thc}} - {{object.thcrange}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">CBD Range%</label>
            <p>{{object.cbd}} - {{object.cbdrange}}</p>
          </div>
        </div>
     
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">User Visits</label>
            <p>{{object.user_visits}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nf-name">Created At</label>
            <p>{{object.createdAt | date:'dd/mm/yy'}}</p>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="nf-name">Detail</label>
            <p style="position: relative;
            right: -1rem;">{{object.detail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>