<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <!-- loading section ends  -->
  <div class="card">
    <div class="card-header d-flex">
      <span>{{ ID ? 'Edit' : 'Add' }} Product</span>
      <div class="pull-rights">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/product']"
          title="Back"
        >
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
    </div>
    <!-- form to add or update Product -->
    <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="nf-name">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder=""
                minlength="3"
                maxlength="50"
                (keyup)="trim('name')"
                #name="ngModel"
                [ngModel]="object.name"
                (ngModelChange)="object.name = $event"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="name.errors?.required && name.touched"
                  class="text-danger"
                >
                  Name is required.
                </small>
                <small
                  *ngIf="name.errors?.minlength && name.touched"
                  class="text-danger"
                >
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <div class="form-group">
              <label for="nf-name">Second Name</label>
              <input
                type="text"
                id="second_name"
                name="second_name"
                class="form-control"
                placeholder=""
                minlength="3"
                maxlength="50"
                (keyup)="trim('second_name')"
                #second_name="ngModel"
                [ngModel]="object.second_name"
                (ngModelChange)="object.second_name = $event"
              />
              <div class="error-block">
                <small
                  *ngIf="second_name.errors?.required && second_name.touched"
                  class="text-danger"
                >
                  Second name is required.
                </small>
                <small
                  *ngIf="second_name.errors?.minlength && second_name.touched"
                  class="text-danger"
                >
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-1" *ngIf="object.type != 'reward'">
            <div class="form-group">
              <label for="nf-user_visits">User Visits</label>
              <input
                type="number"
                id="nf-user_visits"
                name="user_visits"
                #user_visits="ngModel"
                [(ngModel)]="object.user_visits"
                (keydown.space)="$event.preventDefault()"
                class="form-control"
                min="0"
                placeholder=""
              />
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <div class="form-group has-required">
              <label for="category_id">Type</label>
              <select
                id="category_id"
                name="category_id"
                [(ngModel)]="object.type"
                #type="ngModel"
                class="form-control"
                size="1"
                required=""
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let ocat of othercategories"
                  value="{{ ocat.id }}"
                >
                  {{ ocat.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="type.errors?.required && type.touched"
                  class="text-danger"
                >
                  Other Category is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type == 'reward'">
            <div class="form-group has-required">
              <label for="othercategory">Reward Type</label>
              <select
                id="reward_type"
                name="reward_type"
                class="form-control"
                size="1"
                [(ngModel)]="object.reward_type"
                #reward_type="ngModel"
                required=""
              >
                <option value="">Please select</option>
                <option value="product">Product</option>
                <option value="coupon">Coupon</option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="reward_type.errors?.required && reward_type.touched"
                  class="text-danger"
                >
                  Reward Type is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <div class="form-group has-required">
              <label for="category_id">Product Category</label>
              <select
                id="category_id"
                name="category_id"
                class="form-control"
                size="1"
                [(ngModel)]="object.category_id"
                #category_id="ngModel"
                required=""
                (change)="changeLabel($event.target.value)"
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let cat of poscustomcategories"
                  value="{{ cat.id }}"
                >
                  {{ cat.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type == 'reward'">
            <div class="form-group has-required">
              <label for="category_id">Reward Category</label>
              <select
                id="category_id"
                name="category_id"
                class="form-control"
                size="1"
                [(ngModel)]="object.category_id"
                #category_id="ngModel"
                required=""
                (change)="changeLabel($event.target.value)"
              >
                <option value="">Please select</option>
                <option
                  [ngClass]="{ hide: cat.type != object.type }"
                  *ngFor="let cat of rewardcategories"
                  value="{{ cat.id }}"
                >
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="category_id.errors?.required && category_id.touched"
                  class="text-danger"
                >
                  Reward Category is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type == 'reward'">
            <div class="form-group has-required">
              <label for="nf-reward_point">Reward Point</label>
              <input
                type="number"
                id="nf-reward_point"
                name="reward_point"
                #reward_point="ngModel"
                class="form-control"
                [(ngModel)]="object.reward_point"
                step="0.1"
                (keydown.space)="$event.preventDefault()"
                min="0"
                placeholder=""
                required
              />
              <div class="error-block">
                <small
                  *ngIf="reward_point.errors?.required && reward_point.touched"
                  class="text-danger"
                >
                  Reward Point is required.
                </small>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-2">
                        <div class="form-group has-required">
                            <label for="nf-reward_point">Reward Point</label>
                            <input type="number" id="nf-reward_point" name="reward_point" min="0" placeholder="" required>
                        </div>
                    </div> -->
          <div class="col-sm-3" *ngIf="object.type != 'reward'">
            <div class="form-group has-required">
              <label for="nf-thc">{{ newLabelTMC }}</label>
              <div class="row">
                <div class="col-sm-6" *ngIf="object.type != 'reward'">
                  <div class="form-group has-required">
                    <input
                      type="number"
                      id="nf-thc"
                      name="thc"
                      #thc="ngModel"
                      class="form-control"
                      [(ngModel)]="object.thc"
                      step="0.1"
                      (keydown.space)="$event.preventDefault()"
                      min="0"
                      max="1000"
                      placeholder=""
                    />
                    <div class="error-block">
                      <!-- <small *ngIf="thc.errors?.required && thc.touched" class="text-danger">
                                            THC % is required.
                                        </small>        -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="object.type != 'reward'">
                  <div class="form-group">
                    <!-- <label>&nbsp;</label> -->
                    <input
                      type="number"
                      id="nf-thcrange"
                      name="thcrange"
                      #thcrange="ngModel"
                      class="form-control"
                      [(ngModel)]="object.thcrange"
                      step="0.1"
                      (keydown.space)="$event.preventDefault()"
                      min="0"
                      max="1000"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- <div class="col-md-6" *ngIf="object.type != 'reward'">
                  <div class="form-group">
                  
                    <input
                      type="number"
                      id="nf-thcrange"
                      name="thcrange"
                      #thcrange="ngModel"
                      class="form-control"
                      [(ngModel)]="object.thcrange"
                      step="0.1"
                      (keydown.space)="$event.preventDefault()"
                      min="0"
                      max="1000"
                      placeholder=""
                    />
                  </div>
                </div> -->
                <!-- <div class="col-md-6">
                            <input type="number" id="nf-thc" name="thc"  class="form-control" min="0" max="100" placeholder="" required>
                                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="object.type != 'reward'">
          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <label for="nf-cbd">{{ newLabelMCB }}</label>
            <div class="row">
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group has-required">
                  <input
                    type="number"
                    id="nf-cbd"
                    name="cbd"
                    #cbd="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbd"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                  <div class="error-block">
                    <!-- <small *ngIf="cbd.errors?.required && cbd.touched" class="text-danger">
                                  CBD % is required.
                              </small>           -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group">
                  <!-- <label>&nbsp;</label> -->
                  <input
                    type="number"
                    id="nf-cbdrange"
                    name="cbdrange"
                    #cbdrange="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbdrange"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <label for="nf-cbg">CBG Range %</label>
            <div class="row">
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group has-required">
                  <input
                    type="number"
                    id="nf-cbg"
                    name="cbg"
                    #cbg="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbg"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                  <div class="error-block">
                    <!-- <small *ngIf="cbd.errors?.required && cbd.touched" class="text-danger">
                                  CBD % is required.
                              </small>           -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group">
                  <!-- <label>&nbsp;</label> -->
                  <input
                    type="number"
                    id="nf-cbgrange"
                    name="cbgrange"
                    #cbgrange="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbgrange"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <label for="nf-cbn">CBN Range %</label>
            <div class="row">
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group has-required">
                  <input
                    type="number"
                    id="nf-cbn"
                    name="cbn"
                    #cbn="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbn"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                  <div class="error-block">
                    <!-- <small *ngIf="cbd.errors?.required && cbd.touched" class="text-danger">
                                  CBD % is required.
                              </small>           -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group">
                  <!-- <label>&nbsp;</label> -->
                  <input
                    type="number"
                    id="nf-cbnrange"
                    name="cbnrange"
                    #cbnrange="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbnrange"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <label for="nf-cba">CBC Range %</label>
            <div class="row">
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group has-required">
                  <input
                    type="number"
                    id="nf-cba"
                    name="cba"
                    #cba="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cba"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                  <div class="error-block">
                    <!-- <small *ngIf="cbd.errors?.required && cbd.touched" class="text-danger">
                                  CBD % is required.
                              </small>           -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="object.type != 'reward'">
                <div class="form-group">
                  <!-- <label>&nbsp;</label> -->
                  <input
                    type="number"
                    id="nf-cbarange"
                    name="cbarange"
                    #cbarange="ngModel"
                    class="form-control"
                    [(ngModel)]="object.cbarange"
                    step="0.1"
                    (keydown.space)="$event.preventDefault()"
                    min="0"
                    max="1000"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="producer">Producer</label>
              <select
                id="producer"
                name="producer"
                class="form-control"
                size="1"
                [(ngModel)]="object.producer"
                #producer="ngModel"
                required=""
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let cat of ProducerArray"
                  value="{{ cat.producer_id }}"
                >
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="producer.errors?.required && producer.touched"
                  class="text-danger"
                >
                  Producer is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <label for="nf-lineage">Lineage</label>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group has-required">
                  <input
                    type="text"
                    id="nf-lineage"
                    name="lineage"
                    #lineage="ngModel"
                    class="form-control"
                    [(ngModel)]="object.lineage"
                    placeholder=""
                  />
                  <div class="error-block">
                    <!-- <small *ngIf="cbd.errors?.required && cbd.touched" class="text-danger">
                                  CBD % is required.
                              </small>           -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="market">Terpen Profile</label>
              <select
                id="terpene_profile"
                name="terpene_profile"
                multiple=""
                #market="ngModel"
                (ngModelChange)="getValue($event)"
                [(ngModel)]="object.terpene_profile"
                placeholder=""
                class="form-control"
                size="1"
                style="height: 80px"
              >
                <!-- <option value="">Please select</option> -->
                <option
                  *ngFor="let market of terpene_profile"
                  [value]="market.name"
                >
                  {{ market.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="
                    (market.errors?.required && market.touched) || marketError
                  "
                  class="text-danger"
                >
                  Market is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="object.terpene_profile?.length > 0">
            <div class="form-group">
              <label for="terpeneValue">Value</label>
              <div class="terpene-input">
                <span *ngFor="let item of terpene_profile; let index = index">
                  <!-- {{item|json}} -->
                  <span *ngIf="item.showInput">{{ item.name }}</span>
                  <input
                    *ngIf="item.showInput"
                    step="0.01"
                    type="number"
                    id="terpeneValue"
                    name="terpeneValue--{{ index }}"
                    #terpeneValue="ngModel"
                    class="form-control"
                    [(ngModel)]="item.value"
                    placeholder=""
                  />
                  <!-- <span>Is a valid decimal? </span> -->{{ terpeneValue }}
                  <!-- <div *ngIf="terpeneValue?.errors && (terpeneValue?.errors.dirty || terpeneValue?.errors.touched)">
                          <div [hidden]="!terpeneValue?.errors.pattern">
                              Invalid
                          </div>
                          </div> -->
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-4">
              <div class="form-group">
                 <button  (click)="addMoreTerpene()">Add More Terpen</button>
              </div>
          </div> -->

          <div class="col-sm-2" *ngIf="object.type != 'reward'">
            <div class="form-group">
              <label for="nf-city">City</label>
              <select
                id="city"
                name="city"
                class="form-control"
                size="1"
                [(ngModel)]="object.city"
                #city="ngModel"
              >
                <option value="">Please select</option>
                <option *ngFor="let cat of cities" value="{{ cat }}">
                  {{ cat }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="city.errors?.required && city.touched"
                  class="text-danger"
                >
                  Ciqty is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="object.type == 'reward'">
            <div class="form-group">
              <label for="nf-city">City</label>
              <select
                style="min-height: 83px; width: 142px"
                id="city"
                multiple
                name="city"
                class="form-control"
                size="1"
                [(ngModel)]="object.cities"
                #city="ngModel"
              >
                <option value="">Please select</option>
                <option *ngFor="let cat of cities" value="{{ cat }}">
                  {{ cat }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="city.errors?.required && city.touched"
                  class="text-danger"
                >
                  City is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="nf-city">Producer</label>
              <select id="city" name="city" class="form-control" size="1">
                <option value="">Please select</option>
                <option *ngFor="let cat of cities" value="">category</option>
              </select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group has-required">
              <label for="nf-thc">Lineage</label>
              <input
                type="number"
                id="nf-thc"
                name="thc"
                class="form-control"
                min="0"
                max="100"
                placeholder=""
                required
              />
            </div>
          </div> -->

        <!-- <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="market">Terpen Profile</label>
              <select
                id="terpene_profile"
                name="terpene_profile"
                multiple=""
                placeholder=""
                class="form-control"
                size="1"
                style="height: 80px"
              >
                <option value="">Please select</option>
                <option>market.name</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="producer">City</label>
              <select
                id="producer"
                name="producer"
                class="form-control"
                size="1"
              >
                <option value="">Please select</option>
                <option value="">name</option>
              </select>
            </div>
          </div>
        </div> -->

        <div class="row" *ngIf="object.type != 'reward'">
          <div class="card-block w-100">
            <div
              id="accordion"
              class="mb-1 mt-1"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                      aria-expanded="true"
                    >
                      {{ prodCategories[0] }}
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-expanded="true"
                  role="tabpanel"
                  aria-labelledby="headingOne"
                >
                  <div class="card-blocks pl-4 pr-4 mb-3">
                    <div class="row">
                      <div
                        class="col-sm-2"
                        *ngFor="let obj of Recreational"
                        style="margin-bottom: 15px"
                        (click)="addEelement(obj.id)"
                      >
                        <span
                          class="btn"
                          [ngClass]="{
                            'btn-success': subcategoryIDs.indexOf(obj.id) >= 0,
                            'btn-default': subcategoryIDs.indexOf(obj.id) < 0
                          }"
                        >
                          {{ obj.subcategoryname }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapseTwo"
                      aria-expanded="true"
                      aria-controls="collapseTwo"
                    >
                      {{ prodCategories[1] }}
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="headingOne"
                >
                  <div class="card-blocks pl-4 pr-4 mb-3">
                    <div class="row">
                      <div
                        class="col-sm-2"
                        *ngFor="let obj of Medical"
                        (click)="addEelement(obj.id)"
                        style="margin-bottom: 15px"
                      >
                        <span
                          class="btn"
                          [ngClass]="{
                            'btn-success': subcategoryIDs.indexOf(obj.id) >= 0,
                            'btn-default': subcategoryIDs.indexOf(obj.id) < 0
                          }"
                        >
                          {{ obj.subcategoryname }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      {{ prodCategories[2] }}
                    </a>
                  </h5>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="headingOne"
                >
                  <div class="card-blocks pl-4 pr-4 mb-3">
                    <div class="row">
                      <div
                        class="col-sm-3"
                        *ngFor="let obj of Conditions"
                        (click)="addEelement(obj.id)"
                        style="margin-bottom: 15px"
                      >
                        <span
                          class="btn"
                          [ngClass]="{
                            'btn-success': subcategoryIDs.indexOf(obj.id) >= 0,
                            'btn-default': subcategoryIDs.indexOf(obj.id) < 0
                          }"
                        >
                          {{ obj.subcategoryname }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 mt-2">
            <div class="form-group">
              <label for="nf-terms">Detail</label>
              <textarea
                type="text"
                id="paymentTerms"
                name="paymentTerms"
                class="form-control"
                placeholder=""
                rows="5"
                [(ngModel)]="object.detail"
                (keyup)="trim('terms')"
              ></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option8"
                name="status"
                type="checkbox"
                [(ngModel)]="object.isFeatured"
              />
              <label for="option8" class="pl-2">Featured</label>
            </div>
          </div>

          <!-- <div class="col-sm-6">
                        <div class="custome-check size loginpage d-inline-block">
                            <input id="option9" name="isForDelivery" type="checkbox" [(ngModel)]="object.isForDelivery">
                            <label for="option9">Product for Delivery</label>
                        </div>
                    </div> -->

          <div class="col-sm-3">
            <div class="form-group">
              <label
                class="blocklabel"
                for="nf-image"
                title="You can upload maximum 5 images"
                >Image</label
              >
              <input
                #myInput
                type="file"
                name="file-7[]"
                id="file-7"
                class="inputfile inputfile-6"
                data-multiple-caption="{count} files selected"
                imageUpload
                (imageSelected)="uploadImage($event)"
                accept="image/jpg, image/jpeg, image/png"
              />
              <label for="file-7">
                <strong
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="17"
                    viewBox="0 0 20 17"
                  >
                    <path
                      d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                    />
                  </svg>
                  Upload image</strong
                ></label
              >
              <div *ngIf="object.image" class="thumbnail pointer-custom">
                <!-- <!-(click)="viewImage(_host+'/images/products/'+object.image)"  -->
                <img src="{{ _host }}/images/product/{{ object.image }}" />
                <i
                  class="close fa fa-times"
                  (click)="removeImage(object.image)"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-website">Meta Name </label>
              <input
                type="text"
                id="nf-website2"
                name="website2"
                class="form-control"
                placeholder=""
                #website2="ngModel"
                [(ngModel)]="object.meta_name"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-website">Meta Description </label>
              <input
                type="text"
                id="nf-website1"
                name="website1"
                class="form-control"
                placeholder=""
                [(ngModel)]="object.meta_desc"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="reset" class="btn btn-secondary" (click)="back()">
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary"
          [disabled]="!addCropForm.valid"
        >
          {{ ID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
