<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto mt-5">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-6">
        <div class="card1 pb-5">
          <div class="row"><img src="assets/img/logo.png" class="logo" /></div>
          <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
            <img src="assets/img/leaf.png" class="image" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
          <div class="row px-3 mb-4">
            <div class="line"></div>
            <small class="or text-center">Forgot Password</small>
            <div class="line"></div>
          </div>
          <form
            class="card mt-4"
            [formGroup]="forgotForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="email-for-pass">Enter your username</label>
                <input
                  class="form-control"
                  type="text"
                  id="email-for-pass"
                  formControlName="username1"
                  required=""
                  [ngClass]="{ 'is-invalid': submitted && f.username1.errors }"
                />
                <div
                  *ngIf="submitted && f.username1.errors"
                  class="invalid-feedback mt-2"
                >
                  <div *ngIf="f.username1.errors.required">Username is required</div>
                  <!-- <div *ngIf="f.username1.errors.email">Email is invalid</div> -->
                </div>
                <small class="form-text text-muted"
                  >Enter the username associated with your instaLeaf
                  account.</small
                >
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-success mr-2" type="submit">
                Get New Password
              </button>
              <button
                class="btn btn-danger"
                type="submit"
                [routerLink]="['/auth/login']"
              >
                Back to Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
