<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ userID ? 'Edit' : 'Add' }} Driver</strong>
    </div>
    <form role="form" (ngSubmit)="save()" #addUserForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-fname">Username</label>
              <input autofocus="autofocus" type="text" id="username1" name="username1" class="form-control"
                #username1="ngModel" [ngModel]="user.username1" (ngModelChange)="user.username1 = $event"
                (keyup)="trim('username1')" placeholder="" required />
              <div class="error-block">
                <small *ngIf="username1.errors?.required && username1.touched" class="text-danger">
                  Username is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-email">Email</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="" [disabled]="userID"
                #email="ngModel" [(ngModel)]="user.email" email required />
              <div class="error-block">
                <small *ngIf="email.errors?.required && email.touched" class="text-danger">
                  Email is required.
                </small>
                <small *ngIf="email.errors?.email && email.touched" class="text-danger">
                  Email is not valid.
                </small>
                <small *ngIf="email.errors?.pattern && email.touched" class="text-danger">
                  Email is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-address">Address</label>
              <input type="text" id="address" name="address" #address="ngModel" class="form-control"
                [ngModel]="user.address" (ngModelChange)="user.address = $event" (keyup)="trim('address')"
                placeholder="" />
              <div class="error-block">
                <!-- <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                    Address is required.
                                </small> -->
                <small *ngIf="address.errors?.pattern && address.touched" class="text-danger">
                  Invalid input.
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-mobile">Mobile</label>
              <input type="tel" id="mobile" name="mobile" class="form-control" #mobile="ngModel"
                [(ngModel)]="user.mobile" placeholder="" required="" min="1000000000" max="9999999999" required
                pattern="mobNumberPattern" pattern="^\d{10}$" required="required" />
              <div class="error-block">
                <small *ngIf="mobile.errors?.required && mobile.touched" class="text-danger">
                  Mobile is required.
                </small>
                <small *ngIf="mobile.errors?.min" class="text-danger">
                  Minimum 10 digit allow.
                </small>
                <small *ngIf="mobile.errors?.max" class="text-danger">
                  Maximum 10 digit allow.
                </small>
                <small *ngIf="mobile.errors?.pattern" class="text-danger">
                  Invalid Mobile
                </small>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-city">City/Village</label>
              <input type="text" id="city" name="city" #city="ngModel" [ngModel]="user.city"
                (ngModelChange)="user.city = $event" (keyup)="trim('city')" class="form-control" placeholder="" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-pincode">Pin Code</label>
              <input type="number" id="pincode" name="pincode" #pincode="ngModel" [(ngModel)]="user.pincode"
                class="form-control" max="999999" min="1" />
              <div class="error-block">
                <!-- <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                    Pin Code is required.
                                </small> -->
                <small *ngIf="pincode.errors?.min && pincode.touched" class="text-danger">
                  Minimum value should be 1.
                </small>
                <small *ngIf="pincode.errors?.max && pincode.touched" class="text-danger">
                  Maximum 6 digit allow.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="blocklabel" for="nf-image1" title="">Profile Image</label>
              <input #myInput type="file" name="file-71[]" id="file-71" class="inputfile inputfile-6"
                data-multiple-caption="{count} files selected" imageUpload (imageSelected)="uploadImage($event)"
                accept="image/jpg, image/jpeg, image/png" />
              <label for="file-71">
                <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                    <path
                      d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                  </svg>
                  Upload image</strong></label>

              <div class="thumbnail pointer-custom" *ngIf="user.image">
                <img src="{{ _host }}/images/users/thumbnail/200/{{ user.image }}" />
                <i class="close fa fa-times" (click)="user.image = ''"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/drivers/list']">
          Cancel
        </button>
        <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addUserForm.valid"
          [class.disabled]="isClickedOnce">
          {{ userID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>