<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>

<div class="content js-content">
    <div class="category-wrapper w-100 mt-5">
      <!-- loading section ends  -->
      <div class="card w-100">
        <div class="card-header">
          <strong>View Category</strong>
          <div class="pull-right">
            <button type="button" class="btn btn-secondary mr-2" [routerLink]="['/product-category']">Back</button>
            <button  type="button" class="btn btn-success" (click)="route(category.id,'edit')">Edit</button>
          </div>
        </div>
               
        <div class="container pl-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Category Name</label>
                        <p>{{category.name}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Subcategory Name</label>
                        <p>{{category.subcategoryname}}</p>
                    </div>
                </div>
                
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Created At</label>
                        <p>{{category.createdAt  | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .card -->
</div>
</div>
<!-- .category-wrapper -->
