<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto mt-5">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-6">
        <div class="card1 pb-5">
          <div class="row"><img src="assets/img/logo.png" class="logo" /></div>
          <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
            <img src="assets/img/leaf.png" class="image" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
          <div class="row px-3 mb-4">
            <div class="line"></div>
            <small class="or text-center">Sign In</small>
            <div class="line"></div>
          </div>
          <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
            <div class="row px-3">
              <label class="mb-1">
                <h6 class="mb-0 text-sm">Email Address</h6>
              </label>
              <input
                class="mb-4"
                type="email"
                formControlName="username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                placeholder="Enter a valid email address"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">Email is required</div>
                <div *ngIf="f.username.errors.email">Email is invalid</div>
              </div>
            </div>
            <div class="row px-3 mt-3">
              <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
              </label>
              <input
                [type]="passwordType ? 'text' : 'password'"
                id="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                class="form-text"
                placeholder="Password"
                required=""
              />
              <span
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !passwordType,
                  'fa-eye': passwordType
                }"
                (click)="togglePassword()"
              >
              </span>
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
            </div>

            <div class="row px-3 mb-4">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input
                  id="remember"
                  type="checkbox"
                  name="remember"
                  [(ngModel)]="rememberMe"
                  [ngModelOptions]="{ standalone: true }"
                  (click)="markRemember()"
                  class="custom-control-input"
                />
                <label for="remember" class="custom-control-label text-sm"
                  >Remember me</label
                >
              </div>
              <a [routerLink]="['/auth/forgot']" class="ml-auto mb-0 text-sm"
                >Forgot Password?</a
              >
            </div>
            <div class="row mb-3 px-3">
              <button
                type="submit"
                class="btn btn-success pr-5 pl-5 text-center"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
