<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>
    <div class="content js-content">
      <div class="card w-100 mt-5">
        <div class="card-header">
            <strong>Add Products</strong>
        </div>
        <div class="card-block">
            <div id="accordion" class="mb-1 mt-1" role="tablist" aria-multiselectable="true">
                <div class="card" *ngFor="let vehicle of products; let i=index; let last=last">
                <div class="card-header gray" role="tab" id="headingOne{{i}}">
                    <div class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne" (click)="_selectedVehicleIndex=i">
                          Product #{{_index[i]}}
                        </a>
                        <button (click)="remove(i)" class="btn btn-danger orange positionset pull-right" title="Delete"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
               
                <div id="collapseOne{{i}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block pl-4 pr-4">
                        <div class="row">



                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="nf-name{{i}}">Name</label>
                                    <input type="text" maxlength="50" id="name{{i}}" name="name{{i}}" class="form-control" [(ngModel)]="vehicle.name" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-pre_roll{{i}}">Pre-roll</label>
                                    <input type="text" maxlength="50" id="pre_roll{{i}}" name="pre_roll{{i}}" class="form-control" [(ngModel)]="vehicle.pre_roll" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-grams">Grams</label>
                                    <input type="text" id="nf-grams" name="grams" class="form-control pleft25" [(ngModel)]="vehicle.grams" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-Eighth{{i}}">Eighth</label>
                                    <input type="number" maxlength="50" id="Eighth{{i}}" name="Eighth{{i}}" class="form-control" [(ngModel)]="vehicle.Eighth" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-quarter{{i}}">Quarter</label>
                                    <input type="text" maxlength="50" id="quarter{{i}}" name="quarter{{i}}" class="form-control" [(ngModel)]="vehicle.quarter" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-half">Half</label>
                                    <input type="text" id="nf-half" name="half" class="form-control pleft25" [(ngModel)]="vehicle.half" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-ounce">Ounce</label>
                                    <input type="text" id="nf-ounce" name="ounce" class="form-control" [(ngModel)]="vehicle.ounce" placeholder="">
                                </div>
                            </div>
                            
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-thc">THC</label>
                                    <input type="text" id="nf-thc" name="thc" class="form-control" [(ngModel)]="vehicle.thc" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-cbd">CBD</label>
                                    <input type="text" id="nf-cbd" name="cbd" class="form-control" [(ngModel)]="vehicle.cbd" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="modalYear">Category</label>
                                    <select id="modalYear" name="modalYear" class="form-control" size="1" [(ngModel)]="vehicle.category_id">
                                        <option value="">Please select</option>
                                        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nf-details">Details</label>
                                    <textarea id="nf-details" name="details" class="form-control" [(ngModel)]="vehicle.details"></textarea>
                                    <!-- <input type="text" id="nf-details" name="details" class="form-control" [(ngModel)]="vehicle.details" placeholder=""> -->
                                    </div>
                                                </div>
                                    <!-- <div class="col-sm-3">
                                <div class="custome-check size loginpage d-inline-block">
                                    <input id="option9" name="isForDelivery" type="checkbox" [(ngModel)]="vehicle.isForDelivery">
                                    <label for="option9">Product for Delivery</label>
                                </div>
                            </div>  -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="blocklabel" for="nf-image" title="You can upload maximum 5 images">Image</label>
                                    <input  #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload
                        (imageSelected)="uploadImage($event)"
                         accept="image/jpg, image/jpeg, image/png"/>
                                    <label for="file-7"> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                                    <div class="thumbnail pointer-custom"  *ngIf="vehicle.image">
                                        <img src="{{_host}}/images/product/{{vehicle.image}}">
                                         <!-- (click)="viewImage(_host+'/images/products/'+image)"  -->
                                        <i class="close fa fa-times" (click)="vehicle.image=''"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nf-website">Meta Name </label>
                                    <input type="text" id="nf-website2" name="website2" class="form-control" [(ngModel)]="vehicle.meta_name" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nf-website">Meta Description </label>
                                    <input type="text" id="nf-website1" name="website1" class="form-control" [(ngModel)]="vehicle.meta_desc" placeholder="">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="addObject()" class="btn btn-success mt-3 mb-3 ml-3" title="Add New Vehicle information">Add New</button>
    </div>
      <div class="card-footer">
            <button type="reset" class="btn btn-secondary whiteclr"  [routerLink]="['/dispensary']"> Cancel</button>
            <button type="submit" [disabled]='products.length==0' class="pull-right btn btn-primary orangeclr" (click)="save()">Save</button>
        </div>
</div>
