<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>

<div class="content js-content mt-5">
    <!-- section ends  -->
    <div class="w-100" *ngIf="!isPageLoading">
        <div class="col-sm-12 p-0">
            <div class="card w-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-10">
                            <strong>View Order</strong>
                        </div>
                        <div class="col-sm-6 col-2 text-right custombuttons linehght">
                            <button class="btn btn-primary btn-rounded pull-right widthset" type="button"  [routerLink]="['/reserve-order']"  >
                                <i class="fa fa-arrow-left"></i>
                       </button>
                        </div>
                    </div>
                </div>
                <div class="card-block userdetail">
                <div class="row" >
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nf-name">Order Id</label>
                                    <p>{{order.order_number}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nf-name">Status</label>
                                    <p>{{order['order_status']}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nf-name">Date</label>
                                    <p>{{order['createdAt'] | date:'dd/MM/yyyy'}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nf-name">Price</label>
                                    <p>{{order['price'] | currency:'CAD'}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nf-name">Order By</label>
                                    <p>{{order.addedBy.username1}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nf-name">Mobile</label>
                                    <p>{{order['mobile']}}</p>
                                </div>
                            </div>
                    
                            <table class="table table-hover shadow mt-3 ml-3 mr-3" >
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <!-- <th>GST/Delivery</th> -->
                                <th>Status</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let obj of order.order_detail">
                                <td class="order-image">
                                    <img  class="img-responsive" *ngIf="!obj.item_product_id?.image" src="assets/img/no-image.jpg" alt="" />
                                    <img *ngIf="obj.item_product_id?.image" src="{{obj.item_product_id?.image}}" style="height:100px;width:100px" class="img-responsive">
                                </td>
                                <td>
                                   {{obj.item_product_ids?.name}}
                                </td>
                                <td>
                                    {{obj.quantity}}
                                </td>
                                <td>
                                    {{obj.price | currency:'CAD'}}
                                </td>
                                <!-- <td *ngIf="i==0" [attr.rowspan]="arr.length">
                                    <input type="checkbox" name="gst"  [(ngModel)]="arr.gst"> GST  <br>
                                    <input type="checkbox" name="delivery" [(ngModel)]="arr.delivery"> Delivery
                                </td>-->
                                <td>
                                    {{obj.order_status ?obj.order_status:'Pending'}}  
                                </td>
                                <!-- <td>
                                    <button (click)="changeStatus(obj.id)" class="btn btn-success" title="Mark Deliver" [disabled]="obj.order_status && obj.order_status=='Accepted' ?false:true">Mark Deliver</button>  
                                </td>
                                <td class="col-xs-3" [attr.rowspan]="arr.length" *ngIf="i==0" >
                                    <button (click)="viewInvoice(arr)" class="btn btn-info" title="View Invoice" >View Invoice</button>
                                    <button (click)="sendInvoice(obj.product_id.supplier_id,arr.gst,arr.delivery)" class="btn btn-primary" title="Send Invoice" [disabled]="obj.order_status=='Delivered' || obj.order_status=='Accepted' ?true:false">Send Invoice</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>