<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="content js-content">
  <div class="category-wrapper w-100 mt-5">
    <!-- loading section ends  -->
    <div class="card w-100">
      <div class="card-header">
        <strong>View Drivers</strong>
        <div class="pull-right">
          <button
            type="button"
            class="btn btn-secondary mr-2"
            [routerLink]="['/drivers']"
          >
            Back
          </button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="card-block userdetail">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th width="20%">Username</th>
                      <td data-label="Name">{{ user.username1 }}</td>
                    </tr>
                    <tr>
                      <th width="20%">Email</th>
                      <td data-label="Email">{{ user.email }}</td>
                    </tr>
                    <tr>
                      <th width="20%">Mobile</th>
                      <td data-label="Mobile">{{ user.mobile }}</td>
                    </tr>
                    <tr>
                      <th width="20%">Address</th>
                      <td data-label="Address">
                        {{ user.address }} {{ user.address ? ',' : '' }}
                        {{ user.city }}{{ user.city ? ',' : '' }}
                        {{ user.district }} {{ user.district ? ',' : '' }}
                        {{ user.state }} {{ user.state ? ',' : '' }}
                        {{ user.pincode }}
                      </td>
                    </tr>
                    <tr>
                      <th width="20%">Registered on</th>
                      <td data-label="Registered on">
                        {{ user.createdAt | date: 'dd/MM/yyyy' }}
                      </td>
                    </tr>
                    <tr>
                      <th width="20%">Modified on</th>
                      <td data-label="Modified on">
                        {{ user.updatedAt | date: 'dd/MM/yyyy' }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card w-100">
              <div class="imageblock blurred relative m-1">
                <img
                  class="img-fluid w-100"
                  src="http://www.vacationrentalestates.com/images/no-image-available2.jpg"
                />

                <!-- <img *ngIf="user.image" class="img-fluid w-100" src="{{_host}}/images/users/thumbnail/200/{{user}}"> -->

                <div class="absolute">
                  <div class="imageblock border-0 no-shadow">
                    <img
                      class="img-circle small w-100"
                      src="http://www.vacationrentalestates.com/images/no-image-available2.jpg"
                    />
                  </div>
                  <div class="imageblock border-0 no-shadow" *ngIf="user.image">
                    <img
                      class="img-circle small"
                      src="{{ _host }}/images/users/thumbnail/200/{{ user }}"
                    />
                  </div>

                  <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                </div>
              </div>

              <h2 *ngIf="addEditDelete" class="pl-2">Actions</h2>
              <ul class="pl-4" *ngIf="addEditDelete">
                <li style="cursor: pointer" (click)="editUser(user.id)">
                  <span>Edit Driver</span>
                </li>
                <li style="cursor: pointer" (click)="changeStatus(user)">
                  <span>Active Driver</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
