.text-primary{
    color: $primaryColor !important;
}

.btn-primary{
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.bg-primary {
    background-color: $primaryColor !important;
}

.btn-outline-primary{
    border-color: $primaryColor !important;
    color: $primaryColor !important;
    background-color: transparent !important;

    &:hover{
        background-color: $primaryColor !important;
        color: #fff !important;
    }
}