/**
Application base files
**/

@import 'fonts';
@import 'mixin';
@import 'responsive';
@import 'variables';
@import 'theme_color';

// @import url(assets/css/font-awesome.min.css);

/** 
Override bootstrap components
**/

.h5,
h5 {
  line-height: 30px;
}

.container {
  max-width: 1290px;
}

.hfmin {
  min-height: calc(100vh - #{$headerHeight + $footerHeight});
}

.content_div {
  word-break: break-word;
  min-height: 100px;
  font-size: 16px;
}

.question-_cnt,
.answere_cnt {
  word-break: break-word;
}

.type-dropdown {
  .form-control {
    position: relative;
    &::after {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .dropdown-menu {
    // width: 100%;
    padding: 0;

    .dropdown-item {
      border-bottom: 1px solid #dbdbdb !important;
      padding: 6px 15px;
      font-size: 14px;
      line-height: normal;

      &.active {
        background-color: $primaryColor !important;
      }
    }
  }
}

.question-_cnt {
  * {
    margin-bottom: 0 !important;
    font-size: inherit !important;
  }
}

.answere_cnt {
  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.btn-sm {
  font-size: 14px;
  padding: 6px 13px;
}

body {
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
}

.required-label {
  &::after {
    content: '*';
    color: red;
    margin-left: 5px;
  }
}

.radio-controls {
  label {
    display: inline-flex;
    align-items: center;

    input {
      margin-right: 6px;
    }
  }
}

.nav-tabs {
  a {
    font-weight: 500;
  }
}

.form-row {
  > div {
    > label {
      font-weight: 500;
      line-height: normal;
    }
  }
}

h2,
.h2 {
  font-family: $font2;
  font-weight: 600;
}

.btn {
  padding: 9px 15px;
  font-size: 14px;

  &.btn-rounded {
    border-radius: 20px;
    padding: 9px 28px;
  }
}

.form-control {
  font-size: 14px;
  line-height: normal;
  height: auto;
  padding: 9px 15px;
  border-radius: 0;
  background-image: none !important;
}

.font-weight-medium {
  font-weight: 500;
}

.password-field {
  position: relative;

  .form-control {
    padding-right: 38px;
  }

  .fa-eye,
  .fa-eye-slash {
    position: absolute;
    top: 11px;
    font-size: 14px;
    cursor: pointer;
    right: 12px;
  }
}

.btn-facebook {
  background-color: #425597;
  font-weight: 400;
  font-size: 16px;
  color: #fff !important;
  text-align: center;
}

.btn-google {
  border: 2px solid #0000002e;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  > img {
    width: 16px;
  }
}

.ngxcarousel-items {
  .tile {
    box-shadow: none !important;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #50b75e;
  background-color: #50b75e;
}
.btn-success {
  color: #fff;
  background-color: #50b75e;
  border-color: #50b75e;
}
@media (min-width: 768px) {
  .testimonials-wrapper {
    overflow: hidden;
    margin: 0 -15px;
  }

  .testimonialsslider {
    width: 120%;
    position: relative;
    left: -10%;
  }
}

.testimonialsslider {
  .ngxcarousel {
    text-align: center;

    .ngxcarousel-inner {
      text-align: left;

      .item {
        padding: 25px 15px;
      }
    }

    .arrow {
      font-size: 26px;
      margin: 0 7px;
      display: inline-block !important;
      color: $textColor;

      &:hover {
        color: $primaryColor;
      }
    }

    .arrow[style='display: none;'] {
      color: #2222;
    }
  }

  .ngxcarouselPointDefault {
    display: none;
  }
}
