<div class="bar" (click)="changeSidebar()" [ngClass]="{ tooglebutton: !tooglebutton }">
  <!-- <input type="checkbox" [ngClass]="{ tooglebutton: !tooglebutton }" class="openSidebarMenu" id="openSidebarMenu"> -->
  <label for="openSidebarMenu"  class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
</div>

<div class="nav" [ngClass]="{ tooglebutton: !tooglebutton }" id="style-14">
  <ul class="w-100">
    <div class="text-center">
      <img class="logo-admin mb-4" src="assets/img/logo-admin.png" />
    </div>
    <li>
      <a
        (click)="active = 'dashboard'"
        routerLinkActive="active"
        [routerLink]="['/dashboard']"
      >
        <i class="fa fa-tachometer" aria-hidden="true"></i><span>Dashboard</span></a
      >
    </li>
    <li>
      <a
        (click)="active = 'banners'"
        routerLinkActive="active"
        [routerLink]="['/banners']"
      >
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <span> Banners</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'order'"
        routerLinkActive="active"
        [routerLink]="['/order']"
      >
        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Orders</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'reserve-order'"
        routerLinkActive="active"
        [routerLink]="['/reserve-order']"
      >
      <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Reserve Orders</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'dispensary'"
        routerLinkActive="active"
        [routerLink]="['/dispensary']"
      >
        <i class="fa fa-sitemap" aria-hidden="true"></i><span>Items</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'category'"
        routerLinkActive="active"
        [routerLink]="['/category']"
      >
        <i class="fa fa-list" aria-hidden="true"></i><span>Category</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'pos-category'"
        routerLinkActive="active"
        [routerLink]="['/pos-category']"
      >
        <i class="fa fa-list" aria-hidden="true"></i><span>POS Category</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'product-category'"
        routerLinkActive="active"
        [routerLink]="['/product-category']"
      >
        <i class="fa fa-list" aria-hidden="true"></i><span>Product Category</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'product'"
        routerLinkActive="active"
        [routerLink]="['/product']"
      >
        <i class="fa fa-product-hunt" aria-hidden="true"></i><span>Products</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'market'"
        routerLinkActive="active"
        [routerLink]="['/market']"
      >
        <i class="fa fa-product-hunt" aria-hidden="true"></i><span>Marketplace
        Product</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'affiliate'"
        routerLinkActive="active"
        [routerLink]="['/affiliate']"
      >
        <i class="fa fa-archive" aria-hidden="true"></i><span>Affiliate</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'plan-management'"
        routerLinkActive="active"
        [routerLink]="['/plan-management']"
      >
        <i class="fa fa-file-text" aria-hidden="true"></i><span>Plan Management</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'subscrptions'"
        routerLinkActive="active"
        [routerLink]="['/subscrptions']"
      >
        <i class="fa fa-user-secret" aria-hidden="true"></i><span>Subscriptions
        Plan</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'reward'"
        routerLinkActive="active"
        [routerLink]="['/reward']"
      >
        <i class="fa fa-money" aria-hidden="true"></i><span>Reward Management</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'tags'"
        routerLinkActive="active"
        [routerLink]="['/tags']"
      >
        <i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'producer'"
        routerLinkActive="active"
        [routerLink]="['/producer']"
      >
        <i class="fa fa-file-text" aria-hidden="true"></i><span>Producer</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'terpen'"
        routerLinkActive="active"
        [routerLink]="['/terpen']"
      >
        <i class="fa fa-file-text" aria-hidden="true"></i><span>Terpen Profile</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'user'"
        routerLinkActive="active"
        [routerLink]="['/user']"
      >
        <i class="fa fa-users" aria-hidden="true"></i><span>Users</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'supplier'"
        routerLinkActive="active"
        [routerLink]="['/supplier']"
      >
        <i class="fa fa-file-text" aria-hidden="true"></i><span>Suppliers</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'drivers'"
        routerLinkActive="active"
        [routerLink]="['/drivers']"
      >
        <i class="fa fa-car" aria-hidden="true"></i><span>Drivers</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'automation'"
        routerLinkActive="active"
        [routerLink]="['/automation']"
      >
        <i class="fa fa-magic" aria-hidden="true"></i><span>Automation</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'news'"
        routerLinkActive="active"
        [routerLink]="['/news']"
      >
        <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>News</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'city'"
        routerLinkActive="active"
        [routerLink]="['/city']"
      >
        <i class="fa fa-map-marker" aria-hidden="true"></i><span>City</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'store'"
        routerLinkActive="active"
        [routerLink]="['/store']"
      >
        <i class="fa fa-cart-plus" aria-hidden="true"></i><span>Store Integration</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'pos-management'"
        routerLinkActive="active"
        [routerLink]="['/pos-management']"
      >
        <i class="fa fa-file-text" aria-hidden="true"></i><span>Pos Management</span></a
      >
    </li>

    <li>
      <a
        (click)="active = 'setting'"
        routerLinkActive="active"
        [routerLink]="['/setting']"
      >
        <i class="fa fa-cogs" aria-hidden="true"></i> <span>Settings</span></a
      >
    </li>
  </ul>
</div>

<div class="js-fake-scroll"></div>
