img.logo-admin {
  width: 100%;
  max-width: 14rem;
  display: block;
  margin: auto;
  background: #fff;
  z-index: 99999999999 !important;
  margin-top: -8px;
  padding: 5px 1rem;
}
i.fa {
    margin-right: 0.75rem;
    font-size: 14px;
}
.w-100 {
    width: 100%!important;
    z-index: 99;
}
.nav {
    width: 14rem;
    height: 100vh;
    overflow: auto;
    padding-top: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: url(../../../assets/img/leaf-sidebar.jpg) no-repeat center center / cover;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.07),0 4px 6px -2px rgba(0,0,0,.05)!important;
  }
  .nav:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 78rem;
    background: rgb(80 183 94 / 52%);
  }
  .nav li {
    display: block;
    position: relative;
  }
  .nav li a {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.75rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #eaeaea;
    font-weight: 600;
  }
  .nav li a svg {
    margin-right: 0.75rem;
  }
  .nav li ul {
    padding-left: 1.75rem;
    position: relative;
  }
  .nav li ul::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1.7rem;
    width: 2px;
    height: calc(100% - 16px);
    background: rgba(255,255,255,0.1);
  }
  .nav li ul a {
    position: relative;
    left: 1px;
  }
  .nav li a.active {
    box-shadow: 2px -2px 0 #ffffff inset !important;
    border-bottom-left-radius: 5px;
  }
  .nav li.active ul::after {
    box-shadow: 2px -1px 0 #3db370 inset !important;
    border-bottom-left-radius: 5px;
  }
  .nav li:not(.active) a:hover {
    box-shadow: 2px -1px 0 #3db370 inset !important;
    border-bottom-left-radius: 5px;
    background: #3db370;
    color: #fff;
  }
  @-moz-keyframes Progress {
    from {
      width: 0%;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 0;
    }
  }
  @-webkit-keyframes Progress {
    from {
      width: 0%;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 0;
    }
  }
  @-o-keyframes Progress {
    from {
      width: 0%;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 0;
    }
  }
  @keyframes Progress {
    from {
      width: 0%;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 0;
    }
  }
  

  
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 4px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #50b75e;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.bar {
  position: fixed;
  left: 14rem;
  margin-top: 12px;
  z-index: 999;
}
.nav.tooglebutton {
  width: 5rem;
  height: 100vh;
  overflow: auto;
}
.nav.tooglebutton ul li span {
  display: none;
}
.nav.tooglebutton ul li i {
  margin-right: 0px;
    margin-left: 5px;
    font-size: 20px;
}
.bar.tooglebutton {
  left: 93px;
}
.nav.tooglebutton ul li a{
  border-bottom: 1px solid #fff !important;
}
.nav.tooglebutton ul li a.active {
  border-bottom: none !important;
}