<div [ngClass]="{ isfull: !tooglebutton }">
  <app-header></app-header>
  <app-sidebar
    [tooglebutton]="tooglebutton"
    (Layout)="layout($event)"
  ></app-sidebar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
