<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Orders</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="">
          <section class="search-form">
            <input
              class="form-control name"
              id="name"
              required
              type="text"
              placeholder=""
              [(ngModel)]="filters.search"
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="orderList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Order Id" prop="orderId">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  title="View Order"
                  [routerLink]="['/order/view']"
                  [queryParams]="{ id: row.id }"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Price" prop="price">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | currency }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="User" prop="user">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Order Date" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
