<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="content js-content">
  <div class="category-wrapper w-100 mt-5">
    <!-- loading section ends  -->
    <div class="card w-100">
      <div class="card-header">
        <strong>{{categoryID ? 'Edit' : 'Add'}} Category</strong>
      </div>
      <form role="form" (ngSubmit)="save()" #addCatgForm="ngForm">
        <div class="card-block p-4">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-name">Name</label>
                <input
                  autofocus
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder=""
                  minlength="3"
                  maxlength="50"
                  (keyup)="trim('name')"
                  #name="ngModel"
                  [ngModel]="category.name"
                  (ngModelChange)="category.name = $event"
                  required
                />
                <div class="error-block">
                  <small
                    *ngIf="name.errors?.required && name.touched"
                    class="text-danger"
                  >
                    Name is required.
                  </small>
                  <small
                    *ngIf="name.errors?.minlength && name.touched"
                    class="text-danger"
                  >
                    Minumum length should be 3.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-type">Type</label>
                <select
                  id="type"
                  [disabled]="categoryID"
                  name="type"
                  class="form-control disable"
                  size="1"
                  #type="ngModel"
                  [(ngModel)]="category.type"
                  required
                >
                  <option value="">Please select</option>
                  <option value="reward">Reward</option>
                  <option value="marketplace">Marketplace</option>
                  <option value="news">News</option>
                  <option value="product">Product</option>
                  <option value="other">Other</option>
                </select>
                <div class="error-block">
                  <small
                    *ngIf="type.errors?.required && type.touched"
                    class="text-danger"
                  >
                    Type is required.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="reset"
            class="btn btn-secondary whiteclr"
            [routerLink]="['/category/list']"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="pull-right btn btn-primary orangeclr"
            [disabled]="!addCatgForm.valid"
          >
            {{ categoryID ? 'Update' : 'Save' }}
          </button>
        </div>
      </form>
    </div>
    <!-- .card -->
  </div>
  <!-- .category-wrapper -->
</div>
