
<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>
  <div class="content js-content">
    <div class="category-wrapper w-100 mt-5">
      <div class="card w-100">
    <div class="card-header" >
      <strong>View Tag</strong>
      <div class="pull-right">
        
        <button *ngIf="addEditDelete" type="button" class="btn btn-primary mr-2" (click)="route(category.id,'edit')" title="Edit"> <i class="fa fa-pencil"></i> </button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/tags']" title="Back"> <i class="fa fa-arrow-left"></i> </button>
    </div>
    </div>
        <div class="card-block viewmode">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Category Name</label>
                        <p>{{category.name}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Tag Name</label>
                        <p>{{category.tagname}}</p>
                    </div>
                </div>
                
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Created At</label>
                        <p>{{category.createdAt  | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>