<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">All Store Orders</h1>
    <div class="col-sm-12 col-2 text-right custombuttons linehght">
      <button
        class="btn btn-secondary btn-rounded pull-right widthset pr-3 pl-3"
        type="button"
        [routerLink]="['/store']"
      >
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="">
          <section class="search-form">
            <input
              class="form-control name"
              id="name"
              required
              type="text"
              placeholder=""
              [(ngModel)]="filters.search"
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </div>
        <!-- <div class="text-right">
            <button class="btn btn-primary" [routerLink]="['/store/add-store']">
              Add Store
            </button>
          </div> -->
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="reservedOrderList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Order Id" prop="order_number">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  title="View Product"
                  (click)="view(row.id)"
                  >{{ value }}</a
                >
                <!-- <a href="javascript:void(0)" (click)="view(row.id)">{{
                  value
                }}</a> -->
                <!-- {{ value }} -->
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Dispensary" prop="dispensary">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="User" prop="user">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Price" prop="price">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | currency: 'CAD' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Phone" prop="mobile">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Order Date" prop="createdAt">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
