<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <!-- <form action="#" class="ng-untouched ng-pristine ng-valid" method="get"> -->
      <div class="col-sm-3">
        <div class="form-group mb-0">
          <select
            id="modalYear"
            name="modalYear"
            (change)="searchValue($event)"
            [(ngModel)]="filters.city"
            class="form-control"
            size="1"
          >
            <option value=""  >Please Select City</option>
            <option *ngFor="let cat of cities" value="{{ cat }}">
              {{ cat }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <form action="#" class="d-flex" method="get">
          <div class="d-flex">
            <input
              class="form-control"
              name="search"
              [(ngModel)]="filters.search"
              placeholder="Search"
              type="text"
            />
            <span class="input-group-btn w-100">
              <button (click)="searchValue()" class="btn btn-primary btn-sm">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <button
                *ngIf="filters.search"
                (click)="clearValue()"
                class="btn btn-secondary btn-sm ml-2"
              >
                Clear
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="content-body inner-container bg-white text-muted">
      <ngx-datatable
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="false"
        [rows]="rewardsList"
        [columns]="columns"
        [limit]="5"
        (page)="setPage($event)"
        [externalPaging]="true"
        [count]="totalItems"
      >
        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
        </ngx-datatable-column>
        <ngx-datatable-column name="Product Name" prop="name">
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <a
              href="javascript:void(0);"
              class="text-secondary"
              title="View User"
              (click)="route(row.id, 'list')"
              >{{ value }}</a
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Type" prop="type">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cities" prop="city">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="User Visits" prop="userVisits">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reviews" prop="reviews">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Rating" prop="rating">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created At" prop="createdAt">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="action">
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            <button
              [disabled]="!addEditDelete"
              (click)="route(row.id, 'edit')"
              class="btn btn-success mr-2"
              title="Edit"
            >
              <i class="fa fa-pencil"></i>
            </button>
            <button
              [disabled]="!addEditDelete"
              (click)="remove(row.id)"
              class="btn btn-danger orange"
              title="Delete"
            >
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
