
<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>
  <div class="content js-content">
    <div class="category-wrapper w-100 mt-5">
      <div class="card w-100">
    <div class="card-header">
             <strong>View Subscription Detail</strong>
                <div class="pull-right">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/subscrptions']">Back</button>

                    <button *ngIf="addEditDelete" type="button" class="btn btn-success pull-right mt-1" (click)="editNews(news.id)">Edit</button> &nbsp;
                </div>
            </div>
        <div class="card-block viewmode">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Name</label>
                        <p for="nf-name">{{news.name.name}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Type</label>
                        <p for="nf-name">{{news.planType}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Renew</label>
                        <p for="nf-name">{{news.type ? news.type.name : '-'}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Price</label>
                        <p for="nf-name">${{news.price}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Add Product</label>
                        <p for="nf-name">{{news.productStatus ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="news.productStatus">
                    <div class="form-group">
                        <label for="nf-name">Total Item Product</label>
                        <p for="nf-name">{{news.count}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Reply on Review</label>
                        <p for="nf-name">{{news.reviewStatus ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Analytic</label>
                        <p for="nf-name">{{news.analyticDashboard ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Feature Dispensary</label>
                        <p for="nf-name">{{news.featureDispensary ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Creatred Date</label>
                        <p for="nf-name">{{news.createdAt | date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nf-name">Updated Date</label>
                        <p for="nf-name">{{news.updatedAt | date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="nf-name">Detail</label>
                        <p for="nf-name">{{news.detail}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>