.content {
    position: absolute;
    top: 0;
    left: 15.6rem;
    z-index: -1;
    width: calc(100% - 16rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.pd {
    padding: 0px 5px !important;
    margin: 1px;
}