<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Product List</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <form class="mr-2">
            <select
              class="form-control mr-2"
              name="cars"
              (change)="search($event)"
              [(ngModel)]="filters.city"
              id="cars"
            >
              <option value="">Please select City</option>
              <option *ngFor="let cat of cities" value="{{ cat }}">
                {{ cat }}
              </option>
            </select>
          </form>
          <form class="mr-2">
            <select
              class="form-control mr-2"
              name="cars"
              id="cars"
              (change)="search($event)"
              [(ngModel)]="filters.producer"
            >
              <option value="">Select Producer</option>
              <option
                *ngFor="let prod of producers"
                value="{{ prod.producer_id }}"
              >
                {{ prod._id.name }}
              </option>
            </select>
          </form>
          <section class="search-form">
            <input
              class="form-control name"
              id="name"
              required
              type="text"
              placeholder=""
              [(ngModel)]="filters.search"
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button
            *ngIf="addEditDelete"
            class="btn btn-primary mr-2"
            [routerLink]="['/product/bulkupload']"
          >
            Bulk Upload
          </button>
          <button
            *ngIf="addEditDelete"
            class="btn btn-primary"
            [routerLink]="['/product/add']"
          >
            Add Product
          </button>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="productList"
            [columns]="columns"
            [limit]="25"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column
              *ngFor="let col of columns"
              [name]="col.banner"
            >
            </ngx-datatable-column>
            <ngx-datatable-column name="Product Name" prop="name">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  title="View Product"
                  (click)="route(row.id, 'list')"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Producer Name" prop="producer">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type" prop="type">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Category" prop="category">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Subcategory" prop="subCategory">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="City" prop="city">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="User Visits" prop="userVisits">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Reviews" prop="reviews">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Rating" prop="rating">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="route(row.id, 'edit')"
                  class="btn btn-success pd"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="remove(row.id)"
                  class="btn btn-danger orange pd"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="route(row.id, 'rating')"
                  class="btn btn-info yellow pd"
                  title="List Reviews"
                >
                  <i class="fa fa-star"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
