<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>
    <div class="content js-content">
      <div class="card w-100 mt-5">
        <div class="card-header">
            <strong>Edit Products</strong>
        </div>
               <div class="card-block pl-4 pr-4">
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="nf-name{{i}}">Name</label>
                                    <input type="text" maxlength="50" id="name{{i}}" name="name{{i}}" class="form-control" [(ngModel)]="object.name" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-pre_roll{{i}}">Pre-roll</label>
                                    <input type="text" maxlength="50" id="pre_roll{{i}}" name="pre_roll{{i}}" class="form-control" [(ngModel)]="object.pre_roll" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-grams{{i}}">Grams</label>
                                    <input type="text" maxlength="50" id="grams{{i}}" name="grams{{i}}" class="form-control" [(ngModel)]="object.grams" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-Eighth{{i}}">Eighth</label>
                                    <input type="number" id="Eighth{{i}}" name="Eighth{{i}}" class="form-control" [(ngModel)]="object.Eighth" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-quarter{{i}}">Quarter</label>
                                    <input type="text" maxlength="50" id="quarter{{i}}" name="quarter{{i}}" class="form-control" [(ngModel)]="object.quarter" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-half">Half</label>
                                    <input type="text" id="nf-half" name="half" class="form-control pleft25" [(ngModel)]="object.half" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-ounce">Ounce</label>
                                    <input type="text" id="nf-ounce" name="ounce" class="form-control" [(ngModel)]="object.ounce" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-thc">THC</label>
                                    <input type="text" id="nf-thc" name="thc" class="form-control" [(ngModel)]="object.thc" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="nf-cbd">CBD</label>
                                    <input type="text" id="nf-cbd" name="cbd" class="form-control" [(ngModel)]="object.cbd" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="modalYear">Category</label>
                                    <select id="modalYear" name="modalYear" class="form-control" size="1" [(ngModel)]="object.category_id">
                                        <option value="">Please select</option>
                                        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nf-details">Details</label>
                                    <textarea id="nf-details" name="details" class="form-control" [(ngModel)]="object.details"></textarea>
                                    <!-- <input type="text" id="nf-details" name="details" class="form-control" [(ngModel)]="object.details" placeholder="">  -->
                                </div>
                            </div> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="blocklabel" for="nf-image" title="You can upload maximum 5 images">Image <small>(Max. 2)</small></label>
                                    <input  #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload
                        (imageSelected)="uploadImage($event)"
                         accept="image/jpg, image/jpeg, image/png"/>
                                    <label for="file-7"> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                                    <div class="thumbnail pointer-custom" *ngIf="object.image">
                                        <img src="{{_host}}/images/product/{{object.image}}">
                                        <i class="close fa fa-times" (click)="object.image=''"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




      <div class="card-footer">
            <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/dispensary']"> Cancel</button>
            <button type="submit" class="pull-right btn btn-primary orangeclr" (click)="save()">Save</button>
        </div>
    </div>
</div>
