<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
  <div class="card-block">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="reward_type">Reward Type</label>
          <select
            id="reward_type"
            name="reward_type"
            class="form-control"
            size="1"
            required=""
            style="height: 36px !important"
            [(ngModel)]="object.reward_type"
            #reward_type="ngModel"
          >
            <option value="">Please select</option>
            <option value="product">Product</option>
            <option value="coupon">Coupon</option>
          </select>
          <div class="error-block">
            <small
              *ngIf="reward_type.errors?.required && reward_type.touched"
              class="text-danger"
            >
              Reward Type is required.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="nf-name">Name</label>
          <input
            type="text"
            id="name"
            (keyup)="trim('name')"
            name="name"
            class="form-control"
            placeholder=""
            minlength="3"
            maxlength="50"
            #name="ngModel"
            [ngModel]="object.name"
            (ngModelChange)="object.name = $event"
            required
          />
          <div class="error-block">
            <small
              *ngIf="name.errors?.required && name.touched"
              class="text-danger"
            >
              Name is required.
            </small>
            <small
              *ngIf="name.errors?.minlength && name.touched"
              class="text-danger"
            >
              Minumum length should be 3.
            </small>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="category_id">{{
            object.type == 'reward' ? 'Category' : 'Type'
          }}</label>
          <select
            id="category_id"
            name="category_id"
            class="form-control"
            size="1"
            [(ngModel)]="object.category_id"
            #category_id="ngModel"
            required=""
          >
            <option value="">Please select</option>
            <option
              [ngClass]="{ hide: cat.type != object.type }"
              *ngFor="let cat of categories"
              value="{{ cat.id }}"
            >
              {{ cat.name }}
            </option>
          </select>
          <div class="error-block">
            <small
              *ngIf="category_id.errors?.required && category_id.touched"
              class="text-danger"
            >
              {{ object.type == 'reward' ? 'Category' : 'Type' }} is required.
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="nf-reward_point">Reward Point</label>
          <input
            type="number"
            id="nf-reward_point"
            name="reward_point"
            #reward_point="ngModel"
            class="form-control"
            [(ngModel)]="object.reward_point"
            step="0.1"
            (keydown.space)="$event.preventDefault()"
            min="0"
            placeholder=""
            required
          />
          <div class="error-block">
            <small
              *ngIf="reward_point.errors?.required && reward_point.touched"
              class="text-danger"
            >
              Reward Point is required.
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="nf-city">City</label>
          <select
            style="min-height: 83px; width: 142px"
            id="city"
            multiple
            name="city"
            class="form-control"
            size="1"
            [(ngModel)]="object.cities"
            #city="ngModel"
          >
            <option value="">Please select</option>
            <option *ngFor="let cat of cities" value="{{ cat }}">
              {{ cat }}
            </option>
          </select>
          <div class="error-block">
            <small
              *ngIf="city.errors?.required && city.touched"
              class="text-danger"
            >
              City is required.
            </small>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="category_id">Category Type</label>
          <select
            id="category_id"
            name="category_id"
            class="form-control"
            size="1"
            required=""
            style="height: 36px !important"
          >
            <option value="">Please select</option>
            <option value="">cat.name</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="nf-name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder=""
            minlength="3"
            maxlength="50"
            required
          />
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group has-required">
          <label for="nf-reward_point">Reward Point</label>
          <input
            type="number"
            id="nf-reward_point"
            name="reward_point"
            class="form-control"
            step="0.1"
            min="0"
            placeholder=""
            required
          />
        </div>
      </div> -->
    <!-- </div> -->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="nf-terms">Detail</label>
          <textarea
            type="text"
            id="paymentTerms"
            name="paymentTerms"
            class="form-control"
            [(ngModel)]="object.detail"
            placeholder=""
            (keyup)="trim('terms')"
            rows="5"
          ></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="custome-check size loginpage d-inline-block">
          <input
            id="option8"
            name="status"
            type="checkbox"
            [(ngModel)]="object.isFeatured"
          />
          <label for="option8" class="ml-2">Featured</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label
            class="blocklabel"
            for="nf-image"
            title="You can upload maximum 5 images"
            >Image</label
          >
          <input
            #myInput
            type="file"
            name="file-7[]"
            id="file-7"
            class="inputfile inputfile-6"
            data-multiple-caption="{count} files selected"
            imageUpload
            (imageSelected)="uploadImage($event)"
            accept="image/jpg, image/jpeg, image/png"
          />
          <label for="file-7">
            <strong
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="17"
                viewBox="0 0 20 17"
              >
                <path
                  d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                />
              </svg>
              Upload image</strong
            ></label
          >
          <div *ngIf="object.image" class="thumbnail pointer-custom">
            <!-- (click)="viewImage(_host+'/images/products/'+object.image)" -->
            <img src="{{ _host }}/images/product/{{ object.image }}" />
            <i class="close fa fa-times" (click)="object.image = ''"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="nf-city">City</label>
          <select
            style="min-height: 105px"
            id="city"
            multiple
            name="city"
            class="form-control"
            size="1"
          >
            <option value="">Please select</option>
            <option value="cat">cat</option>
          </select>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="form-group">
          <label for="nf-terms">Detail</label>
          <textarea
            type="text"
            id="paymentTerms"
            name="paymentTerms"
            class="form-control"
            placeholder=""
            rows="5"
          ></textarea>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="custome-check size loginpage d-inline-block">
          <input id="option8" name="status" type="checkbox" />
          <label for="option8" class="pl-2">Featured</label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label
            class="blocklabel"
            for="nf-image"
            title="You can upload maximum 5 images"
            >Image</label
          >
          <input
            type="file"
            name="file-7[]"
            id="file-7"
            class="inputfile inputfile-6"
          />
          <label for="file-7">
            <strong
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="17"
                viewBox="0 0 20 17"
              >
                <path
                  d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                />
              </svg>
              Upload image</strong
            ></label
          >
         
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nf-website">Meta Name </label>
          <input
            type="text"
            id="nf-website2"
            name="website2"
            #website2="ngModel"
            class="form-control"
            [(ngModel)]="object.meta_name"
            placeholder=""
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nf-website">Meta Description </label>
          <input
            type="text"
            id="nf-website1"
            name="website1"
            class="form-control"
            placeholder=""
            #website1="ngModel"
            class="form-control"
            [(ngModel)]="object.meta_desc"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="card-footers pl-3 pr-3">
    <button type="reset" class="btn btn-secondary whiteclr" (click)="back()">
      Cancel
    </button>
    <button
      type="submit"
      class="pull-right btn btn-primary orangeclr"
      [disabled]="!addCropForm.valid"
    >
      {{ ID ? 'Update' : 'Save' }}
    </button>
  </div>
</form>
