<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <main class="main-pannel w-100">
    <div class="card">
      <div class="card-header justify-content-between">
        <h1 class="section-headers">Rating</h1>
        <div class="col-sm-12 col-2 text-right custombuttons linehght">
            <button
              class="btn btn-secondary btn-rounded pull-right widthset pr-3 pl-3"
              type="button"
              [routerLink]="['/product']"
            >
              <i class="fa fa-arrow-left"></i>
            </button>
          </div>
      </div>
      <div class="d-flex ml-4">
        <section class="search-form">
          <input
            class="form-control name"
            id="name"
            required
            type="text"
            placeholder=""
            [(ngModel)]="filters.search"
          />
          <button (click)="searchValue()" class="btn btn-primary btn-sm">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button
            *ngIf="filters.search"
            (click)="clearValue()"
            class="btn btn-secondary btn-sm ml-2"
          >
            Clear
          </button>
        </section>
      </div>
      <!-- <div class="text-right">
          <button class="btn btn-primary" [routerLink]="['/category/add']">
            Add Category
          </button>
        </div> -->

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="ratingList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" prop="user">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
                >{{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Rating" prop="rating">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Reviews" prop="detail">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="route(row.id, 'editrating')"
                  class="btn btn-success mr-1"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="remove(row.id)"
                  class="btn btn-danger mr-1"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="revoke(row.id)"
                  class="btn btn-danger orange"
                  title="Delete"
                >
                  Revoke Reward
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
