.content {
    position: absolute;
    top: 0;
    left: 15.6rem;
    z-index: -1;
    width: calc(100% - 16rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.card-header {
    background: #50b75e;
    color: white;
    font-size: 25px;
    position: relative;
    padding: 10px;
    top: -1rem;
    z-index: 99;
    margin: 0px 1.3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
h1.section-headers {
    font-size: 25px;
    margin-bottom: 0px;
}
a.collapsed {
    color: #fff !important;
}
h5 a {
    color: #fff;
}

.pull-rights {
    position: absolute;
    right: 1rem;
}
.card-block {
    padding: 1rem 1.25rem 0 !important;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    display: table;
}
.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    background-color: #50b75e;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 28px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.col-sm-12.col-2.text-right.custombuttons.linehght {
    z-index: 9999;
    position: absolute;
    top: 5px;
}