.content {
    position: absolute;
    top: 0;
    left: 16rem;
    z-index: -1;
    width: calc(100% - 16rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
h1.section-header {
    margin: 0px 10px;
}
