<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<!-- loading section -->
<!-- <div class="aligncenter_loader" *ngIf="isPageLoading">
  <div class="is-loading"><i class="page-loader"></i></div>
</div> -->
<!-- loading section ends  -->
<div class="content js-content">
  <h1 class="section-header w-100">Dashboard</h1>
  <div class="finance-dashboard">
    <!-- <h1 class="text-center ">Welome to dashboard</h1> -->

    <div class="card p-2 pt-5">
      <div class="row">
        <div class="col-md-12 mb-2 text-right">
          <select
            class="form-control d-inline-block"
            (change)="selectFilter()"
            [(ngModel)]="filterValue"
            style="max-width: 300px"
          >
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly" selected>Monthly</option>
            <option value="yearly">Yearly</option>
            <!-- <option value="lifetime">Lifetime</option> -->
          </select>
        </div>
        <!-- <div class="col-xl-8 col-lg-8 col-sm-8 col-md-8" style="margin-left: 19%">
        <div
          class="card-block text-center"
          style="padding: 13px !important; padding-top: 0 !important"
          *ngIf="!isChartLoading && isProgressStart"
        >
          <div style="display: block; min-height: 258px">
            <canvas
              baseChart
              width="1000"
              height="700"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
         
        </div>
        <div *ngIf="!isChartLoading && !isProgressStart">No Record Found.</div>
	  </div> -->

        <div class="col-md-12">
          <app-daily-data
            *ngIf="filterValue == 'daily'"
            [filterValue]="filterValue"
          ></app-daily-data>
          <app-weekly-data
            *ngIf="filterValue == 'weekly'"
            [filterValue]="filterValue"
          ></app-weekly-data>
          <app-monthly-data
            *ngIf="filterValue == 'monthly'"
            [filterValue]="filterValue"
          ></app-monthly-data>
          <app-yearly-data
            *ngIf="filterValue == 'yearly'"
            [filterValue]="filterValue"
          ></app-yearly-data>
        </div>
        <!-- <div class="finance-dashboard" *ngIf="!showData">
  <p>No data exist!</p>
</div> -->
      </div>
    </div>
  </div>
</div>
