<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="card">
  <div class="content-section">
    <div class="content-body inner-container bg-white text-muted">
      <ngx-datatable
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="false"
        [scrollbarH]="true"
        [rows]="rewardsList"
        [columns]="columns"
        [limit]="5"
        (page)="setPage($event)"
        [externalPaging]="true"
        [count]="totalItems"
      >
        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
        </ngx-datatable-column>
        <ngx-datatable-column name="Order Id" prop="order_id">
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="User" prop="username1">
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            <a
              href="javascript:void(0)"
              (click)="userRoute(row.addedBy, 'list')"
              class="text-secondary"
              title="View User"
              >{{ value }}</a
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" prop="name">
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            <a
              href="javascript:void(0)"
              (click)="route(row.productDetail, 'list')"
              class="text-secondary"
              title="View Product"
              >{{ value }}</a
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Address" prop="address">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Type" prop="type">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="status">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reward Point" prop="rewardPoint">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created At" prop="createdAt">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="action">
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            <button
              style="padding: 0px 6px;"
              class="btn btn-warning mr-2"
              *ngIf="row.status == 'pending'"
              (click)="changeStatus(row.id, 'approve')"
              title="Approve Order"
            >
              Approve
            </button>
            <button
            style="padding: 0px 6px;"
              class="btn btn-danger"
              *ngIf="row.status == 'pending'"
              (click)="changeStatus(row.id, 'cancel')"
              title="Cancel Order"
            >
              Cancel
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
