<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Main Categories</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <section class="search-form">
            <input class="form-control name" [(ngModel)]="filters.search" id="name" required type="text"
              placeholder="" />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button *ngIf="filters.search" (click)="clearValue()" class="btn btn-secondary btn-sm ml-2">
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" [routerLink]="['/pos-category']">
            Pos Categories
          </button>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="false" [rows]="categoryList" [columns]="columns" [limit]="25"
            (page)="setPage($event)" [externalPaging]="true" [count]="totalItems">
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Main Category" prop="name">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
                <!-- <a href="javascript:void(0);" class="text-secondary"  title="View User">value</a> -->
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sub Categories">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span *ngFor="let item of row.subcategories; let i = index">{{ item.name
                  }}{{
                  i === row.subcategories.length - 1 ? '' : ',&nbsp;'
                  }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>