<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ headerTitle }}</strong>
    </div>
    <form role="form" [formGroup]="affiliateForm" (ngSubmit)="onSubmit()">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-name">Name</label>
              <input
                autofocus
                type="text"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                id="name"
                name="name"
                class="form-control"
                placeholder=""
                required
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-email">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                name="email"
                class="form-control"
                placeholder=""
                required
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-mobile">Mobile</label>
              <input
                type="number"
                id="mobile"
                formControlName="mobile"
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                name="mobile"
                class="form-control"
                placeholder=""
                required=""
                pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                required
                (keydown.space)="$event.preventDefault();"
              />
              <div
                *ngIf="submitted && f.mobile.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.mobile.errors.required">
                  Mobile Number is required
                </div>
                <div *ngIf="f.mobile.errors?.min">
                  Mobile number must be at least 10 digits.
              </div>
              <div *ngIf="f.mobile.errors?.max">
                  Mobile number cannot exceed above 12 digits.
              </div>
              <div *ngIf="f.mobile.errors?.pattern">
                  Invalid Mobile number.
              </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-name">Website</label>
              <input
                autofocus
                type="text"
                id="link"
                formControlName="link"
                [ngClass]="{ 'is-invalid': submitted && f.link.errors }"
                name="link"
                class="form-control"
                placeholder=""
                required
              />
              <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
                <div *ngIf="f.link.errors.required">Website is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label
                class="blocklabel"
                for="nf-image"
                title="You can upload maximum 5 images"
                >Image</label
              >
              <input
                #myInput
                type="file"
                name="file-7[]"
                id="file-7"
                class="inputfile inputfile-6"
                data-multiple-caption="{count} files selected"
                multiple
                imageUpload
                (imageSelected)="uploadImage($event)"
                accept="image/jpg, image/jpeg, image/png, image/gif"
              />
              <label for="file-7">
                <strong
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="17"
                    viewBox="0 0 20 17"
                  >
                    <path
                      d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                    />
                  </svg>
                  Upload image</strong
                ></label
              >
              <!-- <i class="fa fa-plus addimage"></i> -->
              <div class="thumbnail pointer-custom" *ngIf="f.image.value">
                <img src="{{ _host }}/images/dispensary/{{ f.image.value }}" />
                <i class="close fa fa-times" (click)="f.image.value = ''"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/affiliate']"
        >
          Cancel
        </button>
        <button
          type="submit"
          *ngIf="headerTitle != 'View Banner'"
          class="pull-right btn btn-primary orangeclr"
        >
        {{ categoryID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
  <!-- .card -->
</div>
<!-- .category-wrapper -->
