<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Items</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
        
            <select
              class="form-control mr-2"
              name="cars"
              id="cars"
              (change)="searchValue($event)"
              [(ngModel)]="filters.city"
            >
              <option value="">Please select City</option>
              <option *ngFor="let cat of cities" value="{{ cat }}">
                {{ cat }}
              </option>
            </select>
          
          <form  (ngSubmit)="searchValue()">
          <section class="search-form ml-2">
            <input
              class="form-control name"
              [(ngModel)]="filters.item"
              id="name"
              required
              type="text"
              placeholder=""
              [ngModelOptions]="{standalone: true}"
            />
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.item"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </form>
        </div>
        <div class="text-right">
          <button
            *ngIf="addEditDelete"
            class="btn btn-primary mr-2"
            [routerLink]="['/dispensary/bulkupload']"
          >
            Bulk Upload
          </button>
          <button
            *ngIf="addEditDelete"
            class="btn btn-primary"
            [routerLink]="['/dispensary/add']"
          >
            Add Item
          </button>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [scrollbarH]="true"
            [rows]="itemsList"
            [columns]="columns"
            [limit]="25"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Item Name" prop="name">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <!-- <i
                  *ngIf="row.verified == 'Yes'"
                  class="verifiedicon fa fa-check"
                  title="Verified"
                ></i> -->
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  title="View User"
                  (click)="route(row.id, 'list')"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Address" prop="address">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type" prop="businesstype">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="City" prop="city">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Review" prop="reviews">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Overall Rating" prop="rating">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Store Layout Rating"
              prop="storeLayoutRating"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Staff Rating" prop="staffRating">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Master Dispensary">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <select (click)="changeMasterDispensary(value)" *ngIf="!value.isMaster" id="city{{value.id}}" name="city{{value.id}}" class="form-control" size="1" [(ngModel)]="value.master_id">
                  <option value="">Please select</option>                                
                  <option *ngFor="let o of masterDispensaries" value="{{o.id}}">
                      {{o.name}}
                  </option>       
              </select>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="route(row.id, 'edit')"
                  class="btn btn-success mr-1"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="remove(row.id)"
                  class="btn btn-danger orange mr-1"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="route(row.id, 'rating')"
                  class="btn btn-info yellow mr-1"
                  title="List Reviews"
                >
                  <i class="fa fa-star"></i>
                </button>
                <button
                  *ngIf="row.businessType !== 'doctor'"
                  [routerLink]="['/dispensary/addproducts/' + row.id]"
                  class="btn btn-warning"
                  title="Add Products"
                >
                  <strong>+</strong>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
