.content {
    position: absolute;
    top: 0;
    left: 15.6rem;
    z-index: 1;
    width: calc(100% - 16rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.form-control {
    padding: 10px 15px;
}
button.btn.btn-success.mr-1 {
    padding: 0px 8px !important;
}
button.btn.btn-danger.orange.mr-1{
    padding: 0px 8px !important;
}
button.btn.btn-info.yellow.mr-1{
    padding: 0px 8px !important;
}
button.btn.btn-warning{
    padding: 0px 8px !important;
}