<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Rating and Comments</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <section class="search-form ml-2">
            <input
              class="form-control name"
              [(ngModel)]="filters.search"
              id="name"
              required
              type="text"
              placeholder=""
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [scrollbarH]="true"
            [rows]="ratingList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Added By" prop="name">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <!-- <i
                  *ngIf="row.verified == 'Yes'"
                  class="verifiedicon fa fa-check"
                  title="Verified"
                ></i> -->
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  title="View User"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Comments" prop="reviews">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Overall Rating" prop="rating">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Store Layout Rating"
              prop="storeLayoutRating"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Staff Rating" prop="staffRating">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="routeitem(row.id, 'editrating')"
                  class="btn btn-success mr-2"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="remove(row.id)"
                  class="btn btn-danger orange"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
