<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ newsID ? 'Edit' : 'Add' }} News</strong>
    </div>

    <form role="form" (ngSubmit)="save()" #addNewsForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group has-required">
            <label for="nf-title">Title</label>
            <ckeditor name="website2" id="nf-website2" [(ngModel)]="news.title"
            (ngModelChange)="titleError = false" required="">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                    [label]="'Save Document'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
            </div>

            <!-- <input
              type="text"
              id="nf-website2"
              [(ngModel)]="news.title"
              (ngModelChange)="titleError = false"
              name="website2"
              class="form-control"
              placeholder=""
            /> -->
            <div class="error-block">
              <small *ngIf="titleError" class="text-danger">
              Title is required.
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-subtitle">Sub Title</label>
              <ckeditor name="website2" id="nf-website2" [(ngModel)]="news.subtitle"
              (ngModelChange)="subtitleError = false" required="">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                    [label]="'Save Document'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>

              <!-- <input
                type="text"
                id="nf-website2"
                [(ngModel)]="news.subtitle"
                (ngModelChange)="subtitleError = false"
                name="website2"
                class="form-control"
                placeholder=""
              /> -->
              <div class="error-block">
                <small *ngIf="subtitleError" class="text-danger">
                  Subtitle is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-1" *ngIf="news.image">
            <div class="thumbnail-blog">
              <img class="w-100" src="{{ _host }}/images/news/{{ news.image }}" />
              <i
                class="close fa fa-times"
                (click)="removeImage(news.image)"
              ></i>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <input
                #myInput
                type="file"
                name="file-7[]"
                id="file-7"
                class="inputfile inputfile-6"
                data-multiple-caption="{count} files selected"
                imageUpload
                (imageSelected)="uploadImage($event)"
                accept="image/jpg, image/jpeg, image/png"
              />
              <label for="file-7">
                <strong
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="17"
                    viewBox="0 0 20 17"
                  >
            <path
           d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
           Upload image</strong></label
              >
            </div>
          </div>
          <div class="col-sm-12">
              <div class="form-group has-required">
            <label for="nf-desc">Description</label>
            <ckeditor name="website2" id="nf-website2" [(ngModel)]="news.description"
            (ngModelChange)="descriptionError = false" required="">
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                    [label]="'Save Document'" [toolbar]="'clipboard,1'">
                </ckbutton>
            </ckeditor>
            </div>
            <!-- <input
              type="text"
              id="nf-website2"
              [(ngModel)]="news.description"
              (ngModelChange)="descriptionError = false"
              name="website2"
              class="form-control"
              placeholder=""
            /> -->
            <div class="error-block">
              <small *ngIf="descriptionError" class="text-danger">
                  Description is required.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-website">Meta Name </label>
              <input
                type="text"
                id="nf-website2"
                name="name"
                class="form-control"
                [(ngModel)]="news.meta_name"
                (keydown.space)="$event.preventDefault()"
                placeholder=""
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-website">Meta Description </label>
              <input
                type="text"
                id="nf-website1"
                name="website1"
                #website1="ngModel"
                class="form-control"
                [(ngModel)]="news.meta_desc"
                (keydown.space)="$event.preventDefault()"
                placeholder=""
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option5"
                name="status"
                type="checkbox"
                [(ngModel)]="news.isTrending"
              />
              <label for="option5" class="pl-2">Trending</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/news']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addNewsForm.valid"
          [class.disabled]="isClickedOnce"
        >
          {{ newsID ? 'Publish' : 'Publish' }}
        </button>
      </div>
    </form>
  </div>
</div>
