<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Users</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <section class="search-form w-100">
            <input
              class="form-control name"
              [(ngModel)]="filters.search"
              id="name"
              required
              type="text"
              placeholder=""
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>

          <form class="ml-4 w-100">
            <select
              class="form-control mr-2"
              name="cars"
              (change)="searchValue($event)"
              [(ngModel)]="filters.roles"
              id="cars"
            >
              <option value="">Please select User Type</option>
              <option value="U">User</option>
              <option value="D">Dispensary</option>
              <option value="DR">Doctor</option>
              <option value="B">Brands</option>
            </select>
          </form>
        </div>
        <div class="text-right">
          <button class="btn btn-primary mr-2" [routerLink]="['/user/add']">
            Add New
          </button>
          <!-- <button class="btn btn-primary" [routerLink]="['/subscrptions/subscribers']">Transactions</button> -->
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="categoryList"
            [columns]="columns"
            [limit]="25"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="User Name" prop="username1">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0);"
                  title="View Product"
                  (click)="route(row.id, 'list')"
                  class="text-secondary"
                  title="View User"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mobile" prop="mobile">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="City" prop="city">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Reviews" prop="totalReviews">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Favourite" prop="totalFavourite">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Registered On" prop="date_verified">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="changeStatus(row)"
                  class="btn"
                  [ngClass]="{
                    'btn-success': value == 'active',
                    'btn-danger': value == 'deactive'
                  }"
                  title="{{ value == 'active' ? 'Active' : 'Deactive' }}"
                >
                  {{ value == 'active' ? 'Active' : 'Deactive' }}
                </button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-success"
                  [disabled]="!addEditDelete"
                  (click)="editUser(row.id)"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
