<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="content js-content mt-5">
  <div class="row" *ngIf="!isPageLoading">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 col-10">
              <strong>View Order</strong>
            </div>
            <div class="col-sm-6 col-2 text-right custombuttons linehght">
              <button
                class="btn btn-primary btn-rounded pull-right widthset"
                type="button"
                [routerLink]="['/order']"
              >
                <i class="fa fa-arrow-left"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-block userdetail">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="nf-name">Order Id</label>
                <p>{{ order['order_number'] }}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="nf-name">Status</label>
                <p>{{ order['order_status'] }}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="nf-name">Date</label>
                <p>{{ order['createdAt'] | date: 'dd/MM/yyyy' }}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="nf-name">Price</label>
                <p>{{ order['price'] | currency: 'USD' }}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="nf-name">Total Qty</label>
                <p>{{ order['totalquantity'] }}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="nf-name">Payment Status</label>
                <p>{{ order['payment_status'] }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="shadow p-2">
                <h6>Shipping Address</h6>
                <hr />
                <div class="col-sm-12 pl-0">
                  {{ order.shippingDetail['fullName'] }}
                  {{ order.shippingDetail['address1'] }} <br />{{
                    order.shippingDetail['address2']
                  }}
                  {{ order.shippingDetail['city'] }},
                  {{ order.shippingDetail['pincode'] }}
                  {{ order.shippingDetail['state'] }} <br />
                  Phone :- {{ order.shippingDetail['phone'] }}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="shadow p-2">
                <h6>Billing Address</h6>
                <hr />
                <div class="col-sm-12 pl-0">
                  {{ order.billingDetail['fullName'] }}
                  {{ order.billingDetail['address1'] }} <br />{{
                    order.billingDetail['address2']
                  }}
                  {{ order.billingDetail['city'] }},
                  {{ order.billingDetail['pincode'] }}
                  {{ order.billingDetail['state'] }} <br />
                  <b>Phone</b> :- {{ order.billingDetail['phone'] }}
                </div>
              </div>
            </div>
            <table class="table table-hover shadow mt-3 ml-3 mr-3">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>GST/Delivery</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let arr of groupByObject">
                <tr *ngFor="let obj of arr; let i = index">
                  <td scope="row">
                    <img
                      class="img-responsive"
                      *ngIf="!obj.product_id?.image"
                      src="assets/img/no-image.jpg"
                      alt=""
                    />
                    <img
                      *ngIf="obj.product_id?.image"
                      src="{{ _host }}/images/product/{{
                        obj.product_id?.images
                      }}"
                      class="img-responsive"
                    />
                  </td>
                  <td>{{ obj.product_id?.name }}</td>
                  <td>{{ obj.quantity }}</td>
                  <td>{{ obj.price | currency: 'USD' }}</td>
                  <td *ngIf="i == 0" [attr.rowspan]="arr.length">
                    <input type="checkbox" name="gst" [(ngModel)]="arr.gst" />
                    GST <br />
                    <input
                      type="checkbox"
                      name="delivery"
                      [(ngModel)]="arr.delivery"
                    />
                    Delivery
                  </td>
                  <td>{{ obj.order_status ? obj.order_status : 'Pending' }}</td>
                  <td>
                    <button style="position: absolute;"
                      (click)="changeStatus(obj.id)"
                      class="btn btn-success"
                      title="Mark Deliver"
                      [disabled]="
                        obj.order_status && obj.order_status == 'Accepted'
                          ? false
                          : true
                      "
                    >
                      Mark Deliver
                    </button>
                  </td>
                  <td style="padding-left: 4.2rem;" [attr.rowspan]="arr.length" *ngIf="i == 0">
                    <button
                      (click)="viewInvoice(arr)"
                      class="btn btn-info mr-2"
                      title="View Invoice"
                    >
                      View Invoice
                    </button>
                    <button
                      (click)="
                        sendInvoice(
                          obj.product_id.supplier_id,
                          arr.gst,
                          arr.delivery
                        )
                      "
                      class="btn btn-primary"
                      title="Send Invoice"
                      [disabled]="
                        obj.order_status == 'Delivered' ||
                        obj.order_status == 'Accepted'
                          ? true
                          : false
                      "
                    >
                      Send Invoice
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
