
      <div class="content js-content">
        <div class="category-wrapper w-100 mt-5">
          <div class="card w-100">
            <div class="card-header">
              <strong>View News</strong>
              <div class="pull-right">
                <button *ngIf="addEditDelete" type="button" class="btn btn-success" (click)="editNews(news.id)">Edit News</button>
                <button
                  type="button"
                  class="btn btn-secondary ml-2"
                  [routerLink]="['/news']"
                >
                  Back
                </button>
               
              </div>
            </div>
        <div class="card-block p-3">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nf-name">Title</label>
                        <p [innerHTML]="news.title"></p>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Sub Title</label>
                        <p for="nf-name">{{news.subtitle}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-1" *ngIf="news.image">
                    <div class="thumbnail-blog">
                        <img src="{{_host}}/images/news/{{news.image}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <p [innerHTML]="news.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>