.content {
    position: fixed;
    top: 0;
    left: 15rem;
    z-index: -1;
    width: calc(100% - 14rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.card-header {
    background: #50b75e;
    color: white;
    font-size: 25px;
    position: relative;
    padding: 10px;
    top: -1rem;
    z-index: 99;
    margin: 0px 1.3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
label {
    font-weight: 600;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9999;
    height: 50px;
    bottom: 0;
    right: 0;
    margin: auto;
}
.img-circle.small {
    width: 58px !important;
    height: 58px !important;
    border: 2px dotted #fff;
}
.img-circle {
    border-radius: 50% !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 26%), 0 1px 7px 0 rgb(0 0 0 / 22%);
}
.imageblock.blurred:before {
    background-color: rgba(0,0,0,0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.imageblock.blurred {
    height: 160px;
    overflow: hidden;
}
.relative {
    position: relative !important;
}
img.img-fluid.w-100 {
    object-fit: cover;
    position: absolute;
    height: inherit;
}
.thumbnail-blog img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
p h2 a {
    color: #50b75e;
}