<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div>
  <!-- <app-loader [isLoading]="isLoading"></app-loader> -->
  <!-- loading section -->
  <!-- <div class="aligncenter_loader" *ngIf="isPageLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div> -->
  <!-- loading section ends  -->
  <div class="content js-content">
    <div class="card w-100 mt-5">
      <div class="card-header">
        <strong>{{ ID ? 'Edit' : 'Add' }} Item</strong>
      </div>
      <!-- form to add or update crop -->
      <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
        <div class="card-block p-3">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="businessType">Business Type</label>
                <select id="businessType" name="businessType" class="form-control" size="1" #businessType="ngModel"
                  [(ngModel)]="object.businessType" required>
                  <option value="">Please select</option>
                  <option *ngFor="let obj of business_types" value="{{ obj }}">
                    {{ obj }}
                  </option>
                </select>
                <div class="error-block">
                  <small *ngIf="
                      businessType.errors?.required && businessType.touched
                    " class="text-danger">
                    Business type is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="custome-check size loginpage d-inline-block" *ngIf="object.businessType != 'producer'">
                <label class="spc">&nbsp;</label>
                <input id="option5" name="status" type="checkbox" [(ngModel)]="object.medical" />
                <label for="option5">Medical</label>
              </div>
              <div class="custome-check size loginpage d-inline-block" *ngIf="object.businessType != 'producer'">
                <input id="option6" name="status1" type="checkbox" [(ngModel)]="object.recreation" />
                <label for="option6">Recreational</label>
              </div>
              <div class="custome-check size loginpage d-inline-block">
                <label class="spc">&nbsp;</label>
                <input id="option8" name="Featured" type="checkbox" [(ngModel)]="object.isFeatured" />
                <label for="option8">Featured</label>
              </div>
              <div class="custome-check size loginpage d-inline-block" *ngIf="!ID && object.businessType != 'producer'">
                <input id="option9" name="Master" type="checkbox" [(ngModel)]="object.isMaster" />
                <label for="option9">Master</label>
              </div>
              <div class="custome-check size loginpage d-inline-block" *ngIf="object.isMaster && ID">
                <input id="option9" name="Master" type="checkbox" [(ngModel)]="object.isMaster" />
                <label for="option9">Master</label>
              </div>
              <!-- <div class="custome-check size loginpage d-inline-block" >
                                <input id="option10" name="Mastersec" disabled type="checkbox">
                                <label for="option10">Master</label>
                            </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-name">Username</label>
                <input autofocus type="text" id="username" name="username" class="form-control" placeholder=""
                  minlength="3" maxlength="50" (keyup)="trim('username')" #username="ngModel"
                  [ngModel]="object.username" (ngModelChange)="object.username = $event" required />
                <div class="error-block">
                  <small *ngIf="username.errors?.required && username.touched" class="text-danger">
                    Username is required.
                  </small>
                  <small *ngIf="username.errors?.minlength && username.touched" class="text-danger">
                    Minumum length should be 3.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-name">Name</label>
                <input autofocus type="text" id="name" name="name" class="form-control" placeholder="" minlength="3"
                  (keyup)="trim('name')" #name="ngModel" [ngModel]="object.name" (ngModelChange)="object.name = $event"
                  required />
                <div class="error-block">
                  <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                    Name is required.
                  </small>
                  <small *ngIf="name.errors?.minlength && name.touched" class="text-danger">
                    Minumum length should be 3.
                  </small>
                </div>
              </div>
            </div>

            <div class="col-sm-6" *ngIf="
                !object.isMaster &&
                object.businessType != 'brand' &&
                object.businessType != 'producer'
              ">
              <div class="form-group has-required">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" class="form-control" #address="ngModel"
                  [ngModel]="object.address" (ngModelChange)="object.address = $event" minlength="3" placeholder=""
                  (keyup)="trim('address')" required />
                <div class="error-block">
                  <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                    Address is required.
                  </small>
                  <small *ngIf="address.errors?.pattern && address.touched" class="text-danger">
                    Invalid input.
                  </small>
                  <small *ngIf="address.errors?.minlength && address.touched" class="text-danger">
                    Minumum length should be 3.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="!object.isMaster && object.businessType == 'brand'">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" #address="ngModel" class="form-control"
                  [ngModel]="object.address" (ngModelChange)="object.address = $event" minlength="3" placeholder=""
                  (keyup)="trim('address')" />
              </div>
            </div>
            <!-- <div class="col-sm-6" >
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" class="form-control"  /> 
                        </div>                                    
                    </div> -->
          </div>

          <div class="row" *ngIf="!object.isMaster && object.businessType != 'brand'">
            <div class="col-sm-6" >
              <div class="form-group has-required">
                <label for="city">City</label>
                <select id="city" name="city" class="form-control" size="1" #city="ngModel" [(ngModel)]="object.city"
                  required>
                  <option value="">Please select</option>
                  <option *ngFor="let obj of cities" value="{{ obj }}">
                    {{ obj }}
                  </option>
                </select>
                <div class="error-block">
                  <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                    City is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="object.businessType != 'producer'">
              <div class="form-group has-required">
                <label for="nf-pincode">Postal Code </label>
                <input type="text" id="nf-pincode" name="pincode" class="form-control" placeholder="" #pincode="ngModel"
                  [(ngModel)]="object.postal_code" required />
                <div class="error-block">
                  <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                    Postal Code is required.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!object.isMaster && object.businessType == 'brand'">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="city">City</label>
                <select id="city" name="city" class="form-control" size="1" #city="ngModel" [(ngModel)]="object.city">
                  <option value="">Please select</option>
                  <option *ngFor="let obj of cities" value="{{ obj }}">
                    {{ obj }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-pincode">Postal Code </label>
                <input type="text" id="nf-pincode" name="pincode" #pincode="ngModel" class="form-control"
                  [(ngModel)]="object.postal_code" placeholder="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-email">Email </label>
                <input type="text" id="nf-email" name="email" email class="form-control" placeholder="" #email="ngModel"
                  class="form-control" required [(ngModel)]="object.email" (keydown.space)="$event.preventDefault()" />
                <div class="error-block">
                  <small *ngIf="email.errors?.required && email.touched" class="text-danger">
                    Email is required.
                  </small>
                  <small *ngIf="email.errors?.email && email.touched" class="text-danger">
                    Email is not valid.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="!object.isMaster">
              <div class="form-group">
                <label for="nf-website">Website </label>
                <input type="text" id="nf-website" name="website" class="form-control" placeholder="" #website="ngModel"
                  [(ngModel)]="object.website" (keydown.space)="$event.preventDefault()" />
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!object.isMaster">
            <div class="col-sm-6" *ngIf="object.businessType != 'producer'">
              <div class="form-group">
                <label for="nf-mobile">Phone</label>
                <input type="number" id="mobile" name="mobile" class="form-control" placeholder="" #mobile="ngModel"
                  [(ngModel)]="object.mobile" />
                <div class="error-block">
                  <small *ngIf="mobile.errors?.required && mobile.touched" class="text-danger">
                    Mobile is required.
                  </small>
                  <small *ngIf="mobile.errors?.min && mobile.touched" class="text-danger">
                    Minimum 10 digit allow.
                  </small>
                  <small *ngIf="mobile.errors?.max && mobile.touched" class="text-danger">
                    Maximum 10 digit allow.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="blocklabel" for="nf-image" title="You can upload maximum 5 images">Image</label>
                <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6"
                  data-multiple-caption="{count} files selected" multiple imageUpload
                  (imageSelected)="uploadImage($event)" accept="image/jpg, image/jpeg, image/png, image/gif" />
                <label for="file-7">
                  <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                      <path
                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                    </svg>
                    Upload image</strong></label>
                <!-- <i class="fa fa-plus addimage"></i> -->
                <div class="thumbnail pointer-custom" *ngIf="object.image">
                  <img src="{{ _host }}/images/dispensary/{{ object.image }}" />
                  <i class="close fa fa-times" (click)="object.image = ''"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- </div> -->

          <div class="row" *ngIf="!object.isMaster">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-website">Meta Name </label>
                <input type="text" id="nf-website2" name="website2" #website2="ngModel" class="form-control"
                  [(ngModel)]="object.meta_name" (keydown.space)="$event.preventDefault()" placeholder="" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-website">Meta Description </label>
                <input type="text" id="nf-website1" name="website1" #website1="ngModel" class="form-control"
                  [(ngModel)]="object.meta_desc" (keydown.space)="$event.preventDefault()" placeholder="" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-terms">About Us Text</label>
                <textarea type="text" id="paymentTerms" name="paymentTerms" class="form-control"
                  [(ngModel)]="object.about_us" placeholder="" (keyup)="trim('terms')" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!object.isMaster && object.businessType == 'dispensary'">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-mobile">Facebook URL</label>
                <input type="text" id="fbUrl" name="fbUrl" class="form-control" #fbUrl="ngModel"
                  [(ngModel)]="object.fbUrl" placeholder="" pattern="^\http(s*)://(www.)*facebook.com/[a-zA-Z0-9.]+$" />
                <div class="error-block">
                  <small *ngIf="fbUrl.errors?.pattern && fbUrl.touched" class="text-danger">
                    This URL is invalid
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-mobile">Instagram URL</label>
                <input type="text" id="instagramUrl" name="instagramUrl" class="form-control" #instagramUrl="ngModel"
                  [(ngModel)]="object.instagramUrl" placeholder=""
                  pattern="^\http(s*)://(www.)*instagram.com/[a-zA-Z0-9.]+$" />
                <div class="error-block">
                  <small *ngIf="instagramUrl.errors?.pattern && instagramUrl.touched" class="text-danger">
                    This URL is invalid
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!object.isMaster && object.businessType == 'dispensary'">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-mobile">Twitter URL</label>
                <input type="text" id="twitterUrl" name="twitterUrl" class="form-control" #twitterUrl="ngModel"
                  [(ngModel)]="object.twitterUrl" placeholder=""
                  pattern="^\http(s*)://(www.)*twitter.com/[a-zA-Z0-9.]+$" />
                <div class="error-block">
                  <small *ngIf="twitterUrl.errors?.pattern && twitterUrl.touched" class="text-danger">
                    This URL is invalid
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nf-mobile">GAB URL</label>
                <input type="text" id="gabUrl" name="gabUrl" class="form-control" #gabUrl="ngModel"
                  [(ngModel)]="object.gabUrl" placeholder="" pattern="^\http(s*)://(www.)*gab.com/[a-zA-Z0-9.]+$" />
                <div class="error-block">
                  <small *ngIf="gabUrl.errors?.pattern && gabUrl.touched" class="text-danger">
                    This URL is invalid
                  </small>
                </div>
                <!-- <div class="error-block">
                            <small *ngIf="mobile.errors?.required && mobile.touched" class="text-danger">
                                Mobile is required.
                            </small>
                            <small *ngIf="mobile.errors?.min && mobile.touched" class="text-danger">
                                Minimum 10 digit allow.
                            </small>
                            <small *ngIf="mobile.errors?.max && mobile.touched" class="text-danger">
                                Maximum 10 digit allow.
                            </small>
                        </div> -->
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!object.isMaster && object.businessType != 'producer'">
            <div class="col-sm-5">
              <div class="wht-bg">
                <h4 class="rit-main-title">Hours Of Operation</h4>
                <ul class="hours-oper">
                  <li class="" *ngFor="let obj of object.scheduler; let i = index">
                    <span class="day" style="width: 6rem !important;">{{ obj.day }}</span>
                    <span class="time" style="width: 58% !important;">
                      <input type="text" style="height: 26px" name="startTime{{ i }}" id="startTime{{ i }}"
                        [(ngModel)]="obj.startTime" class="form-control" style="padding-left: 5px;" />-
                      <input type="text" style="height: 26px" name="closeTime{{ i }}" id="closeTime{{ i }}"
                        [(ngModel)]="obj.closeTime" class="form-control" style="padding-left: 5px;" />
                    </span>
                    <!-- <span class="pm">pm</span> -->
                    <span class="status"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- <image-popup [popupImagePath]="popupImagePath"></image-popup> -->

        <div class="card-footer">
          <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/dispensary']">
            Cancel
          </button>
          <button type="submit" [disabled]="!addCropForm.valid" class="pull-right btn btn-primary pl-4 pr-4">
            {{ ID ? 'Update' : 'Save' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>