<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>Add Store</strong>
    </div>

    <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-dispensary_id">Dispensary Name</label>
              <select
                id="dispensary_id"
                name="dispensary_id"
                [(ngModel)]="object.dispensary_id"
                #dispensary_id="ngModel"
                class="form-control"
                size="1"
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let data of DispanceryList"
                  value="{{ data.id }}"
                >
                  {{ data.name }} || {{ data.address }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="
                    dispensary_id.errors?.required && dispensary_id.touched
                  "
                  class="text-danger"
                >
                  Dispancry Name is required.
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-city">POS </label>
              <select
                id="city"
                name="pos_name"
                [(ngModel)]="object.pos_name"
                #pos_name="ngModel"
                class="form-control"
                size="1"
              >
                <option value="">Please select</option>
                <option *ngFor="let data of PosList" value="{{ data.name }}">
                  {{ data.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="pos_name.errors?.required && pos_name.touched"
                  class="text-danger"
                >
                  POS Name is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="auth_key">API Auth Key</label>
              <input
                type="text"
                id="auth_key"
                name="auth_key"
                #auth_key="ngModel"
                class="form-control"
                [(ngModel)]="object.auth_key"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="auth_key.errors?.required && auth_key.touched"
                  class="text-danger"
                >
                  Auth Key is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-auth_token">API Auth Token</label>
              <input
                type="text"
                id="auth_token"
                name="auth_token"
                #auth_token="ngModel"
                class="form-control"
                [(ngModel)]="object.auth_token"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="auth_token.errors?.required && auth_token.touched"
                  class="text-danger"
                >
                  Auth token is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="api_url">API URL</label>
              <input
                type="text"
                id="api_url"
                name="api_url"
                #api_url="ngModel"
                class="form-control"
                [(ngModel)]="object.api_url"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="api_url.errors?.required && api_url.touched"
                  class="text-danger"
                >
                  API URL is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">Company Id</label>
              <input
                type="text"
                id="nf-reward_point"
                name="company_id"
                #company_id="ngModel"
                class="form-control"
                [(ngModel)]="object.company_id"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="company_id.errors?.required && company_id.touched"
                  class="text-danger"
                >
                  Company id is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">Location Id</label>
              <input
                type="text"
                id="nf-reward_point"
                name="location_id"
                #location_id="ngModel"
                class="form-control"
                [(ngModel)]="object.location_id"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="location_id.errors?.required && location_id.touched"
                  class="text-danger"
                >
                  Location id is required.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/store']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addCropForm.valid"
        >
          {{ ID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
