<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ categoryID ? 'Edit' : 'Add' }} Producer</strong>
    </div>
    <form role="form" (ngSubmit)="save()" #addCatgForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-name">Name</label>
              <input
                type="text"
                id="subcategoryname"
                name="subcategoryname"
                class="form-control"
                placeholder=""
                #name="ngModel"
                [ngModel]="category.name"
                (ngModelChange)="category.name = $event"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="name.errors?.required && name.touched"
                  class="text-danger"
                >
                  Name is required.
                </small>
                <small
                  *ngIf="name.errors?.minlength && name.touched"
                  class="text-danger"
                >
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="businessType">City</label>
              <select
                id="businessType"
                name="businessType"
                class="form-control"
                size="1"
                [(ngModel)]="category.city"
                #city="ngModel"
                required
              >
                <option value="">Please select</option>
                <option *ngFor="let cat of cities" value="{{ cat.id }}">
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="city.errors?.required && city.touched"
                  class="text-danger"
                >
                  City is required.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/producer']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addCatgForm.valid"
        >
          {{ categoryID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
  <!-- .card -->
</div>
<!-- .category-wrapper -->
