<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Drivers</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <section class="search-form">
            <input class="form-control name" [(ngModel)]="filters.search" id="name" required type="text"
              placeholder="" />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button *ngIf="filters.search" (click)="clearValue()" class="btn btn-secondary btn-sm ml-2">
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" [routerLink]="['/drivers/add']">
            Add Driver
          </button>
          <img style="cursor: pointer" class="ml-2" alt="pdf" src="assets/img/pdf.png" />
          <img style="cursor: pointer" class="ml-2" alt="pdf" src="assets/img/xls.png" />
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="false" [rows]="categoryList" [columns]="columns" [limit]="5"
            (page)="setPage($event)" [externalPaging]="true" [count]="totalItems">
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="User Name" prop="username1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a href="javascript:void(0);" class="text-secondary" (click)="viewUser(row.id)" title="View User">{{
                  value }}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mobile" prop="mobile">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Rating" prop="rating">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Order" prop="totalOrders">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Registered On" prop="createdAt">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button
                (click)="changeStatus(value, row.id)"
                class="btn"
                [ngClass]="{
                  'btn-success': value == 'active',
                  'btn-danger': value == 'deactive'
                }"
                title="{{ value == 'active' ? 'Active' : 'Deactive' }}"
              >
                {{ value == 'active' ? 'Active' : 'Deactive' }}
              </button>
                
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" prop="action">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button (click)="edit(row.id)" class="btn btn-success" title="Edit" [disabled]="!addEditDelete">
                  <i class="fa fa-pencil"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>