<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ ID ? 'Edit' : 'Add' }} Item</strong>
    </div>
    <form role="form" (ngSubmit)="save()" #sendMessageForm="ngForm">
      <div class="card-block w-100">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="business_type">Business Type</label>
              <select
                id="business_type"
                name="business_type"
                class="form-control"
                size="1"
                #business_type="ngModel"
                [(ngModel)]="object.business_type"
                required
              >
                <option value="">Please Select</option>
                <option *ngFor="let obj of business_types" value="{{ obj }}">
                  {{ obj }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="
                    business_type.errors?.required && business_type.touched
                  "
                  class="text-danger"
                >
                  Business type is required.
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-6"></div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-name">Subject</label>
              <input
                autofocus
                type="text"
                id="subject"
                name="subject"
                class="form-control"
                (keyup)="trim('subject')"
                #subject="ngModel"
                [ngModel]="object.subject"
                (ngModelChange)="object.subject = $event"
                placeholder=""
                minlength="3"
                maxlength="50"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="subject.errors?.required && subject.touched"
                  class="text-danger"
                >
                  Subject is required.
                </small>
                <small
                  *ngIf="subject.errors?.minlength && subject.touched"
                  class="text-danger"
                >
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="nf-desc">Message</label>
              <textarea
                type="text"
                id="desc"
                name="desc"
                class="form-control"
                placeholder=""
                [(ngModel)]="object.desc"
                (keyup)="trim('desc')"
                rows="2"
                #desc="ngModel"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          [routerLink]="['/automation']"
          class="btn btn-secondary whiteclr"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!sendMessageForm.valid"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
