<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">All Store</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="">
          <section class="search-form">
            <input
              class="form-control name"
              id="name"
              required
              type="text"
              [(ngModel)]="filters.search"
              placeholder=""
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" [routerLink]="['/store/add-store']">
            Add Store
          </button>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="categoryList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Store Name" prop="name">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="URL" prop="api_url">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Api Key" prop="auth_key">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Auth Token" prop="auth_token">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Location Id" prop="location_id">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Company Id" prop="company_id">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Pos Name" prop="pos_name">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Cron Run" prop="updatedByCron">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date: _crondateFormat }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="route(row.id, 'edit-store')"
                  class="btn btn-success mr-2"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  [routerLink]="['/store/storeorders/' + row.dispensary_id]"
                  class="btn btn-secondary"
                  title="Orders"
                >
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
