<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
    </div>
</ngx-spinner>
<div class="content js-content">

    <div class="category-wrapper w-100 mt-5">
        <!-- loading section ends  -->
        <div class="card w-100">
            <div class="card-header">
                <strong>{{subscriberID ? 'Edit' : 'Add'}} Supplier</strong>
            </div>
            <form role="form" (ngSubmit)="save()" #addCatgForm="ngForm">
                <div class="card-block p-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group  has-required">
                                <label for="nf-name">Name</label>
                                <input autofocus type="text" id="name" name="name" class="form-control" placeholder=""
                                    minlength="3" maxlength="50" #name="ngModel" [ngModel]="subscriber.name"
                                    (ngModelChange)="subscriber.name=$event" required>
                                <div class="error-block">
                                    <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                        Name is required.
                                    </small>
                                    <small *ngIf="name.errors?.minlength && name.touched" class="text-danger">
                                        Minumum length should be 3.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group  has-required">
                                <label for="nf-email">Email</label>
                                <input autofocus type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    id="email" name="email" class="form-control" placeholder="" #email="ngModel"
                                    [ngModel]="subscriber.email" (ngModelChange)="subscriber.email=$event" required>
                                <div class="error-block">
                                    <small *ngIf="email.errors?.required && email.touched" class="text-danger">
                                        Email is required.
                                    </small>
                                    <small *ngIf="email.errors?.pattern && email.touched" class="text-danger">
                                        Email is invalid.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group  has-required">
                                <label for="nf-name">First Name</label>
                                <input autofocus type="text" id="name" name="firstname" class="form-control"
                                    placeholder="" minlength="3" maxlength="50" #first_name="ngModel"
                                    [ngModel]="subscriber.first_name" (ngModelChange)="subscriber.first_name=$event"
                                    required>
                                <div class="error-block">
                                    <small *ngIf="first_name.errors?.required && first_name.touched"
                                        class="text-danger">
                                        First name is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group  has-required">
                                <label for="nf-name">Last Name</label>
                                <input autofocus type="text" id="name" name="lastname" class="form-control"
                                    placeholder="" minlength="3" maxlength="50" #last_name="ngModel"
                                    [ngModel]="subscriber.last_name" (ngModelChange)="subscriber.last_name=$event"
                                    required>
                                <div class="error-block">
                                    <small *ngIf="last_name.errors?.required && last_name.touched" class="text-danger">
                                        Last name is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group  has-required">
                                <label for="nf-name">SSN</label>
                                <input autofocus type="text" id="name" name="ssn" class="form-control" placeholder=""
                                    minlength="3" maxlength="50" #ssn="ngModel" [ngModel]="subscriber.ssn"
                                    (ngModelChange)="subscriber.ssn=$event" required>
                                <div class="error-block">
                                    <small *ngIf="ssn.errors?.required && ssn.touched" class="text-danger">
                                        SSN is required.
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Date of birth</label>
                                <input autofocus type="date" name="instaleaf_commission" class="form-control"
                                    placeholder="" #dobDate="ngModel" [ngModel]="subscriber.dobDate"
                                    (ngModelChange)="subscriber.dobDate=$event" required>
                                <div class="error-block">
                                    <small *ngIf="dobDate.errors?.required && dobDate.touched" class="text-danger">
                                        Date of birth is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Routing Number</label>
                                <input autofocus type="number" name="instaleaf_commission" class="form-control"
                                    placeholder="" #routing_number="ngModel" [ngModel]="subscriber.routing_number"
                                    (ngModelChange)="subscriber.routing_number=$event" required>
                                <div class="error-block">
                                    <small *ngIf="routing_number.errors?.required && routing_number.touched"
                                        class="text-danger">
                                        Routing number is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Instaleaf Commission</label>
                                <input autofocus type="text" id="instaleaf_commission" name="instaleaf_commission"
                                    class="form-control" #instaleaf_commission="ngModel"
                                    [ngModel]="subscriber.instaleaf_commission"
                                    (ngModelChange)="subscriber.instaleaf_commission=$event" placeholder="" required>
                                <div class="error-block">
                                    <small *ngIf="instaleaf_commission.errors?.required && instaleaf_commission.touched"
                                        class="text-danger">
                                        Instaleaf Commission is required.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Suppliers Commission</label>
                                <input autofocus type="text" id="supplier_commission" name="supplier_commission"
                                    class="form-control" #supplier_commission="ngModel"
                                    [ngModel]="subscriber.supplier_commission"
                                    (ngModelChange)="subscriber.supplier_commission=$event" placeholder="" required>
                                <div class="error-block">
                                    <small *ngIf="supplier_commission.errors?.required && supplier_commission.touched"
                                        class="text-danger">
                                        Supplier Commission is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Bank Name</label>
                                <input autofocus type="text" id="bank_name" name="bank_name" class="form-control"
                                    placeholder="" #bank_name="ngModel" [ngModel]="subscriber.bank_name"
                                    (ngModelChange)="subscriber.bank_name=$event" required>
                                <div class="error-block">
                                    <small *ngIf="bank_name.errors?.required && bank_name.touched" class="text-danger">
                                        Bank Name is required.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Account Number</label>
                                <input autofocus type="number" id="account_number" name="account_number"
                                    class="form-control" placeholder="" #account_number="ngModel"
                                    [ngModel]="subscriber.account_number"
                                    (ngModelChange)="subscriber.account_number=$event" required>
                                <div class="error-block">
                                    <small *ngIf="account_number.errors?.required && account_number.touched"
                                        class="text-danger">
                                        Account Number is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Account Holder's Name</label>
                                <input autofocus type="text" id="accountholder_name" name="accountholder_name"
                                    class="form-control" placeholder="" #accountholder_name="ngModel"
                                    [ngModel]="subscriber.accountholder_name" required>
                                <div class="error-block">
                                    <small *ngIf="accountholder_name.errors?.required && accountholder_name.touched"
                                        class="text-danger">
                                        Account Holder's Name is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group has-required">
                                <label for="nf-city">Mobile Number</label>
                                <input autofocus type="number" id="mobile" name="mobile" class="form-control"
                                    placeholder="" maxlength="10" #mobile="ngModel" [ngModel]="subscriber.mobile"
                                    (ngModelChange)="subscriber.mobile=$event" required="" min="1000000000"
                                    max="9999999999"  pattern="mobNumberPattern" pattern="^\d{10}$" required="required">
                                <div class="error-block">
                                    <small *ngIf="mobile.errors?.required && mobile.touched" class="text-danger">
                                        Mobile Number is required.
                                    </small>

                                    <small *ngIf="mobile.errors?.pattern" class="text-danger">
                                        Invalid Mobile
                                    </small>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/supplier']">
                        Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr"
                        [disabled]="!addCatgForm.valid">{{subscriberID ? 'Update' : 'Save'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>