<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ cityID ? 'Edit' : 'Add' }} City</strong>
    </div>
    <form role="form" (ngSubmit)="save()" #addCityForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            
            <div class="form-group has-required">
              <label for="nf-province">Province</label>
              <select
                id="province"
                name="province"
                class="form-control"
                size="1"
                [(ngModel)]="city.province"
                required
              >
                <option value="">Please select</option>
                <option *ngFor="let cat of province" value="{{ cat.name }}">
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small *ngIf="errMessage" class="text-danger vname-valid">
                  {{ errMessage }}
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-name">City Name</label>
              <input
                autofocus
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder=""
                minlength="3"
                maxlength="50"
                (keyup)="trim('name')"
                #name="ngModel"
                [ngModel]="city.name"
                (ngModelChange)="city.name = $event"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="name.errors?.required && name.touched"
                  class="text-danger"
                >
                  Name is required.
                </small>
                <small
                  *ngIf="name.errors?.minlength && name.touched"
                  class="text-danger"
                >
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <input
                id="nf-fordelivery"
                name="isForDelivery"
                type="checkbox"
                [(ngModel)]="city.isForDelivery"
                required
              />
              <label for="nf-fordelivery" class="ml-2">Product for Delivery</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/city']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addCityForm.valid"
        >
          {{ cityID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
