.content {
    position: absolute;
    top: 0;
    left: 15.5rem;
    z-index: -1;
    width: calc(100% - 15.5rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.card-header {
    background: #50b75e;
    color: white;
    font-size: 25px;
    position: relative;
    padding: 10px;
    top: -1rem;
    z-index: 99;
    margin: 0px 1.3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
.tab-pane.active {
    padding: 10px 2rem;
}
i.fa.fa-plus {
    font-size: 21px;
    padding-right: 1rem;
}
.row.greybg {
    background: #ccc;
    padding-top: 10px;
}
.card-header.flex-row.p-2.mt-3 {
    background: #94949400;
    color: #50b75e;
    border-right: 2px solid #50b75e !important;
    border-left: 2px solid #50b75e;
}
a.nav-link {
    color: black;
}
a.nav-link.active {
    color: #50b75e !important;
}
button.btn.btn-sm.btn-danger.btn-rounded.orange.pull-right.positiontopright {
    padding: 4px 15px;
}
ul.nav.nav-tabs {
    padding-left: 20px;
}