<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>

<div class="content js-content">

    <div class="category-wrapper w-100 mt-5">
        <!-- loading section ends  -->
        <div class="card w-100 pb-0">
            <div class="card-header">
                <strong>Edit Setting</strong>
            </div>
        
        <form role="form" (ngSubmit)="save()" #addCatgForm="ngForm">
            <div class="card-block tabs"> 
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" id="fareTAB" href="#faremanagement" role="tab">Fare Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" id="commissionTAB" href="#commission" role="tab">Commission Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" id="rewardTAB" href="#reward" role="tab">Reward Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" id="marketplaceTAB" href="#marketplace" role="tab">Marketplace Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" id="alohacommissionTAB" href="#alohacommission" role="tab">Aloha Commission</a>
                    </li>
			    </ul>
			    <div class="tab-content bordertabs">
                    <div class="tab-pane active" id="faremanagement" role="tabpanel">
                        <div class="card mt-3">
                            <div class="card-header flex-row p-2 mt-3">
                                <div class="d-inline-flex"> <h5 class="mb-0">Fare Charges</h5></div>
                                <div class="pointer-custom d-inline-flex pull-right"><b><i class="fa fa-plus" (click)="addFareCharges()"></i></b></div>
                            </div>
                            <div class="row pl-4 pr-4" *ngFor="let obj of setting.fare_charges;let i=index">
                                    <div class="col-sm-12">
                                        <button (click)="removeFareCharges(i)" class="btn btn-sm btn-danger btn-rounded orange pull-right positiontopright" title="Delete">
                                            <i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-required">
                                            <label for="nf-name">Minimum KM</label>
                                            <input autofocus type="number" id="minimumKM"  oninput="validity.valid||(value='');" step="0.01" min="0" id="label{{i}}" #minimumKM="ngModel" name="label{{i}}" class="form-control" [(ngModel)]="obj.min" required>
                                            <!-- <input    min="0" id="dispensaryReward" name="dispensaryReward" class="form-control" step="0.01" #dispensaryReward="ngModel" [(ngModel)]="setting.reward.dispensary" required> -->
                                            <div class="error-block">
                                                <small *ngIf="minimumKM.errors?.required && minimumKM.touched" class="text-danger">
                                                    Minimum KM is required.
                                                </small>
                                            </div>
                                       
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-required">
                                            <label for="nf-name">Maximum KM</label>
                                            <input type="number" autofocus id="maximumKM" oninput="validity.valid||(value='');" #maximumKM="ngModel" step="0.01" min="0" id="percentage{{i}}" name="percentage{{i}}" class="form-control" [(ngModel)]="obj.max" required>
                                            <div class="error-block">
                                                <small *ngIf="maximumKM.errors?.required && maximumKM.touched" class="text-danger">
                                                    Maximum KM is required.
                                                </small>
                                            </div>
                                       
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-required">
                                            <label for="nf-name">Charges</label>
                                            <input autofocus type="number" min="1" #Charges="ngModel" id="days{{i}}" name="days{{i}}" class="form-control" [(ngModel)]="obj.charges" required>
                                            <div class="error-block">
                                                <small *ngIf="Charges.errors?.required && Charges.touched" class="text-danger">
                                                    Charges is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

			        <div class="tab-pane" id="commission" role="tabpanel">
				        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group has-required">
                                    <label for="nf-name">instaLeaf Commission (%)</label>
                                    <input autofocus type="number" (keydown.space)="$event.preventDefault()"  min="0" max="100" id="adminCharge" name="adminCharge" class="form-control" step="0.01" #adminCharge="ngModel" [(ngModel)]="setting.commission.admin" required>
                                    <div class="error-block">
                                        <small *ngIf="adminCharge.errors?.required && adminCharge.touched" class="text-danger">
                                            instaLeaf Commission (%) is required.
                                        </small>
                                        <small *ngIf="adminCharge.errors?.max && adminCharge.touched" class="text-danger">
                                            Maximum (%) is 100.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group has-required">
                                    <label for="nf-name">Store Commission (%)</label>
                                    <input autofocus type="number" (keydown.space)="$event.preventDefault()"  min="0" max="100" id="storeComission" name="storeComission" class="form-control" step="0.01" #storeComission="ngModel" [(ngModel)]="setting.commission.store" required>
                                    <div class="error-block">
                                        <small *ngIf="storeComission.errors?.required && storeComission.touched" class="text-danger">
                                            Store Commission (%) is required.
                                        </small>
                                        <small *ngIf="storeComission.errors?.max && storeComission.touched" class="text-danger">
                                            Maximum (%) is 100.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
			        </div>

                    <div class="tab-pane" id="reward" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group has-required">
                                    <label for="nf-name">Dispensary Reward Point</label>
                                    <input autofocus type="number" (keydown.space)="$event.preventDefault()"  min="0" id="dispensaryReward" name="dispensaryReward" class="form-control" step="0.01" #dispensaryReward="ngModel" [(ngModel)]="setting.reward.dispensary" required>
                                    <div class="error-block">
                                        <small *ngIf="dispensaryReward.errors?.required && dispensaryReward.touched" class="text-danger">
                                            Field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group has-required">
                                    <label for="nf-name">Product Reward Point</label>
                                    <input autofocus type="number" (keydown.space)="$event.preventDefault()"  min="0" id="strainReward" name="strainReward" class="form-control" step="0.01" #strainReward="ngModel" [(ngModel)]="setting.reward.product" required>
                                    <div class="error-block">
                                        <small *ngIf="strainReward.errors?.required && strainReward.touched" class="text-danger">
                                            Field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="marketplace" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group has-required">
                                    <label for="nf-name">Tax %age</label>
                                    <input autofocus type="number" (keydown.space)="$event.preventDefault()"  min="0" id="tax_percentage" name="tax_percentage" class="form-control" step="0.01" #tax_percentage="ngModel" [(ngModel)]="setting.tax_percentage" required>
                                    <div class="error-block">
                                        <small *ngIf="tax_percentage.errors?.required && tax_percentage.touched" class="text-danger">
                                            Field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>   
                            <div class="col-sm-3">
                                <div class="form-group has-required">
                                    <label for="nf-name">GST %age</label>
                                    <input type="number" (keydown.space)="$event.preventDefault()"  min="0" id="gst" name="gst" class="form-control" step="0.01" #gst="ngModel" [(ngModel)]="setting.gst" required>
                                    <div class="error-block">
                                        <small *ngIf="gst.errors?.required && gst.touched" class="text-danger">
                                            Field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group has-required">
                                    <label for="nf-name">Delivery Charges in Amount</label>
                                    <input type="number" (keydown.space)="$event.preventDefault()"  min="0" id="delivery_charge" name="delivery_charge" class="form-control" step="0.01" #delivery_charge="ngModel" [(ngModel)]="setting.delivery_charge" required>
                                    <div class="error-block">
                                        <small *ngIf="delivery_charge.errors?.required && delivery_charge.touched" class="text-danger">
                                            Field is required.
                                        </small>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>

                    <div class="tab-pane" id="alohacommission" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group has-required">
                                    <label for="nf-name">instaLeaf Commission for Aloha Products(%)</label>
                                    <input type="number" (keydown.space)="$event.preventDefault()"  min="0" max="100" id="adminalohaCharge" name="adminalohaCharge" class="form-control" step="0.01" #adminalohaCharge="ngModel" [(ngModel)]="setting.alohacommission.admin" required>
                                    <div class="error-block">
                                        <small *ngIf="adminalohaCharge.errors?.required && adminalohaCharge.touched" class="text-danger">
                                        instaLeaf Commission (%) is required.
                                        </small>
                                        <small *ngIf="adminalohaCharge.errors?.max && adminalohaCharge.touched" class="text-danger">
                                        Maximum (%) is 100.
                                        </small>
                                    </div>
                                 </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group has-required">
                                    <label for="nf-name">Aloha Commission (%)</label>
                                    <input type="number" (keydown.space)="$event.preventDefault()"  min="0" max="100" id="alohaComission" name="alohaComission" class="form-control" step="0.01" #alohaComission="ngModel" [(ngModel)]="setting.alohacommission.aloha" required>
                                    <div class="error-block">
                                        <small *ngIf="alohaComission.errors?.required && alohaComission.touched" class="text-danger">
                                            Store Commission (%) is required.
                                        </small>
                                        <small *ngIf="alohaComission.errors?.max && alohaComission.touched" class="text-danger">
                                            Maximum (%) is 100.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
			    </div>
	        </div>
        
            <div class="card-footer">
                <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/setting']"> Cancel</button>
                <button type="submit" class="pull-right btn btn-primary orangeclr">Update</button>
            </div>
        </form>
        
    </div>
</div>
</div>