<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <div class="category-wrapper w-100 mt-5">
    <!-- loading section ends  -->
    <div class="card w-100">
      <div class="card-header">
        <strong>{{ categoryID ? 'Edit' : 'Add' }} Category</strong>
      </div>
      <form role="form" (ngSubmit)="save()" #addCatgForm="ngForm">
        <div class="card-block p-4">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-businessType">Category Name</label>
                <select id="businessType" name="businessType" class="form-control disable" size="1"
                  #businessType="ngModel" [(ngModel)]="category.name" required>
                  <option value="">Please select</option>
                  <option *ngFor="let obj of ParentCategories" value="{{ obj }}">
                    {{ obj }}
                  </option>
                </select>
                <div class="error-block">
                  <small *ngIf="
                      businessType.errors?.required && businessType.touched
                    " class="text-danger">
                    Category name is required.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-name">Subcategory Name</label>
                <input autofocus type="text" id="name" name="name" class="form-control" placeholder="" minlength="3"
                  maxlength="50" (keyup)="trim('subcategoryname')" #subcategoryname="ngModel"
                  [ngModel]="category.subcategoryname" (ngModelChange)="category.subcategoryname = $event" required />
                <div class="error-block">
                  <small *ngIf="
                      subcategoryname.errors?.required &&
                      subcategoryname.touched
                    " class="text-danger">
                    Subcategory Name is required.
                  </small>
                  <small *ngIf="
                      subcategoryname.errors?.minlength &&
                      subcategoryname.touched
                    " class="text-danger">
                    Minumum length should be 3.
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="blocklabel" for="nf-image" title="You can upload maximum 5 images">Image</label>
                <input #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6"
                  data-multiple-caption="{count} files selected" multiple imageUpload
                  (imageSelected)="uploadImage($event)" accept="image/jpg, image/jpeg, image/png, image/gif" />
                <label for="file-7">
                  <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                      <path
                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                    </svg>
                    Upload image</strong></label>
                <!-- <i class="fa fa-plus addimage"></i> -->
                <div class="thumbnail pointer-custom" *ngIf="category.image">
                  <img src="{{ _host }}/images/dispensary/{{ category.image }}" />
                  <i class="close fa fa-times" (click)="category.image = ''"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/product-category']">
            Cancel
          </button>
          <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addCatgForm.valid">
            {{ categoryID ? 'Update' : 'Save' }}
          </button>
        </div>
      </form>
    </div>
    <!-- .card -->
  </div>
  <!-- .category-wrapper -->
</div>