<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>
  <div class="content js-content mt-5">
    <!-- loading section ends  -->
    <div class="card w-100">
      <div class="card-header d-flex">
        <span>Edit Product</span>
      </div>

        <div class="card-block">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="modalYear">Rating </label>
                        <select id="rating" name="rating" class="form-control" size="1" [(ngModel)]="object.rating">
                            <option *ngFor="let value of ratingArray" value="{{value}}">{{value}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-detail">Details</label>
                        <textarea type="text" id="detail" name="detail" class="form-control" [(ngModel)]="object.detail" placeholder="" (keyup)="trim('terms')" rows="2"></textarea> 
                    </div>
                </div>
            </div>    
            
                     <div class="form-group">
                        <label for="nf-rating">Rating</label>
                        <input type="number" min="1" max="5" id="rating" name="rating" class="form-control" [(ngModel)]="object.rating" placeholder="">
                    </div>
            <div class="row">
                <div class="card-block">
                        <div id="accordion" class="mb-1 mt-1" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" aria-expanded="true">
                                          {{prodCategories[0]}}
                                        </a>
                                      </h5>
                                </div>
                                <div id="collapseOne" class="collapse show"  aria-expanded="true" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-2" *ngFor="let obj of Effects" style="margin-bottom:15px" (click)="addEelement(obj.id)">
                                                <span class="btn " [ngClass]="{'btn-success':subcategoryIDs.indexOf(obj.id)>=0,'btn-default':subcategoryIDs.indexOf(obj.id) < 0}" > {{obj.tagname}}</span>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                          {{prodCategories[1]}}
                                        </a>
                                      </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-2"  style="margin-bottom:15px" *ngFor="let obj of Medical" (click)="addEelement(obj.id)">
                                                <span class="btn " [ngClass]="{'btn-success':subcategoryIDs.indexOf(obj.id)>=0,'btn-default':subcategoryIDs.indexOf(obj.id) < 0}" > {{obj.tagname}}</span>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                          {{prodCategories[2]}}
                                        </a>
                                      </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-3" *ngFor="let obj of Negatives" (click)="addEelement(obj.id)"  style="margin-bottom:15px">
                                                <span class="btn " [ngClass]="{'btn-success':subcategoryIDs.indexOf(obj.id)>=0,'btn-default':subcategoryIDs.indexOf(obj.id) < 0}" > {{obj.tagname}}</span>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/product']"> Cancel</button>
            <button type="submit" class="pull-right btn btn-primary orangeclr" (click)="save()">Update</button>
        </div>
    </div>
</div> 
