<ngx-spinner bdColor="#fff" size="" color="#fff">
    <div class="loading">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </div>
  </ngx-spinner>
    <div class="content js-content">
      <div class="card w-100 mt-5">
        <div class="card-header">
            <strong>Edit Rating and Comments</strong>
        </div>

        <div class="card-block pl-4 pr-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-rating">Rating</label>
                        <input type="text" maxlength="50" id="rating" name="rating" class="form-control" [(ngModel)]="object.rating" placeholder="">
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-detail">Details</label>
                        <textarea type="text" id="detail" name="detail" class="form-control" [(ngModel)]="object.detail" placeholder="" (keyup)="trim('terms')" rows="2"></textarea> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="reset" class="btn btn-secondary whiteclr"  [routerLink]="['/dispensary']"> Cancel</button>
            <button type="submit" class="pull-right btn btn-primary orangeclr" (click)="save()">Update</button>
        </div>
    </div>
</div>
