.content {
    position: absolute;
    top: 0;
    left: 15.6rem;
    z-index: -1;
    width: calc(100% - 16rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.thumbnail.pointer-custom {
    width: 100%;
    max-width: 3rem;
}
.form-control {
    padding: 10px 15px;
}
/*Checkboxes styles*/
input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #50b75e;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 28px;
    padding-right: 31px;
    margin-bottom: 20px;
    color: #000;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// upload image css
.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    background-color: #50b75e;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}
.inputfile + label {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    display: table;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.card-header {
    background: #50b75e;
    color: white;
    font-size: 25px;
    position: relative;
    padding: 10px;
    top: -1rem;
    z-index: 99;
    margin: 0px 1.3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}

// hrs of operations
ul.hours-oper>li>span:nth-child(2) {
    width: 84%;
}
h4.rit-main-title {
    color: #3db370;
    font-size: 16px;
    font-weight: 600;
}
ul.hours-oper {
    margin: 21px 0;
    padding: 0;
}
ul.hours-oper>li {
    margin: -11px 0;
    padding: 0;
    list-style: none;
}
ul.hours-oper>li>span:first-child, ul.hours-oper>li>span:nth-child(2), ul.hours-oper>li>span:nth-child(3), ul.hours-oper>li>span:last-child {
    width: 15%;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}
ul.hours-oper>li>span:first-child, ul.hours-oper>li>span:nth-child(2), ul.hours-oper>li>span:nth-child(3), ul.hours-oper>li>span:last-child {
    width: 15%;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}
.mainarea .card-block .form-control {
    border: 1px solid #c2c2c2;
}
span.time input.form-control {
    display: inline-block;
    width: 25%;
    margin: 0 5px;
    padding: 2px;
    border-radius: 0;
}
ul.hours-oper>li>span:last-child {
    font-size: 15px;
    width: 29%;
    color: #3db370;
}
.card-header.gray {
    background: #f5f5f5;
    padding: 6px 18px;
    margin-top: 2rem;
}
.mb-0 a {
    color: #6a6c6d;
    font-weight: 600;
    font-size: 16px;
}