.content {
    position: fixed;
    top: 0;
    left: 15rem;
    z-index: -1;
    width: calc(100% - 14rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
.card-header {
    background: #50b75e;
    color: white;
    font-size: 25px;
    position: relative;
    padding: 10px;
    top: -1rem;
    z-index: 99;
    margin: 0px 1.3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
// upload image css
.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    background-color: #50b75e;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}
.inputfile + label {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    display: table;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
a.nav-link {
    color: black;
}
a.nav-link.active {
    color: #50b75e !important;
}
.card-header.flex-row.mt-4.p-1 {
    background: #94949400;
    color: #50b75e;
    border-right: 2px solid #50b75e !important;
    border-left: 2px solid #50b75e;
}
.card-block.pt-0.mt-0 {
    padding: 0px 2rem;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.row.greybg {
    background: #f5f5f5;
    padding-top: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
ul.nav.nav-tabs {
    padding-left: 20px;
}
button.btn.btn-sm.btn-danger.btn-rounded.orange.pull-right.mb-10.positiontopright {
    position: absolute;
    right: 20px;
    top: -55px;
    background: #50b75e;
    border: none;
    padding: 6px 18px;
}
button.btn.btn-sm.btn-danger.btn-rounded.orange.pull-right.mb-10.positiontoprightfst {
    position: absolute;
    right: 20px;
    top: -39px;
    background: #50b75e;
    border: none;
    padding: 6px 18px;
}