<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>

<div class="content js-content">
  <div class="category-wrapper w-100 mt-5">
    <!-- loading section ends  -->
    <div class="card w-100 pb-0">
      <div class="card-header">
        <strong>View Settings</strong>
      </div>
      <div class="card-block viewmode tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#fare" role="tab"
              >Fare Management</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#commission" role="tab"
              >Commission Management</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#reward" role="tab"
              >Reward Management</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#marketplace" role="tab"
              >Marketplace Management</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#alohacommission"
              role="tab"
              >Aloha Commission Management</a
            >
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content bordertabs mb-1">
          <div class="tab-pane active" id="fare" role="tabpanel">
            <div class="col-sm-12">
              <button
                type="button"
                *ngIf="addEditDelete"
                (click)="edit('fare')"
                class="btn btn-sm btn-danger btn-rounded orange pull-right mb-10 positiontoprightfst"
                title="Edit Settings"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </div>

            <div class="card">
              <div class="card-header flex-row mt-4 p-1">
                <h5 class="mb-0">Fare Charges</h5>
              </div>
              <div class="card-block pl-4 pr-4">
                <div
                  class="row greybg m-0 pt-10 mb-3"
                  *ngFor="let obj of setting.fare_charges; let i = index"
                >
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nf-name">Minimum KM</label>
                      <p>{{ obj.min }}</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nf-name">Maximum KM</label>
                      <p>{{ obj.max }}</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nf-name">Charges</label>
                      <p>{{ obj.charges }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="commission" role="tabpanel">
            <div class="col-sm-12">
              <button
                type="button"
                *ngIf="addEditDelete"
                (click)="edit('commission')"
                class="btn btn-sm btn-danger btn-rounded orange pull-right mb-10 positiontopright"
                title="Edit Settings"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </div>

            <div class="card-block pt-0 mt-0">
              <div class="row greybg pt-10 pb-0 pl-1 pr-1">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="nf-name">instaLeaf Commission (%)</label>
                    <p>
                      {{
                        setting.commission
                          ? setting.commission.admin
                            ? setting.commission.admin
                            : '-'
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="nf-name">Store Commission (%)</label>
                    <p>
                      {{
                        setting.commission
                          ? setting.commission.store
                            ? setting.commission.store
                            : '-'
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="reward" role="tabpanel">
            <div class="col-sm-12">
              <button
                type="button"
                *ngIf="addEditDelete"
                (click)="edit('reward')"
                class="btn btn-sm btn-danger btn-rounded orange pull-right mb-10 positiontopright"
                title="Edit Settings"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </div>

            <div class="card-block pt-0 mt-0">
              <div class="row greybg pt-10 pb-0 pl-1 pr-1">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="nf-name">Dispensary Reward Points</label>
                    <p>
                      {{
                        setting.reward
                          ? setting.reward.dispensary
                            ? setting.reward.dispensary
                            : '-'
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="nf-name">Product Reward Points</label>
                    <p>
                      {{
                        setting.reward
                          ? setting.reward.product
                            ? setting.reward.product
                            : '-'
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="marketplace" role="tabpanel">
            <div class="col-sm-12">
              <button
                type="button"
                *ngIf="addEditDelete"
                (click)="edit('marketplace')"
                class="btn btn-sm btn-danger btn-rounded orange pull-right mb-10 positiontopright"
                title="Edit Settings"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </div>

            <div class="card-block pt-0 mt-0">
              <div class="row greybg pt-10 pb-0 pl-1 pr-1">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="nf-name">Tax %age</label>
                    <p>{{ setting.tax_percentage }}</p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="nf-name">GST %age</label>
                    <p>{{ setting.gst }}</p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="nf-name">Delivery Charges in Amount</label>
                    <p>{{ setting.delivery_charge }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="alohacommission" role="tabpanel">
            <div class="col-sm-12">
              <button
                type="button"
                *ngIf="addEditDelete"
                (click)="edit('alohacommission')"
                class="btn btn-sm btn-danger btn-rounded orange pull-right mb-10 positiontopright"
                title="Edit Settings"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </div>

            <div class="card-block pt-0 mt-0">
              <div class="row greybg pt-10 pb-0 pl-1 pr-1">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="nf-name"
                      >instaLeaf Commission for Aloha(%)</label
                    >
                    <p>
                      {{
                        setting.alohacommission
                          ? setting.alohacommission.admin
                            ? setting.alohacommission.admin
                            : '-'
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="nf-name">Aloha Commission (%)</label>
                    <p>
                      {{
                        setting.alohacommission
                          ? setting.alohacommission.aloha
                            ? setting.alohacommission.aloha
                            : '-'
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Nav tabs -->
      </div>
      <!-- .card -->
    </div>
    <!-- .category-wrapper -->
  </div>
</div>
