.content {
    position: fixed;
    top: 0;
    left: 15rem;
    z-index: -1;
    width: calc(100% - 14rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
button.btn.btn-primary.top {
    position: relative;
    bottom: 10px;
    z-index: 999;
    right: 2rem;
  }