<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">List Transactions</h1>
    <div class="text-right">
  <button class="btn btn-primary top" [routerLink]="['/subscrptions']">  <i class="fa fa-arrow-left"></i></button>
    </div>
    <div class="card pt-5">
      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="categoryList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Transaction Id" prop="name">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  title="View User"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Amount" prop="price">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | currency }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Plan Type" prop="Type">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="User" prop="user">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="created At" prop="createdAt">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
