<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">News</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="">
          <section class="search-form">
            <input class="form-control name" [(ngModel)]="filters.search" id="name" required type="text"
              placeholder="" />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button *ngIf="filters.search" (click)="clearValue()" class="btn btn-secondary btn-sm ml-2">
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" [routerLink]="['/news/add']">
            Add New
          </button>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="false" [rows]="categoryList" [columns]="columns" [limit]="5"
            (page)="setPage($event)" [externalPaging]="true" [count]="totalItems">
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Image" prop="image">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <a href="javascript:void(0);" class="text-secondary"  title="View User"> -->
                <img src="{{ _host }}/images/news/thumbnail/200/{{ value }}" />
                <!-- </a> -->
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Title" prop="title">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a class="text-secondary" href="javascript:void(0);" (click)="viewNews(row.id)">
                  {{ value }}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Subtitle" prop="subtitle">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a class="text-secondary" href="javascript:void(0);" (click)="viewNews(row.id)">
                  {{ value }}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="News Category" prop="news">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                
                <select style="margin-top: -7px" size="1" (change)="changeCategory(row)" id="categoryId{{ row.id }}"
                  name="categoryId{{ row.id }}" class="form-control" size="1" [(ngModel)]="row.categoryId">
                  
                  <option [(value)]="selected" >Please select</option>
                  <option *ngFor="let newscat of categories" value="{{ newscat.id }}">
                    {{ newscat.name }}
                  </option>
                </select>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Posted Date" prop="createdAt">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="action">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button [disabled]="!addEditDelete" (click)="editNews(row.id)" class="btn btn-success mr-2"
                  title="Edit">
                  <i class="fa fa-pencil"></i>
                </button>
                <button [disabled]="!addEditDelete" (click)="removeNews(row.id)" class="btn btn-danger orange"
                  title="Delete">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>