<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">Tags</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="">
          <section class="search-form">
            <input
              class="form-control name"
              [(ngModel)]="filters.search"
              id="name"
              required
              type="text"
              placeholder=""
            />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="filters.search"
              (click)="clearValue()"
              class="btn btn-secondary btn-sm ml-2"
            >
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button class="btn btn-primary mr-2" [routerLink]="['/tags/add']">
            Add New
          </button>
          <!-- <button class="btn btn-primary" [routerLink]="['/subscrptions/subscribers']">Transactions</button> -->
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable
            class="bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]="categoryList"
            [columns]="columns"
            [limit]="5"
            (page)="setPage($event)"
            [externalPaging]="true"
            [count]="totalItems"
          >
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" prop="name">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  href="javascript:void(0);"
                  class="text-secondary"
                  (click)="view(row.id)"
                  title="View User"
                  >{{ value }}</a
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tag Name" prop="tagname">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="createdAt">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" prop="action">
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  [disabled]="!addEditDelete"
                  (click)="edit(row.id)"
                  class="btn btn-success"
                  title="Edit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  [disabled]="!addEditDelete"
                  (click)="remove(row.id)"
                  class="btn btn-danger ml-2"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>
