<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <!-- <form action="#" class="ng-untouched ng-pristine ng-valid" method="get"> -->
      <div class="col-sm-3">
        <form action="#" class="d-flex" method="get">
          <div class="d-flex">
            <input
              class="form-control"
              name="search"
              placeholder="Search"
              type="text"
              [(ngModel)]="filters.search"
            />
            <span class="input-group-btn">
              <button (click)="searchValue()" class="btn btn-primary btn-sm">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <button
                *ngIf="filters.search"
                (click)="clearValue()"
                class="btn btn-secondary btn-sm ml-2"
              >
                Clear
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="content-body inner-container bg-white text-muted">
      <ngx-datatable
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="false"
        [scrollbarH]="true"
        [rows]="reviewList"
        [columns]="columns"
        [limit]="5"
        (page)="setPage($event)"
        [externalPaging]="true"
        [count]="totalItems"
      >
        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
        </ngx-datatable-column>
        <ngx-datatable-column name="Added By" prop="fullName">
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ value }}
            <!-- <a
              href="javascript:void(0);"
              class="text-secondary"
              title="View User"
              >{{ value }}</a
            > -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Store name" prop="storeRating">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Overall Rating" prop="rating">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Store Rating" prop="storeLayoutRating">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Staff Rating" prop="staffRating">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Comments" prop="reviews">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created At" prop="createdAt">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="action">
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            <button
              [disabled]="!addEditDelete"
              (click)="routeitem(row.itemId, 'editrating')"
              class="btn btn-success mr-1"
              title="Edit"
              style="  padding: 0px 4px;
              font-size: 11px;"
            >
              <i class="fa fa-pencil"></i>
            </button>
            <button
              [disabled]="!addEditDelete"
              (click)="remove(row.itemId)"
              class="btn btn-danger orange mr-1"
              title="Delete"
              style="  padding: 0px 4px;
              font-size: 11px;"
            >
              <i class="fa fa-trash"></i>
            </button>
            <button
              *ngIf="!row.isRevoked"
              (click)="revoke(row._id)"
              class="btn btn-danger orange mr-4"
              title="Revoke"
              style="  padding: 0px 3px;
              font-size: 12px;"
            >
              Revoke Reward
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
