<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <!-- loading section ends  -->
  <div class="card w-100">
    <div class="card-header d-flex">
      <span>My Profile</span>
      <div class="pull-rights">
        <button
          type="button"
          class="btn btn-primary"
          title="Back"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Change Password
        </button>
      </div>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>First Name</label>
            <p>{{ currentUser.firstName }}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Last Name</label>
            <p>{{ currentUser.lastName }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Email</label>
            <p>{{ currentUser.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- change password popup -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changepasswordLabel">Change Password</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="clear()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form role="form" #changepasswordForm="ngForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="card-block">
            <div class="text-center" *ngIf="errMessage">
              <span class="text-danger"> {{ errMessage }} </span>
            </div>
            <div class="form-group has-required">
              <label>Old password</label>
              <input
              [type]="passwordType ? 'text' : 'password'"
                id="currentPassword"
                name="currentPassword"
                class="form-control"
                [(ngModel)]="user.currentPassword"
                (ngModelChange)="errMessage = ''"
                #currentPassword="ngModel"
                required
              />
              <span
        class="fa"
        [ngClass]="{
          'fa-eye-slash': !passwordType,
          'fa-eye': passwordType
        }"
        (click)="togglePassword()"
      >
      </span>
              <div *ngIf="currentPassword.errors && currentPassword.touched">
                <span
                  class="text-danger"
                  [hidden]="!currentPassword.errors.required"
                  >Current password is required.</span
                >
              </div>
            </div>
            <div class="form-group has-required">
              <label>New password</label>
              <input
              [type]="passwordType1 ? 'text' : 'password'"
                id="newPassword"
                name="newPassword"
                class="form-control"
                required
                minlength="8"
                [(ngModel)]="user.newPassword"
                (ngModelChange)="errMessage = ''"
                #newPassword="ngModel"
              />
              <span
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !passwordType1,
                'fa-eye': passwordType1
              }"
              (click)="togglePasswords()"
            >
            </span>
              <div *ngIf="newPassword.errors && newPassword.touched">
                <span
                  class="text-danger"
                  [hidden]="!newPassword.errors.required"
                  >New password is required.</span
                >
                <span
                  class="text-danger"
                  [hidden]="!newPassword.errors.minlength"
                  >Minimum 8 character</span
                >
              </div>
            </div>
            <div class="form-group has-required">
              <label>Confirm password</label>
              <input
              [type]="passwordType2 ? 'text' : 'password'"
                name="confirmPassword"
                class="form-control"
                required
                validateEqual="newPassword"
                [(ngModel)]="user.confirmPassword"
                (ngModelChange)="errMessage = ''"
                #confirmPassword="ngModel"
              />
              <span
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !passwordType2,
                'fa-eye': passwordType2
              }"
              (click)="togglePassword1()"
            >
            </span>
              <div *ngIf="confirmPassword.errors && confirmPassword.touched">
                <span
                  class="text-danger"
                  [hidden]="!confirmPassword.errors.required"
                  >Confirm password is required.</span
                >
                <span
                  class="text-danger"
                  [hidden]="
                    confirmPassword.pristine && !changepasswordForm.submitted
                  "
                  >Password does not match</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            #closeModal
            data-dismiss="modal"
            (click)="clear()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-success btn-flat"
            [disabled]="!changepasswordForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- change password popup -->
