<!-- loading section -->

<!-- loading section ends  -->
<div class="finance-dashboard" *ngIf="showData">
  <!-- <h1 class="text-center ">Welome to dashboard</h1> -->
  <div class="text-center dashboardTabs mb-2">
    <a class="btn btn-primary" *ngIf="!favTab" (click)="favTab = true">Total Favourites <i class="fa fa-plus"></i></a>
    <a class="btn btn-primary" *ngIf="!salesTab" (click)="salesTab = true">Total Sales <i class="fa fa-plus"></i></a>
    <a class="btn btn-primary" *ngIf="!reviewTab" (click)="reviewTab = true">Total Reviews <i
        class="fa fa-plus"></i></a>
    <a class="btn btn-primary" *ngIf="!reserveTab" (click)="reserveTab = true">Total Reserved order <i
        class="fa fa-plus"></i></a>
    <a class="btn btn-primary" *ngIf="!userTab" (click)="userTab = true">Total Users <i class="fa fa-plus"></i></a>
    <a class="btn btn-primary" *ngIf="!appTab" (click)="appTab = true">Total App Downloads <i
        class="fa fa-plus"></i></a>
  </div>

  <div class="row">
    <!-- <div class="col-xl-8 col-lg-8 col-sm-8 col-md-8" style="margin-left: 19%">
          <div
            class="card-block text-center"
            style="padding: 13px !important; padding-top: 0 !important"
            *ngIf="!isChartLoading && isProgressStart"
          >
            <div style="display: block; min-height: 258px">
              <canvas
                baseChart
                width="1000"
                height="700"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
              ></canvas>
            </div>
           
          </div>
          <div *ngIf="!isChartLoading && !isProgressStart">No Record Found.</div>
        </div> -->
    <div class="col-lg-6 col-md-12 mb-2" *ngIf="
        lineChartFavouriteData[0].data.length != 0 ||
        lineChartFavouriteData[1].data.length != 0
      " [ngClass]="{ 'd-none': !favTab }">
      <div class="bg-white p-3 shadow revenueContainer">
        <h4 class="text-uppercase d-flex justify-content-between flex-wrap">
          Total Favourites

          <div>
            <button class="btn btn-dark btn-sm mr-2" (click)="export('favExcel')">
              <i class="fa fa-file mr-1"></i> Export
            </button>
            <a class="btn btn-primary btn-sm" (click)="favTab = false"><i class="fa fa-minus"></i></a>
          </div>
        </h4>
        <canvas baseChart width="1000" height="700" [datasets]="lineChartFavouriteData"
          [labels]="lineChartFavouriteLabels" [options]="lineChartOptions" [colors]="lineChartColors"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        <!-- <div id="chartContainer" style="height: 370px; width: 100%"></div> -->
      </div>
    </div>

    <div class="col-lg-6 col-md-12 mb-2" *ngIf="
        lineChartSalesData[0].data.length != 0 ||
        lineChartSalesData[1].data.length != 0 ||
        lineChartSalesData[2].data.length != 0
      " [ngClass]="{ 'd-none': !salesTab }">
      <div class="bg-white p-3 nos shadow">
        <!-- <div class="p-3 mb-3 bg"> -->
        <h4 class="text-uppercase d-flex justify-content-between flex-wrap">
          Total Sales

          <div>
            <button class="btn btn-dark btn-sm mr-2" (click)="export('salesExcel')">
              <i class="fa fa-file mr-1"></i> Export
            </button>
            <a class="btn btn-primary btn-sm" (click)="salesTab = false"><i class="fa fa-minus"></i></a>
          </div>
        </h4>

        <!-- <div id="noschartContainer" style="height: 320px; width: 100%;"></div> -->
        <!-- </div> -->

        <canvas baseChart width="1000" height="700" [datasets]="lineChartSalesData" [labels]="lineChartSalesLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        <div class="bottom bg-wite px-3 pb-3 d-flex justify-content-between"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-2" *ngIf="
        lineChartReviewData[0].data.length != 0 ||
        lineChartReviewData[1].data.length != 0
      " [ngClass]="{ 'd-none': !reviewTab }">
      <div class="bg-white p-3 shadow revenueContainer">
        <h4 class="text-uppercase d-flex justify-content-between flex-wrap">
          Total Reviews

          <div>
            <button class="btn btn-dark btn-sm mr-2" (click)="export('reviewExcel')">
              <i class="fa fa-file mr-1"></i> Export
            </button>
            <a class="btn btn-primary btn-sm" (click)="reviewTab = false"><i class="fa fa-minus"></i></a>
          </div>
        </h4>
        <canvas baseChart width="1000" height="700" [datasets]="lineChartReviewData" [labels]="lineChartReviewLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        <!-- <div id="chartContainer" style="height: 370px; width: 100%"></div> -->
      </div>
    </div>

    <div class="col-lg-6 col-md-12 mb-2" *ngIf="lineChartReservedData[0].data.length != 0"
      [ngClass]="{ 'd-none': !reserveTab }">
      <div class="bg-white p-3 nos shadow">
        <!-- <div class="p-3 mb-3 bg"> -->
        <h4 class="text-uppercase d-flex justify-content-between flex-wrap">
          Total Reserved Orders
          <div>
            <button class="btn btn-dark btn-sm mr-2" (click)="export('reserveOrderExcel')">
              <i class="fa fa-file mr-1"></i> Export
            </button>
            <a class="btn btn-primary btn-sm" (click)="reserveTab = false"><i class="fa fa-minus"></i></a>
          </div>
        </h4>

        <!-- <div id="noschartContainer" style="height: 320px; width: 100%;"></div> -->
        <!-- </div> -->
        <canvas baseChart width="1000" height="700" [datasets]="lineChartReservedData"
          [labels]="lineChartReservedLabels" [options]="lineChartOptions" [colors]="lineChartReservedColors"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>

        <div class="bottom bg-wite px-3 pb-3 d-flex justify-content-between"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-2" *ngIf="
        barChartData[0].data.length != 0 || barChartData[1].data.length != 0
      " [ngClass]="{ 'd-none': !userTab }">
      <div class="bg-white p-3 shadow revenueContainer">
        <h4 class="text-uppercase d-flex justify-content-between flex-wrap">
          Total Users

          <div>
            <button class="btn btn-dark btn-sm mr-2" (click)="export('webUserExcel')">
              <i class="fa fa-file mr-1"></i> Export
            </button>
            <a class="btn btn-primary btn-sm" (click)="userTab = false"><i class="fa fa-minus"></i></a>
          </div>
        </h4>

        <canvas baseChart width="1000" height="700" [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        <!-- <div id="chartContainer" style="height: 370px; width: 100%"></div> -->
      </div>
    </div>

    <div class="col-lg-6 col-md-12 mb-2" *ngIf="
        barChartDownlodData[0].data.length != 0 ||
        barChartDownlodData[1].data.length != 0
      " [ngClass]="{ 'd-none': !appTab }">
      <div class="bg-white p-3 nos shadow">
        <!-- <div class="p-3 mb-3 bg"> -->
        <h4 class="text-uppercase d-flex justify-content-between flex-wrap">
          App Downloads

          <div>
            <button class="btn btn-dark btn-sm mr-2" (click)="export('appDownloadExcel')">
              <i class="fa fa-file mr-1"></i> Export
            </button>
            <a class="btn btn-primary btn-sm" (click)="appTab = false"><i class="fa fa-minus"></i></a>
          </div>
        </h4>

        <!-- <div id="noschartContainer" style="height: 320px; width: 100%;"></div> -->
        <!-- </div> -->
        <canvas baseChart width="1000" height="700" [datasets]="barChartDownlodData" [labels]="barChartDownloadLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

        <div class="bottom bg-wite px-3 pb-3 d-flex justify-content-between"></div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead class="custom">
              <tr>
                <th *ngFor="let obj of data">{{ obj._id }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let obj of data">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let object of obj.roles">
                        <td>
                          {{
                            object.role == 'B'
                              ? 'Brand'
                              : object.role == 'D'
                              ? 'Dispensary'
                              : object.role == 'DR'
                              ? 'Doctor'
                              : object.role == 'SA'
                              ? 'Super Admin'
                              : object.role == 'DRIVER'
                              ? 'Driver'
                              : 'User'
                          }}
                        </td>
                        <td>{{ object.count }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
  <!-- </div> -->
</div>
<div class="finance-dashboard p-3" *ngIf="!showData">
  <!-- <p>No data exist!</p> -->
</div>