<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <div class="category-wrapper w-100">
    <div class="card">
      <div class="card-header">
        <strong>{{ headerTitle }}</strong>
      </div>
      <form role="form" [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="nf-name">Name</label>
                <input
                  autofocus
                  type="text"
                  id="name"
                  formControlName="name"
                  name="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  class="form-control"
                  placeholder=""
                  minlength="3"
                  maxlength="50"
                />
                <div
                  *ngIf="submitted && f.name.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="bannerType">Page for Banner</label>
                <select
                  id="bannerType"
                  name="bannerType"
                  formControlName="bannerType"
                  [ngClass]="{ 'is-invalid': submitted && f.bannerType.errors }"
                  class="form-control"
                  size="1"
                  required
                >
                  <option value="">Please select</option>
                  <option *ngFor="let obj of banner_types" value="{{ obj }}">
                    {{ obj }}
                  </option>
                </select>
                <div
                  *ngIf="submitted && f.bannerType.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.bannerType.errors.required">
                    This field is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="bannerSize">Banner Size</label>
                <select
                  id="bannerSize"
                  name="bannerSize"
                  formControlName="bannerSize"
                  [ngClass]="{ 'is-invalid': submitted && f.bannerSize.errors }"
                  class="form-control"
                  size="1"
                  required
                >
                  <option value="">Please select</option>
                  <option
                    *ngIf="f.bannerType.value == 'Store'"
                    value="1140px X 350px"
                  >
                    1140px X 350px
                  </option>
                  <option
                    *ngIf="f.bannerType.value == 'News'"
                    value="250px X 470px"
                  >
                    250px X 470px
                  </option>
                  <option
                    *ngIf="f.bannerType.value == 'MobileStore'"
                    value="400px X 150px"
                  >
                    400px X 150px
                  </option>
                  <option
                    *ngIf="f.bannerType.value == 'Item Detail'"
                    value="250px X 129px'"
                  >
                    250px X 129px
                  </option>
                  <option
                    *ngIf="f.bannerType.value == 'Item Detail'"
                    value="260px X 329px'"
                  >
                    260px X 329px
                  </option>
                  <option
                    *ngIf="f.bannerType.value == 'Products'"
                    value="250px X 129px'"
                  >
                    250px X 129px
                  </option>
                  <option
                    *ngIf="f.bannerType.value == 'Products'"
                    value="260px X 329px'"
                  >
                    260px X 329px
                  </option>
                </select>
                <div
                  *ngIf="submitted && f.bannerSize.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.bannerSize.errors.required">
                    This field is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group has-required">
                <label for="url">URL for Banner reference</label>
                <input
                  autofocus
                  type="text"
                  formControlName="url"
                  [ngClass]="{ 'is-invalid': submitted && f.url.errors }"
                  id="url"
                  name="url"
                  class="form-control"
                  placeholder=""
                  required
                />
                <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                  <div *ngIf="f.url.errors.required">
                    This field is required
                  </div>
                </div>
                <div class="error-block">
                  <div
                    *ngIf="submitted && f.url.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.url.errors.required">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="blocklabel" for="nf-image" title="Banners"
                  >Image</label
                >
                <input
                  *ngIf="headerTitle != 'View Banner'"
                  type="file"
                  id="file-7"
                  class="inputfile inputfile-6"
                  #myFileInput
                  data-multiple-caption="{count} files selected"
                  imageUpload
                  (imageSelected)="uploadImage($event)"
                  accept="image/jpg, image/jpeg, image/png"
                />
                <label for="file-7" *ngIf="headerTitle != 'View Banner'">
                  <strong>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="17"
                      viewBox="0 0 20 17"
                    >
                      <path
                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                      />
                    </svg>
                    Upload image</strong
                  ></label
                >
                <div class="thumbnail pointer-custom" *ngIf="bannerImagePath">
                  <!-- (click)="viewImage(_host+'/images/products/'+object.image)" -->
                  <img
                    src="{{ _host }}images/banners/thumbnail/200/{{
                      bannerImagePath
                    }}"
                  />
                  <i
                    class="close fa fa-times"
                    (click)="removeImage(bannerImagePath)"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="reset"
            class="btn btn-secondary whiteclr"
            [routerLink]="['/banners/list']"
          >
            Cancel
          </button>
          <button
            type="submit"
            *ngIf="headerTitle != 'View Banner'"
            class="pull-right btn btn-primary orangeclr"
          >
            Save
          </button>
        </div>
      </form>
    </div>
    <!-- .card -->
  </div>
</div>
<!-- .category-wrapper -->
