<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>Edit Store Infomation</strong>
    </div>
    <form role="form" (ngSubmit)="update()" #addCropForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-city">Dispancry Name</label>
              <select
                id="dispensary_id"
                name="dispensary_id"
                class="form-control"
                size="1"
                [(ngModel)]="object.dispensary_id"
                #dispensary_id="ngModel"
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let data of DispanceryList"
                  value="{{ data.id }}"
                >
                  {{ data.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="
                    dispensary_id.errors?.required && dispensary_id.touched
                  "
                  class="text-danger"
                >
                  Dispancry Name is required.
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-city">Pos Name</label>
              <select
                id="city"
                name="pos_name"
                class="form-control"
                size="1"
                [(ngModel)]="object.pos_name"
                #pos_name="ngModel"
              >
                <option value="">Please select</option>
                <option *ngFor="let data of PosList" value="{{ data.name }}">
                  {{ data.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="pos_name.errors?.required && pos_name.touched"
                  class="text-danger"
                >
                  Pos Name is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">API key token</label>
              <input
                type="text"
                id="nf-reward_point"
                name="key"
                class="form-control"
                required
                #key="ngModel"
                [(ngModel)]="object.key"
              />
              <div class="error-block">
                <small
                  *ngIf="key.errors?.required && key.touched"
                  class="text-danger"
                >
                  Key is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">API key external token</label>
              <input
                type="text"
                id="nf-reward_point"
                name="external_key"
                #external_key="ngModel"
                class="form-control"
                [(ngModel)]="object.auth_token"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="external_key.errors?.required && external_key.touched"
                  class="text-danger"
                >
                  external Key token is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">API url</label>
              <input
                type="text"
                id="nf-reward_point"
                name="api_url"
                #api_url="ngModel"
                class="form-control"
                [(ngModel)]="object.url"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="api_url.errors?.required && api_url.touched"
                  class="text-danger"
                >
                  API URL is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">Company Id</label>
              <input
                type="text"
                id="nf-reward_point"
                name="company_id"
                #company_id="ngModel"
                class="form-control"
                [(ngModel)]="object.company_id"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="company_id.errors?.required && company_id.touched"
                  class="text-danger"
                >
                  Company id is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-reward_point">Location Id</label>
              <input
                type="text"
                id="nf-reward_point"
                name="location_id"
                #location_id="ngModel"
                class="form-control"
                [(ngModel)]="object.location_id"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="location_id.errors?.required && location_id.touched"
                  class="text-danger"
                >
                  Location id is required.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/store']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addCropForm.valid"
        >
          {{ ID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
