/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* :: 2.0 Import All CSS */

@import 'assets/scss/main.scss';
.btn {
  border-radius: 0px !important;
  padding: 6px 15px;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.isfull .content.js-content {
  left: 6.5rem !important;
    width: calc(100% - 6.5rem) !important;
}
.isfull app-header .head {
  left: 4.5rem !important;
  z-index: 99 !important;
  width: calc(100% - 4rem) !important;
}
datatable-body-row.datatable-body-row.datatable-row-even {
  width: 100% !important;
  display: inline-table !important;
}
datatable-body-row.datatable-body-row.datatable-row-odd {
  width: 100% !important;
  display: inline-table !important;
}
.thumbnail.pointer-custom img {
  width: 10rem;
}
.thumbnail.pointer-custom {
  width: 12rem;
}
/* // Loader start */

.loading {
  position: absolute;
  height: 50px;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
}

.bars {
  height: 50px;
  width: 7px;
  margin: 0 4px;
  border-radius: 10px;
  background-color: #50b75e;
  animation: loading 1.5s infinite;
}

.bars:nth-child(2) {
  animation-delay: 0.1s;
}
.bars:nth-child(3) {
  animation-delay: 0.2s;
}
.bars:nth-child(4) {
  animation-delay: 0.3s;
}
.bars:nth-child(5) {
  animation-delay: 0.4s;
}
.bars:nth-child(6) {
  animation-delay: 0.5s;
}
.bars:nth-child(7) {
  animation-delay: 0.6s;
}
.bars:nth-child(8) {
  animation-delay: 0.7s;
}
@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

/* // loader end */
.card {
  padding-bottom: 15px;
}
p h2 a {
  color: #50b75e;
}
p a {
  color: #50b75e;
}
p a:hover{
  color: #50b75e;
}
p h2 a:hover {
  color: #50b75e;
}
// side-bar css
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    overflow-y: scroll;
  }
  body {
    font-family: 'Roboto', sans-serif !important;
  }
  .form-group.has-required > label:after {
    content: "*";
    color: red;
    padding-left: 5px;
}
  #style-14::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px #3db370;
      background-color: #CCCCCC;
  }
  
  #style-14::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  #style-14::-webkit-scrollbar-thumb
  {
      background-color: #FFF;
      background-image: -webkit-linear-gradient(90deg,
      #3db370,
                                                #3db370,
                                                transparent 100%,
                                                #3db370,
                                                transparent)
  }
  .content {
    position: absolute !important;
    top: 0;
    left: 15.5rem !important;
    z-index: -1;
    width: calc(100% - 15.5rem) !important;
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
  .content_item {
    width: 100%;
    margin: 1.5rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    background: #1c1e21;
    border-radius: 0.75rem;
    overflow: hidden;
  }
  .content_item header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem 1.5rem 1.75rem;
  }
  .content_item header > span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .content_item header > span span {
    display: block;
    margin-top: 0.25rem;
    font-weight: normal;
    font-size: 0.7rem;
    color: rgba(255,255,255,0.2);
  }
  .content_item header div {
    width: 3rem;
    height: 2.25rem;
    position: relative;
    top: -0.6rem;
    right: -0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.75rem;
  }
  .content_item header div:hover {
    background: rgba(255,255,255,0.03);
  }
  .content_item header div:hover path {
    fill: rgba(255,255,255,0.7);
  }
  .content_item footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    background: #1c1e21;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: bold;
  }
  .content_item footer section {
    flex: 1;
    position: relative;
    height: 6px;
    margin-left: 2rem;
    padding-top: 6px;
    text-align: right;
    background: rgba(255,255,255,0.05);
  }
  .content_item footer section div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    background: rgba(204,0,102,0.7);
  }
  .content_item footer section div::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    animation: Progress 1.5s infinite linear;
  }
  .content_item footer em {
    margin-left: 2rem;
    font-style: normal;
  }
  .content_item footer a {
    width: 100%;
    display: block;
    padding: 0.55rem 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: rgba(255,255,255,0.025);
    border-radius: 0.75rem;
    font-size: 0.7rem;
    color: inherit;
  }
  .content_item footer a svg {
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    transform: translateY(-50%);
  }
  .content_item footer a:hover {
    background: rgba(255,255,255,0.05);
    color: rgba(255,255,255,0.7);
  }
  .content_item footer a:hover path {
    fill: rgba(255,255,255,0.7);
  }
  .content_item article {
    flex: 1;
    display: flex;
    align-items: space-between;
    justify-content: center;
    position: relative;
  }
  .content_item article svg {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .content_item article p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .content_item article ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
  }
  .content_item article ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 1.5rem 0;
    cursor: default;
  }
  .content_item article ul li:first-child {
    padding-top: 0;
  }
  .content_item article ul li div {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .content_item article ul li div div {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.75rem;
    background: rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  .content_item article ul li div strong {
    font-weight: bold;
    white-space: nowrap;
  }
  .content_item article ul li div strong span {
    display: block;
    margin-top: 0.2rem;
    font-weight: normal;
    font-size: 0.8rem;
    color: rgba(255,255,255,0.2);
  }
  .content_item article ul li > span {
    display: none;
  }
  @media (max-width: 1280px) {
    .content_item article ul li > span {
      display: block;
    }
  }
  @media (max-width: 890px) {
    .content_item article ul li > span {
      display: none;
    }
  }
  .content_item article ul li a {
    display: flex;
    background: rgba(255,255,255,0.05);
    padding: 0 0.35rem;
    border-radius: 0.35rem;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
  }
  .content_item article ul li a svg {
    position: relative;
    top: 3px;
    left: -1px;
  }
  .content_item article table {
    width: 100%;
    text-align: left;
  }
  .content_item article table td {
    padding: 1.1rem 1.5rem 0;
  }
  @media (max-width: 890px) {
    .content_item article table td:last-child {
      text-align: right;
    }
  }
  @media (max-width: 890px) {
    .content_item article table td:nth-child(2),
    .content_item article table td:nth-child(3) {
      display: none;
    }
  }
  .content_item article table tr:first-child td {
    padding-top: 0;
  }
  .content_item article table tr:last-child td {
    padding-bottom: 0.1rem;
  }
  .content_item article table div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .content_item article table div div {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.75rem;
    background: rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  .content_item article table div strong {
    font-weight: bold;
    white-space: nowrap;
  }
  .content_item article table .status {
    display: inline-block;
    background: rgba(255,255,255,0.05);
    padding: 0.25rem 0.55rem;
    border-radius: 0.35rem;
    font-size: 0.7rem;
  }
  .content_item article table .status.delivered {
    color: rgba(3,252,44,0.7);
  }
  .content_item article table .status.pending {
    color: rgba(252,215,3,0.7);
  }
  .content_item article table .status.cancelled {
    color: rgba(255,0,102,0.7);
  }
  .content_item:nth-child(1) {
    width: calc((100% * 0.75) - 1.5rem);
  }
  @media (max-width: 1280px) {
    .content_item:nth-child(1) {
      width: 100%;
    }
  }
  .content_item:nth-child(1) em {
    color: rgba(255,0,102,0.7);
  }
  .content_item:nth-child(1) section div {
    width: 60%;
    background: rgba(255,0,102,0.7);
  }
  .content_item:nth-child(1) section div:before {
    box-shadow: 0px 1px 10px 3px rgba(255,0,102,0.7);
  }
  .content_item:nth-child(2) {
    width: calc((100% * 0.25) - 1.5rem);
  }
  @media (max-width: 1280px) {
    .content_item:nth-child(2) {
      width: 100%;
    }
  }
  .content_item:nth-child(3),
  .content_item:nth-child(4),
  .content_item:nth-child(5),
  .content_item:nth-child(6) {
    width: calc((100% * 0.25) - 1.5rem);
  }
  @media (max-width: 1280px) {
    .content_item:nth-child(3),
    .content_item:nth-child(4),
    .content_item:nth-child(5),
    .content_item:nth-child(6) {
      width: calc((100% * 0.5) - 1.5rem);
    }
  }
  @media (max-width: 890px) {
    .content_item:nth-child(3),
    .content_item:nth-child(4),
    .content_item:nth-child(5),
    .content_item:nth-child(6) {
      width: 100%;
    }
  }
  .content_item:nth-child(3) em {
    color: rgba(153,51,255,0.7);
  }
  .content_item:nth-child(3) section div {
    width: 50%;
    background: rgba(153,51,255,0.7);
  }
  .content_item:nth-child(3) section div:before {
    box-shadow: 0px 1px 10px 3px rgba(153,51,255,0.7);
  }
  .content_item:nth-child(4) em {
    color: rgba(255,0,255,0.7);
  }
  .content_item:nth-child(4) section div {
    width: 60%;
    background: rgba(255,0,255,0.7);
  }
  .content_item:nth-child(4) section div:before {
    box-shadow: 0px 1px 10px 3px rgba(255,0,255,0.7);
  }
  .content_item:nth-child(5) em {
    color: rgba(255,51,119,0.7);
  }
  .content_item:nth-child(5) section div {
    width: 70%;
    background: rgba(255,51,119,0.7);
  }
  .content_item:nth-child(5) section div:before {
    box-shadow: 0px 1px 10px 3px rgba(255,51,119,0.7);
  }
  .content_item:nth-child(6) em {
    color: rgba(204,0,102,0.7);
  }
  .content_item:nth-child(6) section div {
    width: 80%;
    background: rgba(204,0,102,0.7);
  }
  .content_item:nth-child(6) section div:before {
    box-shadow: 0px 1px 10px 3px rgba(204,0,102,0.7);
  }
  .content_item:nth-child(7),
  .content_item:nth-child(8),
  .content_item:nth-child(9) {
    width: calc((100% / 3) - 1.5rem);
  }
  @media (max-width: 890px) {
    .content_item:nth-child(7),
    .content_item:nth-child(8),
    .content_item:nth-child(9) {
      width: 100%;
    }
  }
  .content_item:nth-child(11),
  .content_item:nth-child(12),
  .content_item:nth-child(13) {
    width: calc((100% / 3) - 1.5rem);
  }
  @media (max-width: 890px) {
    .content_item:nth-child(11),
    .content_item:nth-child(12),
    .content_item:nth-child(13) {
      width: 100%;
    }
  }
  .content_item:nth-child(11) p {
    color: rgba(255,0,102,0.7);
  }
  .content_item:nth-child(12) p {
    color: rgba(255,51,119,0.7);
  }
  .content_item:nth-child(13) p {
    color: rgba(204,0,102,0.7);
  }
  .head {
    height: 3rem;
    position: fixed;
    top: 0;
    left: 10rem;
    z-index: 99;
    width: calc(100% - 10rem);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 1.5rem;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.07),0 4px 6px -2px rgba(0,0,0,.05)!important;
    border-bottom: 1px solid #3db370;
  }
  .search {
    max-width: 16rem;
    width: 100%;
    margin: 5px 0.75rem 5px 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.03);
    border-radius: 3rem;
  }
  .actions {
        height: 3rem;
        position: absolute;
        right: 0;
        color: #3db370;
  }
  .actions ul {
    height: 100%;
    display: flex;
    list-style-type: none;
  }
  .actions li {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .actions li::after {
    display: none;
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 5px;
    left: 0;
    z-index: -1;
    background: rgba(255,255,255,0.03);
    border-radius: 0.75rem;
  }
  .actions li:hover::after {
    display: block;
  }
  .actions li:hover path {
    fill: rgba(255,255,255,0.7);
  }
 

//   ngx tabel css
.fa{
  cursor: pointer;
}
.fa:hover {
  cursor: pointer;
  zoom: 1.1;
}
datatable-body-row.datatable-body-row.datatable-row-even {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.07)!important;
  background: #f9f9f9;
}
datatable-body-row.datatable-body-row.datatable-row-odd {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.07)!important;
}
.datatable-body-cell-label {
  line-height: 2.3;
}
.datatable-body-cell-label button {
  padding: 0px 10px;
}
.datatable-body-cell-label img {
  width: 30px;
}
section.search-form {
    display: flex;
}
.content-section {
    padding: 0px 1.2rem;
}
datatable-header.datatable-header {
    border-bottom: 1px solid #3db370;
}
.datatable-header-inner {
    padding-top: 14px;
}
button.btn.btn-primary.btn-sm {
    margin-left: -5px;
    border-radius: 0px 4px 4px 0px;
}
h1.section-header {
    background: #50b75e;
    color: white;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top: 2rem;
    z-index: 99;
    margin: 0px 1.3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
.card {
    border: none;
    border-radius: 0px !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
}
.card-header.d-flex.justify-content-between {
    padding-top: 2.8rem;
    background: #f9f9f9;
}
.empty-row {
    text-align: center;
    margin-top: 1rem;
    color: red;
}