<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ newsID ? 'Edit' : 'Add' }} Subscription</strong>
    </div>

    <form role="form" (ngSubmit)="save()" #addNewsForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group has-required">
              <label for="planType">Plan Type</label>
              <select
                id="planType"
                name="planType"
                class="form-control"
                size="1"
                [(ngModel)]="news.planType"
                #planType="ngModel"
                required=""
              >
                <option value="Free">Free</option>
                <option value="Paid">Paid</option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="planType.errors?.required && planType.touched"
                  class="text-danger"
                >
                  Name is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="businessType">Business Type</label>
              <select
                id="businessType"
                name="businessType"
                class="form-control"
                size="1"
                #businessType="ngModel"
                [(ngModel)]="news.businessType"
                required
              >
                <option value="">Please select</option>
                <option *ngFor="let obj of business_types" value="{{ obj }}">
                  {{ obj }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="businessType.errors?.required && businessType.touched"
                  class="text-danger"
                >
                  Business type is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group has-required">
              <label for="category_id">Name</label>
              <select
                id="category_id"
                name="category_id"
                class="form-control"
                size="1"
                [(ngModel)]="news.name"
                #category_id="ngModel"
                required=""
              >
                <option value="">Please select</option>
                <option *ngFor="let cat of names" value="{{ cat.id }}">
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="category_id.errors?.required && category_id.touched"
                  class="text-danger"
                >
                  Name is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="news.planType == 'Paid'">
            <div class="form-group has-required">
              <label for="type_id">Renew</label>
              <select
                id="type_id"
                name="type_id"
                class="form-control"
                size="1"
                [(ngModel)]="news.type"
                #type_id="ngModel"
                required=""
              >
                <option value="">Please select</option>
                <option *ngFor="let cat of types" value="{{ cat.id }}">
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small
                  *ngIf="type_id.errors?.required && type_id.touched"
                  class="text-danger"
                >
                  Type is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="news.planType == 'Free'">
            <div class="form-group has-required">
              <label for="nf-website">Validity Days</label>
              <input
                type="number"
                min="1"
                id="nf-validateDay"
                name="validateDay"
                #validateDay="ngModel"
                class="form-control"
                [(ngModel)]="news.validateDay"
                placeholder=""
                required
              />
              <div class="error-block">
                <small
                  *ngIf="validateDay.errors?.required && validateDay.touched"
                  class="text-danger"
                >
                  This field is required.
                </small>
                <small *ngIf="validateDay.errors?.min" class="text-danger">
                  Value must be greater than equal to 1.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group has-required">
              <label for="nf-website"
                >Total Price(including 5% GST) {{ news.price }}</label
              >
              <input
                type="number"
                min="1"
                [disabled]="news.planType == 'Free'"
                id="nf-GSTPrice"
                name="GSTPrice"
                class="form-control"
                placeholder=""
                #GSTPrice="ngModel"
                (ngModelChange)="calculatePricewithGST($event)"
                class="form-control"
                [(ngModel)]="news.GSTPrice"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="GSTPrice.errors?.required && GSTPrice.touched"
                  class="text-danger"
                >
                  Price is required.
                </small>
                <small *ngIf="GSTPrice.errors?.min" class="text-danger">
                  Value must be greater than equal to 1.
                </small>
              </div>
            </div>
          </div>
          <div
            class="col-sm-3"
            *ngIf="
              news.businessType == 'Dispensary' || news.businessType == 'All'
            "
          >
            <div class="form-group has-required">
              <label for="nf-website">Total Item Products</label>
              <input
                [disabled]="!news.productStatus"
                type="number"
                min="1"
                id="nf-count"
                name="count"
                #count="ngModel"
                [(ngModel)]="news.count"
                class="form-control"
                placeholder=""
                disabled
              />
              <div class="error-block">
                <small
                  *ngIf="count.errors?.required && count.touched"
                  class="text-danger"
                >
                  Total Item Products is required.
                </small>
                <small *ngIf="count.errors?.min" class="text-danger">
                  Value must be greater than equal to 1.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="news.trial_period">
            <div class="form-group has-required">
              <label for="nf-website">Trial Period Days</label>
              <input
                type="number"
                min="1"
                id="nf-trial_period_days"
                name="trial_period_days"
                #trial_period_days="ngModel"
                class="form-control"
                [(ngModel)]="news.trial_period_days"
                placeholder=""
              />
              <div class="error-block">
                <small
                  *ngIf="
                    trial_period_days.errors?.required &&
                    trial_period_days.touched
                  "
                  class="text-danger"
                >
                  Trial period days is required.
                </small>
                <small
                  *ngIf="trial_period_days.errors?.min"
                  class="text-danger"
                >
                  Value must be greater than equal to 1.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row"
          *ngIf="
            news.businessType == 'Dispensary' || news.businessType == 'All'
          "
        >
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option8"
                name="accessDashboard"
                type="checkbox"
                [(ngModel)]="news.accessDashboard"
              />
              <label for="option8">Access Dashboard</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option10"
                name="editStoreDetails"
                type="checkbox"
                [(ngModel)]="news.editStoreDetails"
              />
              <label for="option10">Edit Store Details</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option11"
                name="featuredFrontpageWebApps"
                type="checkbox"
                [(ngModel)]="news.featuredFrontpageWebApps"
              />
              <label for="option11">Featured front page</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option9"
                name="linkedInLiveMenus"
                type="checkbox"
                [(ngModel)]="news.linkedInLiveMenus"
              />
              <label for="option9">Linked in live menus</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="option12"
                name="reservedAhead"
                type="checkbox"
                [(ngModel)]="news.reservedAhead"
              />
              <label for="option12">Reserved Ahead</label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="renewquarter"
                name="trial_period"
                type="checkbox"
                [(ngModel)]="news.trial_period"
              />
              <label for="renewquarter">Trial Period</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="brandonfeaturedpage"
                name="reviewStatus"
                type="checkbox"
                [(ngModel)]="news.reviewStatus"
              />
              <label for="brandonfeaturedpage">Reply On review</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="bannerattop"
                name="analyticDashboard"
                type="checkbox"
                [(ngModel)]="news.analyticDashboard"
              />
              <label for="bannerattop">Analytic</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="introemail"
                name="featureDispensary"
                type="checkbox"
                [(ngModel)]="news.featureDispensary"
              />
              <label for="introemail">Feature Dispensary</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="introemail"
                name="productStatus"
                type="checkbox"
                [(ngModel)]="news.productStatus"
              />
              <label for="introemail">Add Product</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="introemail"
                name="ispinimage"
                type="checkbox"
                [(ngModel)]="news.isPinImage"
              />
              <label for="introemail">Pin Image on Map</label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="news.businessType == 'Brand'">
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="renewquarter"
                name="renewquarter"
                type="checkbox"
                [(ngModel)]="news.renewquarter"
              />
              <label for="renewquarter">Renew plan quarterly</label>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="brandonfeaturedpage"
                name="brandonfeaturedpage"
                type="checkbox"
                [(ngModel)]="news.brandonfeaturedpage"
              />
              <label for="brandonfeaturedpage"
                >Brand Icon will show on featured front page</label
              >
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="bannerattop"
                name="bannerattop"
                type="checkbox"
                [(ngModel)]="news.bannerattop"
              />
              <label for="bannerattop"
                >Banner ad listed on top of store tab</label
              >
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input
                id="introemail"
                name="introemail"
                type="checkbox"
                [(ngModel)]="news.introemail"
              />
              <label for="introemail">Introductory email blast</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4" *ngIf="news.businessType == 'Dispensary'">
            <div class="form-group">
              <label for="market">Dispensary</label>
              <select
                id="dispensaries"
                name="dispensaries"
                multiple=""
                [(ngModel)]="news.dispensaries"
                placeholder=""
                class="form-control"
                size="1"
                style="height: 80px"
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let market of dispensaries"
                  [value]="market.email"
                >
                  {{ market.username1 }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm-4" *ngIf="news.businessType == 'Brand'">
            <div class="form-group">
              <label for="market">Brand</label>
              <select
                id="brands"
                name="brands"
                multiple=""
                [(ngModel)]="news.brands"
                placeholder=""
                class="form-control"
                size="1"
                style="height: 80px"
              >
                <option value="">Please select</option>
                <option
                  *ngFor="let brandlist of brands"
                  [value]="brandlist.email"
                >
                  {{ brandlist.username1 }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-website">Detail</label>
              <textarea
                type="number"
                id="nf-detail"
                name="detail"
                #detail="ngModel"
                [(ngModel)]="news.detail"
                class="form-control"
                placeholder=""
                required
              ></textarea>
              <div class="error-block">
                <small
                  *ngIf="detail.errors?.required && detail.touched"
                  class="text-danger"
                >
                  Detail is required.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/subscrptions']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addNewsForm.valid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
