
   <div class="content js-content mt-5">
    <!-- section ends  -->
    <div class="w-100" *ngIf="!isPageLoading">
        <div class="col-sm-12 p-0">
            <div class="card w-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-10">
                            <strong>View Order</strong>
                        </div>
                        <div class="col-sm-6 col-2 text-right custombuttons linehght">
                            <button class="btn btn-primary btn-rounded pull-right widthset pr-3 pl-3" type="button" 
                             [routerLink]="['/user']"  >
                                <i class="fa fa-arrow-left"></i>
                       </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-8">
                <div class="card-block userdetail">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th width="20%">Name</th>
                                    <td data-label="Name">{{object.firstName}} {{object.lastName}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Email</th>
                                    <td data-label="Email">{{object.email}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Mobile</th>
                                    <td data-label="Mobile">{{object.mobile}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Address</th>
                                    <td data-label="Address">{{object.address}} {{object.address ? ',':''}} {{object.city}}{{object.city ? ',':''}} {{object.district}} {{object.district ? ',':''}} {{object.state}} {{object.state ? ',':''}} {{object.pincode}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Registered on</th>
                                    <td data-label="Registered on">{{object.createdAt | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Modified on</th>
                                    <td data-label="Modified on">{{object.updatedAt | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <!-- <tr>
                                    <th width="20%">Profile Image</th>
                                    <td data-label="Profile Image">
                                        <div class="thumbnail" *ngIf="!object.image">
                                            <img src="http://www.vacationrentalestates.com/images/no-image-available2.jpg"> 
                                        </div>
                                        <div class="thumbnail pointer-custom" *ngIf="object.image" (click)="viewImage(_host+'/images/users/'+object.image)">
                                            <img src="{{_host}}/images/users/thumbnail/200/{{object.image}}">
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            
        <div class="col-md-4">
               
               <div class="imageblock blurred relative m-1">
               	    <img *ngIf="!object.image" class="img-fluid width100" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg"> 
               	    
               	      <img *ngIf="object.image" class="img-fluid width100" src="{{_host}}/images/users/thumbnail/200/{{object.image}}">
               	      </div>
               	    <div class="absolute">
              	    	<div class="imageblock border-0 no-shadow" *ngIf="!object.image">
               	    	  <img class="img-circle small" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg"> 
               	        </div>
               	        <div class="imageblock border-0 no-shadow" *ngIf="object.image">
               	    	  <img class="img-circle small" src="{{_host}}/images/users/thumbnail/200/{{object.image}}">
               	        </div>
						<h3>
							{{object.firstName}} {{object.lastName}}
						</h3>
               </div>
               
                <h2 class="mb-0 mt-2" *ngIf="addEditDelete" style="font-size: 25px;">Actions</h2>
                <hr class="mt-2">
                <ul *ngIf="addEditDelete" class="d-block ml-3">
                    <li style="cursor:pointer; width: 100%;justify-content: end;" (click)="editUser(user.id)"><span>Edit User</span></li>
                    <li style="cursor:pointer;width: 100%;justify-content: end;" (click)="changeStatus(user)"><span>{{object.status == 'active' ? 'Activated' : 'Deactivated'}} User</span></li>
                </ul>
        </div>
        </div>
    </div>
</div>
    </div>
    </div>

