<div class="content js-content">
    <main class="main-pannel w-100">
        <h1 class="section-header">Reward Management</h1>
        
    <div class="card w-100">
  
        <div class="card-block viewmode tabs mt-5 p-4 pt-2">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#fare" role="tab">Reward Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#commission" role="tab">Add Reward Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#listreward" role="tab">Listing Reward Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#listitemreivew" role="tab">Item Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#listproductreview" role="tab">Product Review</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content bordertabs mb-1">
                <div class="tab-pane active" id="fare" role="tabpanel"> 
                    <app-order-list></app-order-list>
                </div>
                <div class="tab-pane" id="commission" role="tabpanel">
                    <app-addupdate-reward></app-addupdate-reward>
                </div>
                <div class="tab-pane" id="listreward" role="tabpanel">
                    <app-list-reward ></app-list-reward>
                </div>
                <div class="tab-pane" id="listitemreivew" role="tabpanel">
                    <app-item-review-list></app-item-review-list>
                </div>
                <div class="tab-pane" id="listproductreview" role="tabpanel">
                    <app-product-review-list></app-product-review-list>
                </div>

            </div>
            <!-- Nav tabs -->
        </div>
        <!-- .card -->
    </div>
    </main>
    <!-- .category-wrapper -->
</div>