.content {
    position: absolute;
    top: 0;
    left: 15.6rem;
    z-index: -1;
    width: calc(100% - 16rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
a {
    color: #191919;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #50b75e;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}