<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card w-100">
    <div class="card-header">
      <strong>{{ categoryID ? 'Edit' : 'Add' }} Name</strong>
    </div>
    <form role="form" (ngSubmit)="save()" #addCatgForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-required">
              <label for="nf-name">POS Name</label>
              <input
                autofocus
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder=""
                minlength="3"
                maxlength="50"
                (keyup)="trim('name')"
                #name="ngModel"
                [ngModel]="category.name"
                (ngModelChange)="category.name = $event"
                required
              />
              <div class="error-block">
                <small
                  *ngIf="name.errors?.required && name.touched"
                  class="text-danger"
                >
                  POS Name is required.
                </small>
                <small
                  *ngIf="name.errors?.minlength && name.touched"
                  class="text-danger"
                >
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="reset"
          class="btn btn-secondary whiteclr"
          [routerLink]="['/pos-management']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="pull-right btn btn-primary orangeclr"
          [disabled]="!addCatgForm.valid"
        >
          {{ categoryID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
