<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <main class="main-pannel w-100">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-sm-7 col-lg-4 col-md-4 col-12">
            <h1 style="font-size: 25px;">View Item</h1>
          </div>
          <div class="col-sm-5 col-lg-8 col-md-8 col-12 text-right linehght custombuttons pr-0">
            <button type="button" class="btn btn-primary" (click)="route(object.id,'edit')" title="Edit"> <i
                class="fa fa-pencil"></i> </button>
            <button type="button" class="btn btn-secondary ml-2 mr-3" [routerLink]="['/dispensary']" title="Back"> <i
                class="fa fa-arrow-left"></i> </button>
          </div>
        </div>
      </div>

      <div class="card-block viewmode">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="nf-name">Business Type</label>
              <p>{{object.businessType}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="nf-name">Medical</label>
              <p>{{object.medical ? 'Yes' : 'No'}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="nf-name">Recreation</label>
              <p>{{object.recreation ? 'Yes' : 'No'}}</p>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label for="nf-name">Name</label>
              <p>{{object.name}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-variety">Address</label>
              <p>{{object.address}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-variety">Email</label>
              <p>{{object.email}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-variety">City</label>
              <p>{{object.city}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-variety">Postal Code</label>
              <p>{{object.postal_code}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-variety">Phone</label>
              <p>{{object.mobile}}</p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-variety">Website</label>
              <p>{{object.website}}</p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="nf-variety">About Us Text</label>
              <p style="    overflow: auto; width: 90%; position: relative; right: 0px;left: 1rem;">{{object.about_us}}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <div class="wht-bg">
              <h4 class="rit-main-title">Hours Of Operation</h4>
              <ul class="hours-oper">
                <li *ngFor="let obj of object.scheduler;let i=index" class="d-flex">
                  <span class="day">{{obj.day}}</span>
                  <span class="time">
                    <input type="text" style="height: 26px;width: 5.5rem;" disabled="disabled" name="startTime{{i}}"
                      id="startTime{{i}}" [(ngModel)]="obj.startTime" class="form-control">-
                    <input type="text" style="height: 26px;width: 5.5rem;" disabled="disabled" name="closeTime{{i}}"
                      id="closeTime{{i}}" [(ngModel)]="obj.closeTime" class="form-control">
                  </span>
                  <!-- <span class="pm">pm</span>  -->
                  <span class="status"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <table class="table" *ngIf="object.businessType != 'doctor'">
          <thead class="thead-dark">
            <th>Product Name</th>
            <th>Category</th>
            <th>Pre Roll</th>
            <th>Grams</th>
            <th>Eighth</th>
            <th>Quarter</th>
            <th>Half</th>
            <th>Ounce</th>
            <th>THC</th>
            <th>CBD</th>
            <th>Details</th>
            <th width="20%">Created At</th>
            <th width="20%">Main Category</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let obj of products">
              <td data-label="">
                {{ obj.name ? obj.name : '-' }}
              </td>
              <td data-label="">
                {{ obj.categoryId ? obj.categoryName : '-' }}
              </td>
              <td data-label="">
                {{ obj.pre_roll ? obj.pre_roll : '-' }}
              </td>
              <td data-label="">
                {{ obj.grams ? obj.grams : '-' }}
              </td>
              <td data-label="">
                {{ obj.Eighth ? obj.Eighth : '-' }}
              </td>
              <td data-label="">
                {{ obj.quarter ? obj.quarter : '-' }}
              </td>
              <td data-label="">
                {{ obj.half ? obj.half : '-' }}
              </td>
              <td data-label="">
                {{ obj.ounce ? obj.ounce : '-' }}
              </td>
              <td data-label="">
                {{ obj.thc ? obj.thc : '-' }}
              </td>
              <td data-label="">
                {{ obj.cbd ? obj.cbd : '-' }}
              </td>
              <td data-label="">
                {{ obj.details ? obj.details : '-' }}
              </td>
              <td data-label="">
                <i class="fa fa-calendar"></i>
                {{ obj?.createdAt | date: _dateFormat }}
                <i class="fa fa-clock-o"></i>
                {{ obj?.createdAt | date: 'HH:mm' }}
              </td>
              <td data-label="Main Category">
                <select (change)="changeMainCtegory(obj.id, $event.target.value)" id="city{{ obj.id }}"
                  name="city{{ obj.id }}" class="form-control" size="1" [(ngModel)]="obj.instaleaf_categoryId">
                  <option value="">Please select</option>
                  <option *ngFor="let item of mainCategories" value="{{ item.id }}">
                    {{ item.name }}
                  </option>
                </select>
              </td>
              <td data-label="Actions">
                <button [disabled]="!addEditDelete" (click)="route(obj.id, 'editproduct')" class="btn btn-success"
                  title="Edit">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="blocklabel" for="nf-image">Logo</label>
            <div class="thumbnail" *ngIf="!object.logo">
               <img class="w-50 mb-3 ml-2" src="http://www.vacationrentalestates.com/images/no-image-available2.jpg"> 
              </div>
            <div class="thumbnail pointer-custom" *ngIf="object.logo" (click)="viewImage(_host+'/images/crops/'+object.logo,null)"> 
              <img class="w-50 mb-3 ml-2" src="{{_host}}/images/crops/thumbnail/200/{{object.logo}}"> </div>
          </div>
        </div>
      </div>  -->
      </div>
    </div>