.content {
    position: fixed;
    top: 0;
    left: 15rem;
    z-index: -1;
    width: calc(100% - 14rem);
    padding: 3rem 1.5rem 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
}
select.form-control {
    margin-top: -7px;
}