<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content">
  <main class="main-pannel w-100">
    <h1 class="section-header">POS Category</h1>

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex">
          <section class="search-form">
            <input class="form-control name" id="name" required type="text" placeholder=""
              [(ngModel)]="filters.search" />
            <button (click)="searchValue()" class="btn btn-primary btn-sm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button *ngIf="filters.search" (click)="clearValue()" class="btn btn-secondary btn-sm ml-2">
              Clear
            </button>
          </section>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" [routerLink]="['/pos-category/view']">
            Main Categories
          </button>
        </div>
      </div>

      <div class="content-section">
        <div class="content-body inner-container bg-white text-muted">
          <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="false" [rows]="categoryList" [columns]="columns" [limit]="100"
            (page)="setPage($event)" [externalPaging]="true" [count]="totalItems">
            <ngx-datatable-column *ngFor="let col of columns" [name]="col.banner">
            </ngx-datatable-column>
            <ngx-datatable-column name="POS Category" prop="name">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value }}
                <!-- <a href="javascript:void(0);" class="text-secondary"  title="View User">value</a> -->
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Store Name" prop="store">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Created At" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Main Category">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <select (change)="changeMainCtegory(row.id, $event.target.value)" id="city{{ row.id }}"
                  name="city{{ row.id }}" class="form-control" size="1" [(ngModel)]="
                    row.instaleaf_categoryId && row.instaleaf_categoryId._id
                  ">
                  <option value="">Please select</option>
                  <option *ngFor="let item of mainCategories" value="{{ item.id }}">
                    {{ item.name }}
                  </option>
                </select>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </main>
</div>