<ngx-spinner bdColor="#fff" size="" color="#fff">
  <div class="loading">
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
    <div class="bars"></div>
  </div>
</ngx-spinner>
<div class="content js-content mt-5">
  <div class="card">
    <div class="card-header">
      <strong>{{ ID ? 'Edit' : 'Add' }} Marketplace Product</strong>
    </div>
    <!-- form to add or update Product -->
    <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="nf-name">Name</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="" minlength="3" maxlength="50"
                (keyup)="trim('name')" #name="ngModel" [ngModel]="object.name" (ngModelChange)="object.name = $event"
                required />
              <div class="error-block">
                <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                  Name is required.
                </small>
                <small *ngIf="name.errors?.minlength && name.touched" class="text-danger">
                  Minumum length should be 3.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="category_id">Category</label>
              <select id="category_id" name="category_id" class="form-control" size="1" [(ngModel)]="object.category_id"
                #category_id="ngModel" required="">
                <option value="">Please select</option>
                <option [ngClass]="{ hide: cat.type != 'marketplace' }" *ngFor="let cat of categories"
                  value="{{ cat.id }}">
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small *ngIf="category_id.errors?.required && category_id.touched" class="text-danger">
                  Category is required.
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="supplier_id">Supplier</label>
              <select id="supplier_id" name="supplier_id" [(ngModel)]="object.supplier_id" #supplier_id="ngModel"
                (change)="getcommission($event.target.value)" class="form-control" size="1" required="">
                <option value="">Please select</option>
                <option *ngFor="let cat of suppliers" value="{{ cat.id }}">
                  {{ cat.name }}
                </option>
              </select>
              <div class="error-block">
                <small *ngIf="supplier_id.errors?.required && supplier_id.touched" class="text-danger">
                  Supplier is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="nf-name">Supplier Commission</label>
              <input type="text" id="supplier_commission" name="supplier_commission" class="form-control"
                (keyup)="trim('supplier_commission')" #supplier_commission="ngModel"
                [ngModel]="object.supplier_commission" placeholder="" />
              <div class="error-block">
                <small *ngIf="
                    supplier_commission.errors?.required &&
                    supplier_commission.touched
                  " class="text-danger">
                  Supplier Commission is required.
                </small>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="price">Price ($)</label>
              <input type="number" id="price" oninput="this.value = Math.abs(this.value)" name="price" #price="ngModel"
                minlength="1" class="form-control" [(ngModel)]="object.price" step="0.1"
                (keydown.space)="$event.preventDefault()" required />
              <div class="error-block">
                <small *ngIf="price.errors?.required && price.touched" class="text-danger">
                  Price is required.
                </small>
                <small *ngIf="price.errors?.minlength && price.touched" class="text-danger">
                  Minimum value should be 1.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group has-required">
              <label for="nf-thc">Quantity</label>
              <input type="number" id="nf-Quantity" name="quantity" #quantity="ngModel" class="form-control"
                [(ngModel)]="object.quantity" (keydown.space)="$event.preventDefault()" placeholder="" required
                oninput="this.value = Math.abs(this.value)" />
              <div class="error-block">
                <small *ngIf="quantity.errors?.required && quantity.touched" class="text-danger">
                  Quantity is required.
                </small>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-2">
                        <div class="form-group">
                            <label for="nf-city">City</label>
                            <select id="city" name="city" class="form-control" size="1" [(ngModel)]="object.city" #city="ngModel">
                                <option value="">Please select</option>
                                <option *ngFor="let cat of cities" value="{{cat}}">{{cat}}</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                    City is required.
                                </small>       
                            </div> 
                        </div>
                    </div> -->
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group has-required">
              <label for="nf-terms">Detail</label>
              <!-- <textarea
                type="text"
                [(ngModel)]="object.description"
                (ngModelChange)="descriptionError = false"
                row="3"
                id="paymentTerms"
                name="paymentTerms"
                class="form-control"
                placeholder=""
                rows="5"
              ></textarea> -->
              <ckeditor name="paymentTerms" [(ngModel)]="object.description" (ngModelChange)="descriptionError = false" required>
                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" (click)="save($event)" [icon]="'save.png'"
                  [label]="'Save Document'" [toolbar]="'clipboard,1'">
                </ckbutton>
              </ckeditor>
              <div class="error-block">
                <small *ngIf="descriptionError" class="text-danger">
                  Detail can not be empty.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="custome-check size loginpage d-inline-block">
              <input id="option8" name="status" [(ngModel)]="object.isFeatured" type="checkbox" />
              <label for="option8" class="ml-2">Featured</label>
            </div>
          </div>
          <!-- <div class="col-sm-3">
                        <div class="custome-check size loginpage d-inline-block">
                            <input id="option9" name="isaloha" type="checkbox" [(ngModel)]="object.isAloha">
                            <label for="option9">Aloha</label>
                        </div>
                    </div> -->
          <div class="col-sm-6">
            <div class="form-group">
              <label class="blocklabel" for="nf-image" title="You can upload maximum 5 images">Images <small>(Max.
                  5)</small></label>
              <input [disabled]="!object.images || object.images.length == 5" #myInput type="file" name="file-7[]"
                id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple
                imageUpload (imageSelected)="uploadImage($event)"
                accept="image/jpg, image/jpeg, image/png, image/gif" />
              <label for="file-7">
                <strong>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                    <path
                      d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                  </svg>
                  Upload image</strong></label>
              <!-- <i class="fa fa-plus addimage"></i> -->
              <div class="thumbnail pointer-custom" *ngFor="let image of object.images">
                <img src="{{ _host }}/images/product/thumbnail/200/{{ image }}" />
                <i class="close fa fa-times" (click)="removeImage(image)"></i>
              </div>
              <!-- <div class="thumbnail pointer-custom" *ngFor="let image of object.images">
                                <img src="{{_host}}/images/product/thumbnail/200/{{image}}">
                                <i class="close fa fa-times" (click)="removeImage(image)"></i>
                            </div> -->
            </div>
          </div>
          <!-- <div class="col-sm-3">
                        <div class="form-group">
                            <label class="blocklabel" for="nf-image" title="You can upload maximum 5 images">Image</label>
                            <input  #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload
                (imageSelected)="uploadImage($event)"
                 accept="image/jpg, image/jpeg, image/png"/>
                            <label for="file-7"> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <div *ngIf="object.image" class="thumbnail pointer-custom" >
                                <img src="{{_host}}/images/product/{{object.image}}">
                                <i class="close fa fa-times" (click)="removeImage(object.image)"></i>
                            </div>
                        </div>
                    </div> -->
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-website">Meta Name </label>
              <input type="text" id="nf-website2" name="website2" #website2="ngModel" class="form-control"
                [(ngModel)]="object.metaName" placeholder="" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="nf-website">Meta Description </label>
              <input type="text" id="nf-website1" name="website1" #website1="ngModel" class="form-control"
                [(ngModel)]="object.metaDesc" placeholder="" />
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/market']">
          Cancel
        </button>
        <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addCropForm.valid">
          {{ ID ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>