.dashboardTabs {
  a {
    margin: 3px;
    color: #fff;
  }
}

.p-3 {
  padding: 15px !important;
}

.btn-primary {
  border-color: #3fa14c !important;
  background-color: #3fa14c !important;
  color: #fff !important;
}

.btn {
  i.mr-1 {
    margin-right: 7px !important;
  }
}
